<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.service.act3.dao.LuckyWheelRegistrationMapper">

	<select id="selectById" parameterType="java.lang.String"
		resultType="com.sandu.api.act3.model.LuckyWheelRegistration">
		select
		*
		from wx_act_lucky_wheel_registration
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectList" resultType="com.sandu.api.act3.model.LuckyWheelRegistration">
		select
		*
		from wx_act_lucky_wheel_registration
		where is_deleted=0
		<if test="id != null">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="actId != null">
			and act_id = #{actId,jdbcType=VARCHAR}
		</if>
		<if test="openId != null">
			and open_id = #{openId,jdbcType=VARCHAR}
		</if>
		<if test="nickname != null">
			and nickname = #{nickname,jdbcType=VARCHAR}
		</if>
		<if test="joinTime != null">
			and join_time = #{joinTime,jdbcType=TIMESTAMP}
		</if>
		
		<if test="lotteryTotalCount != null">
			and lottery_total_count = #{lotteryTotalCount,jdbcType=INTEGER}
		</if>
		<if test="awardsTotalCount != null">
			and awards_total_count = #{awardsTotalCount,jdbcType=INTEGER}
		</if>
		<if test="appId != null">
			and app_id = #{appId,jdbcType=VARCHAR}
		</if>
		<if test="companyId != null">
			and company_id = #{companyId,jdbcType=BIGINT}
		</if>
		<if test="creator != null">
			and creator = #{creator,jdbcType=VARCHAR}
		</if>
		<if test="gmtCreate != null">
			and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
		</if>
		<if test="modifier != null">
			and modifier = #{modifier,jdbcType=VARCHAR}
		</if>
		<if test="gmtModified != null">
			and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
		</if>
	</select>

	<insert id="insert" parameterType="com.sandu.api.act3.model.LuckyWheelRegistration">
		insert into wx_act_lucky_wheel_registration
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="actId != null">
				act_id,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="joinTime != null">
				join_time,
			</if>
			
			<if test="lotteryTotalCount != null">
				lottery_total_count,
			</if>
			<if test="awardsTotalCount != null">
				awards_total_count,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="actId != null">
				#{actId,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="joinTime != null">
				#{joinTime,jdbcType=TIMESTAMP},
			</if>
			
			<if test="lotteryTotalCount != null">
				#{lotteryTotalCount,jdbcType=INTEGER},
			</if>
			<if test="awardsTotalCount != null">
				#{awardsTotalCount,jdbcType=INTEGER},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=BIGINT},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateById" parameterType="com.sandu.api.act3.model.LuckyWheelRegistration">
		update wx_act_lucky_wheel_registration
		<set>
			<if test="actId != null">
				act_id = #{actId,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				open_id = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="joinTime != null">
				join_time = #{joinTime,jdbcType=TIMESTAMP},
			</if>
		
			<if test="lotteryTotalCount != null">
				lottery_total_count = #{lotteryTotalCount,jdbcType=INTEGER},
			</if>
			<if test="awardsTotalCount != null">
				awards_total_count = #{awardsTotalCount,jdbcType=INTEGER},
			</if>
			<if test="appId != null">
				app_id = #{appId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateToIncreaseLotteryRefCount" >
        update wx_act_lucky_wheel_registration 
        	set 
        		<if test="isAward == true">
        			awards_total_count = awards_total_count+1,
        		</if>
        		lottery_total_count = lottery_total_count+1
        where id = #{regId} and is_deleted=0
    </update>
    
 
    
    
    
</mapper>