<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.service.templet.dao.DrawDesignTempletProductMapper">
  <resultMap id="BaseResultMap" type="com.sandu.api.house.model.DrawDesignTempletProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="location_file_id" jdbcType="INTEGER" property="locationFileId" />
    <result column="product_sequence" jdbcType="VARCHAR" property="productSequence" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="design_templet_id" jdbcType="INTEGER" property="designTempletId" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="numa1" jdbcType="INTEGER" property="numa1" />
    <result column="numa2" jdbcType="INTEGER" property="numa2" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pos_index_path" jdbcType="VARCHAR" property="posIndexPath" />
    <result column="init_product_id" jdbcType="INTEGER" property="initProductId" />
    <result column="product_group_id" jdbcType="INTEGER" property="productGroupId" />
    <result column="is_main_product" jdbcType="INTEGER" property="isMainProduct" />
    <result column="pos_name" jdbcType="VARCHAR" property="posName" />
    <result column="timeId" jdbcType="VARCHAR" property="timeid" />
    <result column="plan_group_id" jdbcType="VARCHAR" property="planGroupId" />
    <result column="bind_parent_productId" jdbcType="VARCHAR" property="bindParentProductid" />
    <result column="group_type" jdbcType="INTEGER" property="groupType" />
    <result column="same_product_type_index" jdbcType="INTEGER" property="sameProductTypeIndex" />
    <result column="is_standard" jdbcType="INTEGER" property="isStandard" />
    <result column="center" jdbcType="VARCHAR" property="center" />
    <result column="region_mark" jdbcType="VARCHAR" property="regionMark" />
    <result column="style_id" jdbcType="INTEGER" property="styleId" />
    <result column="measure_code" jdbcType="VARCHAR" property="measureCode" />
    <result column="describe_info" jdbcType="VARCHAR" property="describeInfo" />
    <result column="product_index" jdbcType="INTEGER" property="productIndex" />
    <result column="is_main_structure_product" jdbcType="INTEGER" property="isMainStructureProduct" />
    <result column="is_group_replace_way" jdbcType="INTEGER" property="isGroupReplaceWay" />
    <result column="del_data_mark" jdbcType="VARCHAR" property="delDataMark" />
    <result column="wall_orientation" jdbcType="VARCHAR" property="wallOrientation" />
    <result column="wall_type" jdbcType="VARCHAR" property="wallType" />
    <result column="unique_id" jdbcType="VARCHAR" property="uniqueId" />
    <result column="create_product_status" jdbcType="INTEGER" property="createProductStatus" />
    <result column="group_unique_id" jdbcType="VARCHAR" property="groupUniqueId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, location_file_id, product_sequence, product_id, design_templet_id, sys_code, 
    creator, gmt_create, modifier, gmt_modified, is_deleted, att1, att2, numa1, numa2, 
    remark, pos_index_path, init_product_id, product_group_id, is_main_product, pos_name, 
    timeId, plan_group_id, bind_parent_productId, group_type, same_product_type_index, 
    is_standard, center, region_mark, style_id, measure_code, describe_info, product_index, 
    is_main_structure_product, is_group_replace_way, del_data_mark, wall_orientation, 
    wall_type, unique_id, create_product_status, group_unique_id
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from draw_design_templet_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from draw_design_templet_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.api.house.model.DrawDesignTempletProduct">
    insert into draw_design_templet_product (id, location_file_id, product_sequence, 
      product_id, design_templet_id, sys_code, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, att1, 
      att2, numa1, numa2, 
      remark, pos_index_path, init_product_id, 
      product_group_id, is_main_product, pos_name, 
      timeId, plan_group_id, bind_parent_productId, 
      group_type, same_product_type_index, is_standard, 
      center, region_mark, style_id, 
      measure_code, describe_info, product_index, 
      is_main_structure_product, is_group_replace_way, 
      del_data_mark, wall_orientation, wall_type
      )
    values (#{id,jdbcType=BIGINT}, #{locationFileId,jdbcType=INTEGER}, #{productSequence,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{designTempletId,jdbcType=INTEGER}, #{sysCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{att1,jdbcType=VARCHAR}, 
      #{att2,jdbcType=VARCHAR}, #{numa1,jdbcType=INTEGER}, #{numa2,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{posIndexPath,jdbcType=VARCHAR}, #{initProductId,jdbcType=INTEGER}, 
      #{productGroupId,jdbcType=INTEGER}, #{isMainProduct,jdbcType=INTEGER}, #{posName,jdbcType=VARCHAR}, 
      #{timeid,jdbcType=VARCHAR}, #{planGroupId,jdbcType=VARCHAR}, #{bindParentProductid,jdbcType=VARCHAR}, 
      #{groupType,jdbcType=INTEGER}, #{sameProductTypeIndex,jdbcType=INTEGER}, #{isStandard,jdbcType=INTEGER}, 
      #{center,jdbcType=VARCHAR}, #{regionMark,jdbcType=VARCHAR}, #{styleId,jdbcType=INTEGER}, 
      #{measureCode,jdbcType=VARCHAR}, #{describeInfo,jdbcType=VARCHAR}, #{productIndex,jdbcType=INTEGER}, 
      #{isMainStructureProduct,jdbcType=INTEGER}, #{isGroupReplaceWay,jdbcType=INTEGER}, 
      #{delDataMark,jdbcType=VARCHAR}, #{wallOrientation,jdbcType=VARCHAR}, #{wallType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.api.house.model.DrawDesignTempletProduct">
    insert into draw_design_templet_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="locationFileId != null">
        location_file_id,
      </if>
      <if test="productSequence != null">
        product_sequence,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="designTempletId != null">
        design_templet_id,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="numa1 != null">
        numa1,
      </if>
      <if test="numa2 != null">
        numa2,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="posIndexPath != null">
        pos_index_path,
      </if>
      <if test="initProductId != null">
        init_product_id,
      </if>
      <if test="productGroupId != null">
        product_group_id,
      </if>
      <if test="isMainProduct != null">
        is_main_product,
      </if>
      <if test="posName != null">
        pos_name,
      </if>
      <if test="timeid != null">
        timeId,
      </if>
      <if test="planGroupId != null">
        plan_group_id,
      </if>
      <if test="bindParentProductid != null">
        bind_parent_productId,
      </if>
      <if test="groupType != null">
        group_type,
      </if>
      <if test="sameProductTypeIndex != null">
        same_product_type_index,
      </if>
      <if test="isStandard != null">
        is_standard,
      </if>
      <if test="center != null">
        center,
      </if>
      <if test="regionMark != null">
        region_mark,
      </if>
      <if test="styleId != null">
        style_id,
      </if>
      <if test="measureCode != null">
        measure_code,
      </if>
      <if test="describeInfo != null">
        describe_info,
      </if>
      <if test="productIndex != null">
        product_index,
      </if>
      <if test="isMainStructureProduct != null">
        is_main_structure_product,
      </if>
      <if test="isGroupReplaceWay != null">
        is_group_replace_way,
      </if>
      <if test="delDataMark != null">
        del_data_mark,
      </if>
      <if test="wallOrientation != null">
        wall_orientation,
      </if>
      <if test="wallType != null">
        wall_type,
      </if>
      <if test="uniqueId != null">
        unique_id,
      </if>
      <if test="createProductStatus != null">
        create_product_status,
      </if>
      <if test="groupUniqueId != null">
        group_unique_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="locationFileId != null">
        #{locationFileId,jdbcType=INTEGER},
      </if>
      <if test="productSequence != null">
        #{productSequence,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="designTempletId != null">
        #{designTempletId,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        #{numa2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="posIndexPath != null">
        #{posIndexPath,jdbcType=VARCHAR},
      </if>
      <if test="initProductId != null">
        #{initProductId,jdbcType=INTEGER},
      </if>
      <if test="productGroupId != null">
        #{productGroupId,jdbcType=INTEGER},
      </if>
      <if test="isMainProduct != null">
        #{isMainProduct,jdbcType=INTEGER},
      </if>
      <if test="posName != null">
        #{posName,jdbcType=VARCHAR},
      </if>
      <if test="timeid != null">
        #{timeid,jdbcType=VARCHAR},
      </if>
      <if test="planGroupId != null">
        #{planGroupId,jdbcType=VARCHAR},
      </if>
      <if test="bindParentProductid != null">
        #{bindParentProductid,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null">
        #{groupType,jdbcType=INTEGER},
      </if>
      <if test="sameProductTypeIndex != null">
        #{sameProductTypeIndex,jdbcType=INTEGER},
      </if>
      <if test="isStandard != null">
        #{isStandard,jdbcType=INTEGER},
      </if>
      <if test="center != null">
        #{center,jdbcType=VARCHAR},
      </if>
      <if test="regionMark != null">
        #{regionMark,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null">
        #{styleId,jdbcType=INTEGER},
      </if>
      <if test="measureCode != null">
        #{measureCode,jdbcType=VARCHAR},
      </if>
      <if test="describeInfo != null">
        #{describeInfo,jdbcType=VARCHAR},
      </if>
      <if test="productIndex != null">
        #{productIndex,jdbcType=INTEGER},
      </if>
      <if test="isMainStructureProduct != null">
        #{isMainStructureProduct,jdbcType=INTEGER},
      </if>
      <if test="isGroupReplaceWay != null">
        #{isGroupReplaceWay,jdbcType=INTEGER},
      </if>
      <if test="delDataMark != null">
        #{delDataMark,jdbcType=VARCHAR},
      </if>
      <if test="wallOrientation != null">
        #{wallOrientation,jdbcType=VARCHAR},
      </if>
      <if test="wallType != null">
        #{wallType,jdbcType=VARCHAR},
      </if>
      <if test="uniqueId != null">
        #{uniqueId,jdbcType=VARCHAR},
      </if>
      <if test="createProductStatus != null">
        #{createProductStatus,jdbcType=INTEGER},
      </if>
      <if test="groupUniqueId != null">
        #{groupUniqueId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.api.house.model.DrawDesignTempletProduct">
    update draw_design_templet_product
    <set>
      <if test="locationFileId != null">
        location_file_id = #{locationFileId,jdbcType=INTEGER},
      </if>
      <if test="productSequence != null">
        product_sequence = #{productSequence,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="designTempletId != null">
        design_templet_id = #{designTempletId,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="numa1 != null">
        numa1 = #{numa1,jdbcType=INTEGER},
      </if>
      <if test="numa2 != null">
        numa2 = #{numa2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="posIndexPath != null">
        pos_index_path = #{posIndexPath,jdbcType=VARCHAR},
      </if>
      <if test="initProductId != null">
        init_product_id = #{initProductId,jdbcType=INTEGER},
      </if>
      <if test="productGroupId != null">
        product_group_id = #{productGroupId,jdbcType=INTEGER},
      </if>
      <if test="isMainProduct != null">
        is_main_product = #{isMainProduct,jdbcType=INTEGER},
      </if>
      <if test="posName != null">
        pos_name = #{posName,jdbcType=VARCHAR},
      </if>
      <if test="timeid != null">
        timeId = #{timeid,jdbcType=VARCHAR},
      </if>
      <if test="planGroupId != null">
        plan_group_id = #{planGroupId,jdbcType=VARCHAR},
      </if>
      <if test="bindParentProductid != null">
        bind_parent_productId = #{bindParentProductid,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null">
        group_type = #{groupType,jdbcType=INTEGER},
      </if>
      <if test="sameProductTypeIndex != null">
        same_product_type_index = #{sameProductTypeIndex,jdbcType=INTEGER},
      </if>
      <if test="isStandard != null">
        is_standard = #{isStandard,jdbcType=INTEGER},
      </if>
      <if test="center != null">
        center = #{center,jdbcType=VARCHAR},
      </if>
      <if test="regionMark != null">
        region_mark = #{regionMark,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null">
        style_id = #{styleId,jdbcType=INTEGER},
      </if>
      <if test="measureCode != null">
        measure_code = #{measureCode,jdbcType=VARCHAR},
      </if>
      <if test="describeInfo != null">
        describe_info = #{describeInfo,jdbcType=VARCHAR},
      </if>
      <if test="productIndex != null">
        product_index = #{productIndex,jdbcType=INTEGER},
      </if>
      <if test="isMainStructureProduct != null">
        is_main_structure_product = #{isMainStructureProduct,jdbcType=INTEGER},
      </if>
      <if test="isGroupReplaceWay != null">
        is_group_replace_way = #{isGroupReplaceWay,jdbcType=INTEGER},
      </if>
      <if test="delDataMark != null">
        del_data_mark = #{delDataMark,jdbcType=VARCHAR},
      </if>
      <if test="wallOrientation != null">
        wall_orientation = #{wallOrientation,jdbcType=VARCHAR},
      </if>
      <if test="wallType != null">
        wall_type = #{wallType,jdbcType=VARCHAR},
      </if>
      <if test="designTempletProductId != null">
        design_templet_product_id = #{designTempletProductId,jdbcType=BIGINT},
      </if>
      <if test="proPosition != null and proPosition != ''">
        pro_position = #{proPosition},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.api.house.model.DrawDesignTempletProduct">
    update draw_design_templet_product
    set location_file_id = #{locationFileId,jdbcType=INTEGER},
      product_sequence = #{productSequence,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      design_templet_id = #{designTempletId,jdbcType=INTEGER},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      numa1 = #{numa1,jdbcType=INTEGER},
      numa2 = #{numa2,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      pos_index_path = #{posIndexPath,jdbcType=VARCHAR},
      init_product_id = #{initProductId,jdbcType=INTEGER},
      product_group_id = #{productGroupId,jdbcType=INTEGER},
      is_main_product = #{isMainProduct,jdbcType=INTEGER},
      pos_name = #{posName,jdbcType=VARCHAR},
      timeId = #{timeid,jdbcType=VARCHAR},
      plan_group_id = #{planGroupId,jdbcType=VARCHAR},
      bind_parent_productId = #{bindParentProductid,jdbcType=VARCHAR},
      group_type = #{groupType,jdbcType=INTEGER},
      same_product_type_index = #{sameProductTypeIndex,jdbcType=INTEGER},
      is_standard = #{isStandard,jdbcType=INTEGER},
      center = #{center,jdbcType=VARCHAR},
      region_mark = #{regionMark,jdbcType=VARCHAR},
      style_id = #{styleId,jdbcType=INTEGER},
      measure_code = #{measureCode,jdbcType=VARCHAR},
      describe_info = #{describeInfo,jdbcType=VARCHAR},
      product_index = #{productIndex,jdbcType=INTEGER},
      is_main_structure_product = #{isMainStructureProduct,jdbcType=INTEGER},
      is_group_replace_way = #{isGroupReplaceWay,jdbcType=INTEGER},
      del_data_mark = #{delDataMark,jdbcType=VARCHAR},
      wall_orientation = #{wallOrientation,jdbcType=VARCHAR},
      wall_type = #{wallType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- findAllBySearch -->
  <select id="findAllBySearch" parameterType="com.sandu.api.house.search.DrawDesignTempletProductSearch" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from draw_design_templet_product
    where is_deleted = 0
    <if test="designTempletId != null">
    	and design_templet_id = #{designTempletId, jdbcType=BIGINT}
    </if>
    <if test="uniqueId != null">
    	and unique_id = #{uniqueId, jdbcType=VARCHAR}
    </if>
    <if test="start != null and limit != null">
    	limit #{start, jdbcType=BIGINT},#{limit, jdbcType=BIGINT}
    </if>
  </select>

	<!-- transformToDesignTempletProduct -->
	<insert id="transformToDesignTempletProduct" parameterType="com.sandu.api.house.model.DrawDesignTempletProduct"
		keyProperty="designTempletProductId" useGeneratedKeys="true">
		insert into design_templet_product
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="locationFileId != null">
				location_file_id,
			</if>
			<if test="productSequence != null">
				product_sequence,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="designTempletId != null">
				design_templet_id,
			</if>
			<if test="sysCode != null">
				sys_code,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="att1 != null">
				att1,
			</if>
			<if test="att2 != null">
				att2,
			</if>
			<if test="numa1 != null">
				numa1,
			</if>
			<if test="numa2 != null">
				numa2,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="posIndexPath != null">
				pos_index_path,
			</if>
			<if test="initProductId != null">
				init_product_id,
			</if>
			<if test="productGroupId != null">
				product_group_id,
			</if>
			<if test="isMainProduct != null">
				is_main_product,
			</if>
			<if test="posName != null">
				pos_name,
			</if>
			<if test="timeid != null">
				timeId,
			</if>
			<if test="planGroupId != null">
				plan_group_id,
			</if>
			<if test="bindParentProductid != null">
				bind_parent_productId,
			</if>
			<if test="groupType != null">
				group_type,
			</if>
			<if test="sameProductTypeIndex != null">
				same_product_type_index,
			</if>
			<if test="isStandard != null">
				is_standard,
			</if>
			<if test="center != null">
				center,
			</if>
			<if test="regionMark != null">
				region_mark,
			</if>
			<if test="styleId != null">
				style_id,
			</if>
			<if test="measureCode != null">
				measure_code,
			</if>
			<if test="describeInfo != null">
				describe_info,
			</if>
			<if test="productIndex != null">
				product_index,
			</if>
			<if test="isMainStructureProduct != null">
				is_main_structure_product,
			</if>
			<if test="isGroupReplaceWay != null">
				is_group_replace_way,
			</if>
			<if test="delDataMark != null">
				del_data_mark,
			</if>
			<if test="wallOrientation != null">
				wall_orientation,
			</if>
			<if test="wallType != null">
				wall_type,
			</if>
			<if test="relDrawId != null">
				rel_draw_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="locationFileId != null">
				#{locationFileId,jdbcType=INTEGER},
			</if>
			<if test="productSequence != null">
				#{productSequence,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=INTEGER},
			</if>
			<if test="designTempletId != null">
				#{designTempletId,jdbcType=INTEGER},
			</if>
			<if test="sysCode != null">
				#{sysCode,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
			</if>
			<if test="att1 != null">
				#{att1,jdbcType=VARCHAR},
			</if>
			<if test="att2 != null">
				#{att2,jdbcType=VARCHAR},
			</if>
			<if test="numa1 != null">
				#{numa1,jdbcType=INTEGER},
			</if>
			<if test="numa2 != null">
				#{numa2,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="posIndexPath != null">
				#{posIndexPath,jdbcType=VARCHAR},
			</if>
			<if test="initProductId != null">
				#{initProductId,jdbcType=INTEGER},
			</if>
			<if test="productGroupId != null">
				#{productGroupId,jdbcType=INTEGER},
			</if>
			<if test="isMainProduct != null">
				#{isMainProduct,jdbcType=INTEGER},
			</if>
			<if test="posName != null">
				#{posName,jdbcType=VARCHAR},
			</if>
			<if test="timeid != null">
				#{timeid,jdbcType=VARCHAR},
			</if>
			<if test="planGroupId != null">
				#{planGroupId,jdbcType=VARCHAR},
			</if>
			<if test="bindParentProductid != null">
				#{bindParentProductid,jdbcType=VARCHAR},
			</if>
			<if test="groupType != null">
				#{groupType,jdbcType=INTEGER},
			</if>
			<if test="sameProductTypeIndex != null">
				#{sameProductTypeIndex,jdbcType=INTEGER},
			</if>
			<if test="isStandard != null">
				#{isStandard,jdbcType=INTEGER},
			</if>
			<if test="center != null">
				#{center,jdbcType=VARCHAR},
			</if>
			<if test="regionMark != null">
				#{regionMark,jdbcType=VARCHAR},
			</if>
			<if test="styleId != null">
				#{styleId,jdbcType=INTEGER},
			</if>
			<if test="measureCode != null">
				#{measureCode,jdbcType=VARCHAR},
			</if>
			<if test="describeInfo != null">
				#{describeInfo,jdbcType=VARCHAR},
			</if>
			<if test="productIndex != null">
				#{productIndex,jdbcType=INTEGER},
			</if>
			<if test="isMainStructureProduct != null">
				#{isMainStructureProduct,jdbcType=INTEGER},
			</if>
			<if test="isGroupReplaceWay != null">
				#{isGroupReplaceWay,jdbcType=INTEGER},
			</if>
			<if test="delDataMark != null">
				#{delDataMark,jdbcType=VARCHAR},
			</if>
			<if test="wallOrientation != null">
				#{wallOrientation,jdbcType=VARCHAR},
			</if>
			<if test="wallType != null">
				#{wallType,jdbcType=VARCHAR},
			</if>
			<if test="relDrawId != null">
				#{relDrawId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

  <insert id="batchSaveDesignTempletProduct" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO draw_design_templet_product
      (
        product_id, design_templet_id, sys_code,
        creator, gmt_create, modifier,
        gmt_modified, is_deleted, unique_id,
        create_product_status, wall_Orientation, wall_Type,
        product_group_id, is_main_product, group_type,
        group_unique_id, plan_group_id, region_mark,
        bind_parent_productId
      )
    VALUES
    <foreach collection="list" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.productId}, #{item.designTempletId}, #{item.sysCode},
        #{item.creator}, #{item.gmtCreate}, #{item.modifier},
        #{item.gmtModified}, #{item.isDeleted}, #{item.uniqueId},
        #{item.createProductStatus}, #{item.wallOrientation}, #{item.wallType},
        #{item.productGroupId}, #{item.isMainProduct}, #{item.groupType},
        #{item.groupUniqueId}, #{item.planGroupId}, #{item.regionMark},
        #{item.bindParentProductid},
      </trim>
    </foreach>
  </insert>

  <insert id="batchTransformDesignTempletProduct" parameterType="com.sandu.api.house.model.DrawDesignTempletProduct"
          keyProperty="designTempletProductId" useGeneratedKeys="true">
    INSERT INTO design_templet_product
      (
        product_sequence, product_id, design_templet_id,
        sys_code, creator, gmt_create, modifier,
        gmt_modified, is_deleted, pos_index_path,
        init_product_id, product_group_id, is_main_product,
        pos_name, plan_group_id, bind_parent_productId,
        group_type, same_product_type_index, is_standard,
        center, region_mark, style_id,
        measure_code, describe_info, product_index,
        is_main_structure_product, is_group_replace_way, del_data_mark,
        wall_orientation, wall_type
      )
    VALUES
    <foreach collection="list" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.productSequence}, #{item.productId}, #{item.designTempletId},
        #{item.sysCode}, #{item.creator}, #{item.gmtCreate}, #{item.modifier},
        #{item.gmtModified}, #{item.isDeleted}, #{item.posIndexPath},
        #{item.initProductId}, #{item.productGroupId}, #{item.isMainProduct},
        #{item.posName}, #{item.planGroupId}, #{item.bindParentProductid},
        #{item.groupType}, #{item.sameProductTypeIndex}, #{item.isStandard},
        #{item.center}, #{item.regionMark}, #{item.styleId},
        #{item.measureCode}, #{item.describeInfo}, #{item.productIndex},
        #{item.isMainStructureProduct}, #{item.isGroupReplaceWay}, #{item.delDataMark},
        #{item.wallOrientation}, #{item.wallType},
      </trim>
    </foreach>
  </insert>

  <update id="deleteDrawDesignTempletProduct">
      UPDATE
        draw_design_templet_product dtp
      SET
        dtp.is_deleted = #{status}
      WHERE dtp.is_deleted = 0
        AND dtp.design_templet_id IN
        <foreach collection="emptyTemplets" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
    </update>
  	
  	<update id="deleteDesignTempletProduct">
  		UPDATE 
		  design_templet_product dtp 
		SET
		  dtp.is_deleted = #{status} 
		WHERE dtp.is_deleted = 0 
		  AND dtp.design_templet_id IN 
    	  <foreach collection="designTemplets" item="item" open="(" separator="," close=")">
    	    #{item}
    	  </foreach>
  	</update>
  	
  	<update id="emptyDesignTempletProduct">
  		UPDATE 
		  design_templet_product dtp 
		SET
		  dtp.is_deleted = #{status} 
		WHERE dtp.is_deleted = 0 
		  AND dtp.design_templet_id IN 
    	  <foreach collection="designTemplets" item="item" open="(" separator="," close=")">
    	    #{item}
    	  </foreach>
  	</update>

    <update id="batchUpdateDesignTempletProduct">
      UPDATE
        draw_design_templet_product dtp
      <set>
        <trim suffixOverrides=",">
          dtp.pos_index_path = <include refid="posIndexPath" />,
          dtp.pos_name = <include refid="posName" />,
          dtp.product_sequence = <include refid="productSequence" />,
          dtp.pro_position = <include refid="proPosition" />,
        </trim>
      </set>
      WHERE dtp.id IN
        <foreach collection="products" item="item" open="(" close=")" separator=",">
          #{item.id}
        </foreach>
    </update>

  <update id="batchUpdateDrawDesignTempletProductByCallback">
    UPDATE
      draw_design_templet_product dtp
    SET
      dtp.design_templet_product_id =
      <trim prefix="(CASE dtp.id " suffix=" END)">
        <foreach collection="list" item="item">
          WHEN #{item.id} THEN #{item.designTempletProductId}
        </foreach>
      </trim>
    WHERE dtp.id IN
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item.id}
    </foreach>
  </update>

  <sql id="posIndexPath">
    <trim prefix="(CASE dtp.id " suffix=" END)">
      <foreach collection="products" item="item">
        WHEN #{item.id} THEN #{item.posIndexPath}
      </foreach>
    </trim>
  </sql>

  <sql id="productSequence">
    <trim prefix="(CASE dtp.id " suffix=" END)">
      <foreach collection="products" item="item">
        WHEN #{item.id} THEN #{item.productSequence}
      </foreach>
    </trim>
  </sql>

  <sql id="posName">
    <trim prefix="(CASE dtp.id " suffix=" END)">
      <foreach collection="products" item="item">
        WHEN #{item.id} THEN #{item.posName}
      </foreach>
    </trim>
  </sql>

  <sql id="proPosition">
    <trim prefix="(CASE dtp.id " suffix=" END)">
      <foreach collection="products" item="item">
        WHEN #{item.id} THEN #{item.proPosition}
      </foreach>
    </trim>
  </sql>

  <select id="getJumpPositionDesignTempletProduct" resultType="com.sandu.api.house.bo.JumpPositionDesignTempletProductBO">
    SELECT
      dtp.id drawDtpId,
      dtp.design_templet_id drawTempletId,
      dt.design_templet_id,
      dtp.unique_id,
      bp.product_type_mark proType,
      dtp.pro_position
    FROM
      draw_space_common sc,
      draw_design_templet dt,
      draw_design_templet_product dtp,
      draw_base_product bp
    WHERE sc.is_deleted = 0
      AND dt.is_deleted = 0
      AND dtp.is_deleted = 0
      AND bp.is_deleted = 0
      AND dtp.create_product_status = 1
      AND sc.id = dt.space_common_id
      AND dt.id = dtp.design_templet_id
      AND dtp.product_id = bp.id
      AND dt.design_templet_id > 0
      AND bp.product_type_mark = #{proType}
      AND sc.draw_base_house_id = #{houseId}
      AND NOT EXISTS
      (SELECT
        jpr.draw_dtp_id
      FROM
        design_templet_jump_position_rel jpr
      WHERE jpr.draw_dtp_id = dtp.id)
  </select>
</mapper>