<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:reference interface="com.sandu.api.user.service.TestService"
                     id="testService" version="20.18.0" retries="0" timeout="60000"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="pc2b" version="20.18.0" retries="0" timeout="60000" group="pc"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="pcHouseDraw" version="20.18.0" retries="0" timeout="60000" group="pcHouseDraw"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="mobile2b" version="20.18.0" retries="0" timeout="60000" group="mobile2b"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="mobile2c" version="20.18.0" retries="0" timeout="60000" group="mobile2c"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="brand2c" version="20.18.0" retries="0" timeout="60000" group="website"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="merchantManage" version="20.18.0" retries="0" timeout="60000" group="merchant"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="operationPlatform" protocol="dubbo" timeout="3000" version="20.18.0" group="operationPlatform"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="sanduManagerNew" protocol="dubbo" timeout="3000" version="20.18.0" group="sanduManagerNew"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="miniProgram" version="20.18.0" retries="0" timeout="60000" group="miniProgram"/> 
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="pc2bCustom" version="20.18.0" retries="0" timeout="60000" group="customCompany"/>                                  
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLogoutService"
                     id="userLogoutService" version="20.18.0" retries="0" timeout="60000"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="anonymousUserLoginService" version="20.18.0" retries="0" timeout="60000" group="anonymous"/>
    <dubbo:reference interface="com.sandu.api.user.service.SysUserService"
                     id="sysUserService" version="20.18.0" retries="0" timeout="60000"/>
    <dubbo:reference interface="com.sandu.api.user.service.biz.UserLoginService"
                     id="cityUnionMediation" version="20.18.0" retries="0" timeout="60000" group="cityUnionMediation"/>
                     
    <dubbo:reference interface="com.sandu.api.user.service.manage.SysUserManageService" version="20.18.1" id="sysUserManageService"/>
    <dubbo:reference interface="com.sandu.api.system.service.SysVersionService" version="20.18.0" id="sysVersionService"/>

    <dubbo:reference interface="com.sandu.api.system.service.ResPicService" id="resPicService"  version="20.18.0" />

</beans>