<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 供求信息图片服务接口 -->
	<dubbo:service interface="com.sandu.supplydemand.service.SupplyDemandPicService"
		ref="supplyDemandPicService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}" />

	<!-- 供求信息服务接口 -->
	<dubbo:service interface="com.sandu.supplydemand.service.SupplyDemandService"
				   ref="supplyDemandService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}" />
	<!-- 供求信息分类服务接口 -->
	<dubbo:service interface="com.sandu.supplydemand.service.SupplyDemandCategoryService"
				   ref="supplyDemandCategoryService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}" />

</beans>