var filters = {
    toFix: function(v, n) {
        return v.toFixed(n);
    },
    toSpilt: function(v, n, i) {
        return v ? v.split(n)[i] : v;
    },
    toTirm: function(v) {
        return v ? v.trim(): ''
    }
}
module.exports = {
    toFix: filters.toFix,
    toSpilt: filters.toSpilt,
    toTirm: filters.toTirm
}