<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">


    <!-- 设计方案样板房服务 -->
    <dubbo:reference id="designTempletService" 
	    interface="com.sandu.designtemplate.service.DesignTempletService" 
	    check="false"
	    version="${dubbo.version}" retries="${dubbo.retries}"/>
	    
	<dubbo:reference id="fullHouseDesignPlanService" 
	    interface="com.sandu.fullhouse.service.FullHouseDesignPlanService" 
	    check="false"
	    version="${dubbo.version}" retries="${dubbo.retries}"/>
	    
    <dubbo:reference id="designPlanRecommendedService" 
	    interface="com.sandu.designplan.service.DesignPlanRecommendedService" 
	    check="false"
	    version="${dubbo.version}" retries="${dubbo.retries}"/>
	    
</beans>