<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nork.design.dao.DesignPlanRenderSceneMapper">

	<sql id="All_Column_List">
		id,spelling_flower_product,spelling_flower_file_id,check_user_name,fail_cause,is_recommended,is_default_decorate,plan_number,design_recommended_style_id,release_time,cover_pic_id,plan_code,plan_name,plan_source,house_id,living_id,residential_units_name,user_id,media_type,design_source_type,design_id,share_total,is_open,is_change,
		is_decorated,draft_state,baiMo_state,stuff_finish_state,decorate_finish_state,design_template_id,design_style_id,pic_id,model_id,model_3d_id,model_u3d_id,web_model_u3d_id,ios_model_u3d_id,ipad_model_u3d_id,pc_model_u3d_id,
		android_model_u3d_id,macBookpc_model_u3d_id,config_file_id,space_common_id,plan_desc,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted,remark,evening_file_id,dawn_file_id,night_file_id,effects_config,design_plan_id,scene_modified,waterjet_info,
		render_type,apply_space_areas,group_primary_id
	</sql>
	<sql id="All_Column_List_User">
		dpr.id,dpr.spelling_flower_product,dpr.spelling_flower_file_id,dpr.check_user_name,dpr.fail_cause,dpr.is_recommended,dpr.is_default_decorate,dpr.plan_number,
		dpr.design_recommended_style_id,dpr.release_time,dpr.cover_pic_id,dpr.plan_code,dpr.plan_name,dpr.plan_source,dpr.house_id,dpr.living_id,dpr.residential_units_name,
		dpr.user_id,dpr.media_type,dpr.design_source_type,dpr.design_id,dpr.share_total,dpr.is_open,dpr.is_change,dpr.is_decorated,dpr.draft_state,dpr.baiMo_state,
		dpr.stuff_finish_state,dpr.decorate_finish_state,dpr.design_template_id,dpr.design_style_id,dpr.pic_id,dpr.model_id,dpr.model_3d_id,dpr.model_u3d_id,dpr.web_model_u3d_id,dpr.ios_model_u3d_id,dpr.ipad_model_u3d_id,dpr.pc_model_u3d_id,
		dpr.android_model_u3d_id,dpr.macBookpc_model_u3d_id,dpr.config_file_id,dpr.space_common_id,dpr.plan_desc,dpr.sys_code,IFNULL(su.user_name,'无') as creator,dpr.gmt_create,
		dpr.modifier,dpr.gmt_modified,dpr.is_deleted,dpr.remark,dpr.evening_file_id,dpr.dawn_file_id,dpr.night_file_id,dpr.effects_config,
		dpr.design_plan_id,dpr.scene_modified
	</sql>

	<resultMap id="AllResultMap" type="com.nork.design.model.DesignPlanRenderScene">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="spelling_flower_file_id" property="spellingFlowerFileId" jdbcType="INTEGER" />
		<result  column="spelling_flower_product" property="spellingFlowerProduct" jdbcType="INTEGER" />
		<result  column="space_code" property="spaceCode" jdbcType="VARCHAR" />
		<result  column="check_user_name" property="checkUserName" jdbcType="VARCHAR" />
		<result  column="fail_cause" property="failCause" jdbcType="VARCHAR" />
		<result  column="pic_path" property="picPath" jdbcType="VARCHAR" />
		<result  column="plan_code" property="planCode" jdbcType="VARCHAR" />
		<result  column="plan_name" property="planName" jdbcType="VARCHAR" />
		<result column="plan_source" property="planSource" jdbcType="VARCHAR"/>
		<result column="house_id" property="houseId" jdbcType="INTEGER"/>
		<result column="living_id" property="livingId" jdbcType="INTEGER"/>
		<result column="residential_units_name" property="residentialUnitsName" jdbcType="VARCHAR"/>
		<result  column="user_id" property="userId" jdbcType="INTEGER" />
		<result  column="media_type" property="mediaType" jdbcType="INTEGER" />
		<result  column="design_source_type" property="designSourceType" jdbcType="INTEGER" />
		<result  column="design_id" property="designId" jdbcType="INTEGER" />
		<result  column="design_template_id" property="designTemplateId" jdbcType="INTEGER" />
		<result  column="design_style_id" property="designStyleId" jdbcType="INTEGER" />
		<result  column="pic_id" property="picId" jdbcType="INTEGER" />
		<result  column="model_id" property="modelId" jdbcType="INTEGER" />
		<result  column="model_3d_id" property="model3dId" jdbcType="INTEGER" />
		<result  column="model_u3d_id" property="modelU3dId" jdbcType="INTEGER" />
		<result  column="web_model_u3d_id" property="webModelU3dId" jdbcType="INTEGER" />
		<result  column="ios_model_u3d_id" property="iosModelU3dId" jdbcType="INTEGER" />
		<result  column="ipad_model_u3d_id" property="ipadModelU3dId" jdbcType="INTEGER" />
		<result  column="pc_model_u3d_id" property="pcModelU3dId" jdbcType="INTEGER" />
		<result  column="android_model_u3d_id" property="androidModelU3dId" jdbcType="INTEGER" />
		<result  column="macBookpc_model_u3d_id" property="macBookpcModelU3dId" jdbcType="INTEGER" />
		<result  column="config_file_id" property="configFileId" jdbcType="INTEGER" />
		<result  column="space_common_id" property="spaceCommonId" jdbcType="INTEGER" />
		<result  column="space_function_id" property="spaceFunctionId" jdbcType="INTEGER" />
		<result  column="space_areas" property="spaceAreas" jdbcType="VARCHAR" />
		<result  column="plan_desc" property="planDesc" jdbcType="VARCHAR" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
		<result  column="share_total" property="shareTotal" jdbcType="INTEGER" />
		<result  column="is_open" property="isOpen" jdbcType="INTEGER" />
		<result  column="is_change" property="isChange" jdbcType="INTEGER" />
		<result  column="is_decorated" property="isDecorated" jdbcType="INTEGER" />
		<result  column="draft_state" property="draftState" jdbcType="INTEGER" />
		<result  column="baiMo_state" property="baiMoState" jdbcType="INTEGER" />
		<result  column="stuff_finish_state" property="stuffFinishState" jdbcType="INTEGER" />
		<result  column="decorate_finish_state" property="decorateFinishState" jdbcType="INTEGER" />
		<result  column="cover_pic_id" property="coverPicId" jdbcType="INTEGER" />
		<result  column="is_release" property="isRelease" jdbcType="INTEGER" />
		<result  column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
		<result  column="design_recommended_style_id" property="designRecommendedStyleId" jdbcType="INTEGER" />
 		<result  column="effects_config" property="effectsConfig" jdbcType="VARCHAR" />
 		<result  column="is_recommended" property="isRecommended" jdbcType="INTEGER" />
 		<result  column="is_default_decorate" property="isDefaultDecorate" jdbcType="INTEGER" />
 		<result  column="plan_number" property="planNumber" jdbcType="VARCHAR" />
 		<result  column="design_plan_id" property="designPlanId" jdbcType="INTEGER" />
 		<result  column="scene_modified" property="sceneModified" jdbcType="INTEGER" />
 		<result  column="platform_id" property="platformId" jdbcType="INTEGER" />
 		
 		<!-- add by huangsongbo 2018.4.18 查询效果图有没有对应的普通/智能方案 ->start -->
 		<result  column="dpr_common_id" property="dprCommonId" jdbcType="INTEGER" />
 		<result  column="dpr_capacity_id" property="dprCapacityId" jdbcType="INTEGER" />
 		<result  column="dpr_is_release_o" property="dprIsReleaseO" jdbcType="INTEGER" />
 		<result  column="dpr_is_release_t" property="dprIsReleaseT" jdbcType="INTEGER" />
 		<!-- add by huangsongbo 2018.4.18 查询效果图有没有对应的普通/智能方案 ->end -->
 		
 		<!-- add by huangsongbo 2018.6.11 水刀配置 -->
 		<result  column="waterjet_info" property="waterjetInfo" jdbcType="VARCHAR" />

 		<result  column="render_type" property="renderType" jdbcType="INTEGER" />
 		<result  column="apply_space_areas" property="applySpaceAreas" jdbcType="VARCHAR" />
 		<result  column="group_primary_id" property="groupPrimaryId" jdbcType="INTEGER" />
	</resultMap>

	<insert id="insert" parameterType="com.nork.design.model.DesignPlanRenderScene"  useGeneratedKeys="true" keyProperty="id">
		insert into design_plan_render_scene
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="failCause!= null">fail_cause, </if>
		<if test="planCode!= null">plan_code, </if>
		<if test="planName!= null">plan_name, </if>
		<if test="planSource!= null">plan_source, </if>
		<if test="houseId!= null">house_id, </if>
		<if test="livingId!= null">living_id, </if>
		<if test="residentialUnitsName!= null">residential_units_name,</if>
		<if test="userId!= null">user_id, </if>
		<if test="mediaType!= null">media_type, </if>
		<if test="designSourceType!= null">design_source_type, </if>
		<if test="designId!= null">design_id, </if>
		<if test="designTemplateId!= null">design_template_id, </if>
		<if test="designStyleId!= null">design_style_id, </if>
		<if test="picId!= null">pic_id, </if>
		<if test="modelId!= null">model_id, </if>
		<if test="model3dId!= null">model_3d_id, </if>
		<if test="modelU3dId!= null">model_u3d_id, </if>
		<if test="webModelU3dId!= null">web_model_u3d_id, </if>
		<if test="iosModelU3dId!= null">ios_model_u3d_id, </if>
		<if test="ipadModelU3dId!= null">ipad_model_u3d_id, </if>
		<if test="pcModelU3dId!= null">pc_model_u3d_id, </if>
		<if test="androidModelU3dId!= null">android_model_u3d_id, </if>
		<if test="macBookpcModelU3dId!= null">macBookpc_model_u3d_id, </if>
		<if test="configFileId!= null">config_file_id, </if>
		<if test="spaceCommonId!= null">space_common_id, </if>
		<if test="planDesc!= null">plan_desc, </if>
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<if test="remark!= null">remark, </if>
		<if test="shareTotal!= null">share_total, </if>
		<if test="isOpen!= null">is_open, </if>
		<if test="isChange!= null">is_change, </if>
		<if test="isDecorated!= null">is_decorated, </if>
		<if test="draftState!= null">draft_state, </if>
		<if test="baiMoState!= null">baiMo_state, </if>
		<if test="stuffFinishState!= null">stuff_finish_state, </if>
		<if test="decorateFinishState!= null">decorate_finish_state, </if>
		<if test="coverPicId!= null">cover_pic_id, </if>
		<if test="isRelease!= null">is_release, </if>
		<if test="releaseTime!= null">release_time, </if>
		<if test="designRecommendedStyleId!= null">design_recommended_style_id, </if>
		<if test="isRecommended!= null">is_recommended, </if>
		<if test="isDefaultDecorate!= null">is_default_decorate, </if>
		<if test="planNumber!= null">plan_number, </if>
		<if test="sceneModified!= null">scene_modified, </if>
		<if test="designPlanId!= null">design_plan_id, </if>
		<if test="spellingFlowerFileId!= null">spelling_flower_file_id, </if>
		<if test="spellingFlowerProduct!= null">spelling_flower_product, </if>
		<if test="platformId!= null">platform_id, </if>
		<if test="waterjetInfo!= null">waterjet_info, </if>
		<if test="renderType!= null">render_type, </if>
		<if test="applySpaceAreas!= null">apply_space_areas, </if>
		<if test="groupPrimaryId!= null">group_primary_id, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="failCause!= null">#{failCause,jdbcType=VARCHAR}, </if>
		<if test="planCode!= null">  #{planCode,jdbcType=VARCHAR}, </if>
		<if test="planName!= null">  #{planName,jdbcType=VARCHAR}, </if>
		<if test="planSource!= null"> #{planSource,jdbcType=VARCHAR},</if>
		<if test="houseId!= null">  #{houseId,jdbcType=INTEGER}, </if>
		<if test="livingId!= null">  #{livingId,jdbcType=INTEGER}, </if>
		<if test="residentialUnitsName!= null">#{residentialUnitsName,jdbcType=VARCHAR},</if>
		<if test="userId!= null">  #{userId,jdbcType=INTEGER}, </if>
		<if test="mediaType!= null">  #{mediaType,jdbcType=INTEGER}, </if>
		<if test="designSourceType!= null">  #{designSourceType,jdbcType=INTEGER}, </if>
		<if test="designId!= null">  #{designId,jdbcType=INTEGER}, </if>
		<if test="designTemplateId!= null">  #{designTemplateId,jdbcType=INTEGER}, </if>
		<if test="designStyleId!= null">  #{designStyleId,jdbcType=INTEGER}, </if>
		<if test="picId!= null">  #{picId,jdbcType=INTEGER}, </if>
		<if test="modelId!= null">  #{modelId,jdbcType=INTEGER}, </if>
		<if test="model3dId!= null">  #{model3dId,jdbcType=INTEGER}, </if>
		<if test="modelU3dId!= null">  #{modelU3dId,jdbcType=INTEGER}, </if>
		<if test="webModelU3dId!= null">  #{webModelU3dId,jdbcType=INTEGER}, </if>
		<if test="iosModelU3dId!= null">  #{iosModelU3dId,jdbcType=INTEGER}, </if>
		<if test="ipadModelU3dId!= null">  #{ipadModelU3dId,jdbcType=INTEGER}, </if>
		<if test="pcModelU3dId!= null">  #{pcModelU3dId,jdbcType=INTEGER}, </if>
		<if test="androidModelU3dId!= null">  #{androidModelU3dId,jdbcType=INTEGER}, </if>
		<if test="macBookpcModelU3dId!= null">  #{macBookpcModelU3dId,jdbcType=INTEGER}, </if>
		<if test="configFileId!= null">  #{configFileId,jdbcType=INTEGER}, </if>
		<if test="spaceCommonId!= null">  #{spaceCommonId,jdbcType=INTEGER}, </if>
		<if test="planDesc!= null">  #{planDesc,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>
		<!--<if test="eveningFileId!= null">  #{eveningFileId,jdbcType=INTEGER}, </if>
		<if test="dawnFileId!= null">  #{dawnFileId,jdbcType=INTEGER}, </if>
		<if test="nightFileId!= null">  #{nightFileId,jdbcType=INTEGER}, </if>-->
		<if test="shareTotal!= null">#{shareTotal,jdbcType=INTEGER}, </if>
		<if test="isOpen!= null">#{isOpen,jdbcType=INTEGER}, </if>
		<if test="isChange!= null">#{isChange,jdbcType=INTEGER}, </if>
		<if test="isDecorated!= null">#{isDecorated,jdbcType=INTEGER}, </if>
		<if test="draftState!= null">#{draftState,jdbcType=INTEGER}, </if>
		<if test="baiMoState!= null">#{baiMoState,jdbcType=INTEGER}, </if>
		<if test="stuffFinishState!= null">#{stuffFinishState,jdbcType=INTEGER}, </if>
		<if test="decorateFinishState!= null">#{decorateFinishState,jdbcType=INTEGER}, </if>
		<if test="coverPicId!= null">#{coverPicId,jdbcType=INTEGER}, </if>
		<if test="isRelease!= null">#{isRelease,jdbcType=INTEGER}, </if>
		<if test="releaseTime!= null">#{releaseTime,jdbcType=TIMESTAMP}, </if>
		<if test="designRecommendedStyleId!= null">#{designRecommendedStyleId,jdbcType=INTEGER}, </if>
 		<if test="isRecommended!= null">#{isRecommended,jdbcType=INTEGER}, </if>
		<if test="isDefaultDecorate!= null">#{isDefaultDecorate,jdbcType=INTEGER}, </if>
		<if test="planNumber!= null">#{planNumber,jdbcType=VARCHAR}, </if>
		<if test="sceneModified!= null">#{sceneModified,jdbcType=INTEGER}, </if>
		<if test="designPlanId!= null">#{designPlanId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerFileId!= null">#{spellingFlowerFileId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerProduct!= null">#{spellingFlowerProduct,jdbcType=VARCHAR}, </if>
		<if test="platformId!= null">#{platformId,jdbcType=INTEGER}, </if>
		<if test="waterjetInfo!= null">#{waterjetInfo,jdbcType=VARCHAR}, </if>
		<if test="renderType!= null">#{renderType,jdbcType=INTEGER}, </if>
		<if test="applySpaceAreas!= null">#{applySpaceAreas,jdbcType=VARCHAR}, </if>
		<if test="groupPrimaryId!= null">#{groupPrimaryId,jdbcType=INTEGER}, </if>
		</trim>
	</insert>

	<select id="getLatelyPlanScenByPlanId" parameterType="int" resultType="com.nork.design.model.DesignPlanRenderScene">
		select id, 
		scene_modified sceneModified 
		from design_plan_render_scene 
		where is_deleted =0 AND design_plan_id=#{designPlanId} ORDER BY id DESC LIMIT 1
	</select>
	
	<!-- delete -->
	<delete id="delete">
		<!--delete from design_plan_render_scene where id = #{id}-->
		UPDATE design_plan_render_scene SET is_deleted = 1,gmt_modified = NOW() WHERE id = #{id}
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="com.nork.design.model.DesignPlanRenderScene">
		update design_plan_render_scene
		<set>
		<if test="spellingFlowerFileId!= null">spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerProduct!= null">spelling_flower_product = #{spellingFlowerProduct,jdbcType=VARCHAR}, </if>
		<if test="checkUserName!= null"> check_user_name = #{checkUserName,jdbcType=VARCHAR}, </if>
		<if test="failCause!= null"> fail_cause = #{failCause,jdbcType=VARCHAR}, </if>
		<if test="planCode!= null">  plan_code = #{planCode,jdbcType=VARCHAR}, </if>
		<if test="planName!= null">  plan_name = #{planName,jdbcType=VARCHAR}, </if>
		<if test="userId!= null">  user_id = #{userId,jdbcType=INTEGER}, </if>
		<if test="mediaType!= null">  media_type = #{mediaType,jdbcType=INTEGER}, </if>
		<if test="designSourceType!= null">  design_source_type = #{designSourceType,jdbcType=INTEGER}, </if>
		<if test="designId!= null">  design_id = #{designId,jdbcType=INTEGER}, </if>
		<if test="designTemplateId!= null">  design_template_id = #{designTemplateId,jdbcType=INTEGER}, </if>
		<if test="designStyleId!= null">  design_style_id = #{designStyleId,jdbcType=INTEGER}, </if>
		<if test="picId!= null">  pic_id = #{picId,jdbcType=INTEGER}, </if>
		<if test="modelId!= null">  model_id = #{modelId,jdbcType=INTEGER}, </if>
		<if test="model3dId!= null">  model_3d_id = #{model3dId,jdbcType=INTEGER}, </if>
		<if test="modelU3dId!= null">  model_u3d_id = #{modelU3dId,jdbcType=INTEGER}, </if>
		<if test="webModelU3dId!= null">  web_model_u3d_id = #{webModelU3dId,jdbcType=INTEGER}, </if>
		<if test="iosModelU3dId!= null">  ios_model_u3d_id = #{iosModelU3dId,jdbcType=INTEGER}, </if>
		<if test="pcModelU3dId!= null">  pc_model_u3d_id = #{pcModelU3dId,jdbcType=INTEGER}, </if>
		<if test="ipadModelU3dId!= null">  ipad_model_u3d_id = #{ipadModelU3dId,jdbcType=INTEGER}, </if>
		<if test="androidModelU3dId!= null">  android_model_u3d_id = #{androidModelU3dId,jdbcType=INTEGER}, </if>
		<if test="macBookpcModelU3dId!= null">  macBookpc_model_u3d_id = #{macBookpcModelU3dId,jdbcType=INTEGER}, </if>
		<if test="configFileId!= null">  config_file_id = #{configFileId,jdbcType=INTEGER}, </if>
		<if test="spaceCommonId!= null">  space_common_id = #{spaceCommonId,jdbcType=INTEGER}, </if>
		<if test="planDesc!= null">  plan_desc = #{planDesc,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		<if test="shareTotal!= null">  share_total = #{shareTotal,jdbcType=INTEGER}, </if>
		<if test="isOpen!= null">  is_open = #{isOpen,jdbcType=INTEGER}, </if>
		<if test="isChange!= null">  is_change = #{isChange,jdbcType=INTEGER}, </if>
		<if test="isDecorated!= null">  is_decorated = #{isDecorated,jdbcType=INTEGER}, </if>
		<if test="isDecorated!= null">  is_decorated = #{isDecorated,jdbcType=INTEGER}, </if>
		<if test="draftState!= null">  draft_state = #{draftState,jdbcType=INTEGER}, </if>
		<if test="baiMoState!= null">  baiMo_state = #{baiMoState,jdbcType=INTEGER}, </if>
		<if test="stuffFinishState!= null">  stuff_finish_state = #{stuffFinishState,jdbcType=INTEGER}, </if>
		<if test="decorateFinishState!= null">  decorate_finish_state = #{decorateFinishState,jdbcType=INTEGER}, </if>
		<if test="coverPicId!= null">cover_pic_id = #{coverPicId,jdbcType=INTEGER}, </if>
		<if test="releaseTime!= null">release_time =#{releaseTime,jdbcType=TIMESTAMP}, </if>
		<if test="designRecommendedStyleId!= null">design_recommended_style_id = #{designRecommendedStyleId,jdbcType=INTEGER}, </if>
		<if test="effectsConfig!= null">effects_config = #{effectsConfig,jdbcType=VARCHAR}, </if>
		<if test="isRecommended!= null">is_recommended = #{isRecommended,jdbcType=INTEGER}, </if>
		<if test="isDefaultDecorate!= null">is_default_decorate = #{isDefaultDecorate,jdbcType=INTEGER}, </if>
		<if test="planNumber!= null">plan_number = #{planNumber,jdbcType=VARCHAR}, </if>
		<if test="renderType!= null">render_type = #{renderType,jdbcType=INTEGER}, </if>
		<if test="applySpaceAreas!= null">apply_space_areas = #{applySpaceAreas,jdbcType=VARCHAR}, </if>
		<if test="groupPrimaryId!= null">group_primary_id = #{groupPrimaryId,jdbcType=INTEGER}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- get -->
	<select id="get" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from design_plan_render_scene
		where id = #{id,jdbcType=INTEGER}
	</select>


	<!-- 通过plan_id获得设计方案状态 -->
	<select id="getDesignPlanSceneState" resultType="int" parameterType="java.lang.Integer">
		SELECT count(*) from design_plan_product_render_scene  as a
		LEFT JOIN  base_product as b on(a.product_id=b.id) where a.plan_id =#{designPlanId}
		and a.is_deleted=0
		and b.product_code like  'baimo%'

	</select>
	
	
		
	<!-- 通过产品品牌  和 授权码用户id 查询 设计方案 -->
	<select id="getVendorList" resultMap="AllResultMap" parameterType="com.nork.design.model.DesignPlanRenderScene">
			SELECT DISTINCT
			A.*
			, sc.space_areas
<!-- 				,C.pic_path -->
			FROM
				(
					SELECT
					<include refid="All_Column_List_User" />
					FROM
						design_plan_render_scene dpr
						JOIN (SELECT user_name,id FROM sys_user WHERE id IN
								<foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
									#{item}
								</foreach>
							) su ON dpr.user_id = su.id
					WHERE
						is_deleted = 0
					<if test="planName != null and planName != '' ">
						AND plan_name like CONCAT(CONCAT('%',#{planName,jdbcType=VARCHAR}),'%')
					</if>
				) AS A
			LEFT JOIN (
				SELECT
					plan_id,
					product_id
				FROM
					design_plan_product_render_scene
				WHERE
					is_deleted = 0
			) AS B ON (A.id = b.plan_id)
			LEFT JOIN base_product AS bp ON (b.product_id = bp.id)
			LEFT JOIN space_common AS sc ON (A.space_common_id = sc.id)
<!-- 			LEFT JOIN (select design_scene_id,pic_path from res_render_pic WHERE   -->
<!-- 				file_key = 'design.designPlan.render.small.pic' -->
<!-- 				AND is_deleted = 0) AS C on(C.design_scene_id = A.id)  -->
			WHERE
				1 = 1
			AND bp.is_deleted = 0
			AND bp.brand_id IN 
			<foreach collection="brandIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		order by A.id desc
		<if test="start !=-1 and limit !=-1"> LIMIT #{start}, #{limit}</if>
	</select>
	
	<select id="getVendorListV2" resultMap="AllResultMap" parameterType="com.nork.design.model.DesignPlanRenderScene">
		SELECT
			distinct(rs.id),
			rs.check_user_name,
			rs.fail_cause,
			rs.is_recommended,
			rs.is_default_decorate,
			rs.plan_number,
			rs.design_recommended_style_id,
			rs.release_time,
			rs.cover_pic_id,
			rs.plan_code,
			rs.plan_name,
			rs.plan_source,
			rs.house_id,
			rs.living_id,
			rs.residential_units_name,
			rs.user_id,
			rs.media_type,
			rs.design_source_type,
			rs.design_id,
			rs.share_total,
			rs.is_open,
			rs.is_change,
			rs.is_decorated,
			rs.draft_state,
			rs.baiMo_state,
			rs.stuff_finish_state,
			rs.decorate_finish_state,
			rs.design_template_id,
			rs.design_style_id,
			rs.pic_id,
			rs.model_id,
			rs.model_3d_id,
			rs.model_u3d_id,
			rs.web_model_u3d_id,
			rs.ios_model_u3d_id,
			rs.ipad_model_u3d_id,
			rs.pc_model_u3d_id,
			rs.android_model_u3d_id,
			rs.macBookpc_model_u3d_id,
			rs.config_file_id,
			rs.space_common_id,
			rs.plan_desc,
			rs.sys_code,
			rs.creator,
			rs.gmt_create,
			rs.modifier,
			rs.gmt_modified,
			rs.is_deleted,
			rs.remark,
			rs.evening_file_id,
			rs.dawn_file_id,
			rs.night_file_id,
			rs.effects_config,
			rs.design_plan_id,
			rs.scene_modified,
			rs.platform_id,
			sc.space_code,
			<!-- add by huangsongbo 2018.4.18 查询效果图有没有对应的普通/智能方案 ->start -->
			dprCommon.id as dpr_common_id,
			dprCapacity.id as dpr_capacity_id,
			<!-- dprCommon普通推荐方案 dprCapacity智能推荐方案 -->
			dprCommon.is_release as dpr_is_release_o,
			dprCapacity.is_release as dpr_is_release_t,
			<!-- add by huangsongbo 2018.4.18 查询效果图有没有对应的普通/智能方案 ->end -->
			rs.render_type,
			rs.group_primary_id
		FROM
			design_plan_render_scene AS rs
		LEFT JOIN res_render_pic AS rrp ON (rrp.design_scene_id = rs.id)
		LEFT JOIN space_common sc ON sc.id = rs.space_common_id
		
		<!-- add by huangsongbo 2018.4.18 查询效果图有没有对应的普通/智能方案 ->start -->
		LEFT JOIN design_plan_recommended dprCommon ON dprCommon.plan_id = rs.id AND dprCommon.is_release in (1,2,3,4) AND dprCommon.is_deleted = 0 AND dprCommon.recommended_type = 1
			<if test="dprCompanyId != null">
				AND (dprCommon.company_id = #{dprCompanyId,jdbcType = INTEGER} or dprCommon.company_id = 0)
			</if>
		LEFT JOIN design_plan_recommended dprCapacity on dprCapacity.plan_id = rs.id AND dprCapacity.is_release in (1,2,3,4) AND dprCapacity.is_deleted = 0 AND dprCapacity.recommended_type = 2
			<if test="dprCompanyId != null">
				AND (dprCapacity.company_id = #{dprCompanyId,jdbcType = INTEGER} or dprCapacity.company_id =0)
			</if>
		<!-- add by huangsongbo 2018.4.18 查询效果图有没有对应的普通/智能方案 ->end -->

		WHERE	rrp.is_deleted = 0 and rs.is_deleted = 0
			AND rrp.id IS NOT NULL
			AND rrp.design_scene_id is not null
			AND (rrp.file_key = 'design.designPlan.render.small.pic' or rrp.file_key = 'design.designPlan.render.video.cover' )
			and rs.platform_id in (select id from base_platform where platform_bussiness_type =#{platformBussinessType,jdbcType=VARCHAR} )
			<if test="userId!= null"> AND rs.user_id = #{userId} </if>
			<if test="spaceAreas != null and spaceAreas != '' "> AND sc.space_areas = #{spaceAreas} </if>
			<if test="spaceFunctionId != null and spaceFunctionId != '' "> AND sc.space_function_id = #{spaceFunctionId} </if>
			<if test="planName != null and planName !='' ">AND rs.plan_name  like CONCAT(CONCAT('%',#{planName,jdbcType=VARCHAR}),'%') </if>
			<if test="renderType != null ">
				AND rs.render_type  = #{renderType}
				<if test="renderType == 2">
					<choose>
						<when test="isGroup != null and isGroup != ''">
							<choose>
								<when test="isGroup == 1">
									AND rs.group_primary_id = rs.id
								</when>
								<otherwise>
									AND rs.group_primary_id = 0
								</otherwise>
							</choose>
						</when>
						<otherwise>
							AND (rs.group_primary_id = 0 OR rs.group_primary_id = rs.id)
						</otherwise>
					</choose>
				</if>
				<if test="isReleaseR != null and isReleaseR != ''">
					<choose>
						<when test="renderType == 1 ">
							AND dprCommon.is_release = #{isReleaseR}
						</when>
						<otherwise>
							AND dprCapacity.is_release = #{isReleaseR}
						</otherwise>
					</choose>
				</if>
			</if>
		<!-- add by huangsongbo 2018.5.2,去重 ->start -->
		group by rs.id
		<!-- add by huangsongbo 2018.5.2,去重 ->end -->
		order by rs.id desc

		<if test="start !=-1 and limit !=-1"> LIMIT #{start}, #{limit}</if>
	</select>
	
	<select id="getVendorCountV2" resultType="int" parameterType="com.nork.design.model.DesignPlanRenderScene">
					SELECT COUNT(DISTINCT rs.id)
		FROM
			design_plan_render_scene AS rs
		LEFT JOIN res_render_pic AS rrp ON (rrp.design_scene_id = rs.id)
		LEFT JOIN space_common sc ON sc.id = rs.space_common_id

		<!-- 查询效果图有没有对应的普通/智能方案 ->start -->
		LEFT JOIN design_plan_recommended dprCommon ON dprCommon.plan_id = rs.id AND dprCommon.is_release in (1,2,3,4) AND dprCommon.is_deleted = 0 AND dprCommon.recommended_type = 1
			<if test="dprCompanyId != null">
				AND (dprCommon.company_id = #{dprCompanyId,jdbcType = INTEGER} or dprCommon.company_id = 0)
			</if>
		LEFT JOIN design_plan_recommended dprCapacity on dprCapacity.plan_id = rs.id AND dprCapacity.is_release in (1,2,3,4) AND dprCapacity.is_deleted = 0 AND dprCapacity.recommended_type = 2
			<if test="dprCompanyId != null">
				AND (dprCapacity.company_id = #{dprCompanyId,jdbcType = INTEGER} or dprCapacity.company_id = 0)
			</if>
		<!-- 查询效果图有没有对应的普通/智能方案 ->end -->

		WHERE
			rrp.is_deleted = 0 and rs.is_deleted = 0
			AND rrp.id IS NOT NULL
			AND rrp.design_scene_id is not null
			AND (rrp.file_key = 'design.designPlan.render.small.pic' or rrp.file_key = 'design.designPlan.render.video.cover' )
			and rs.platform_id in (select id from base_platform where platform_bussiness_type =#{platformBussinessType,jdbcType=VARCHAR} )
			<if test="userId!= null"> AND rs.user_id = #{userId} </if>
			<if test="spaceAreas != null and spaceAreas != '' "> AND sc.space_areas = #{spaceAreas} </if>
			<if test="spaceFunctionId != null and spaceFunctionId != '' "> AND sc.space_function_id = #{spaceFunctionId} </if>
			<if test="planName != null and planName !='' ">AND rs.plan_name  like CONCAT(CONCAT('%',#{planName,jdbcType=VARCHAR}),'%') </if>
			<if test="renderType != null ">
				AND rs.render_type  = #{renderType}
				<if test="renderType == 2">
					<choose>
						<when test="isGroup != null and isGroup != ''">
							<choose>
								<when test="isGroup == 1">
									AND rs.group_primary_id = rs.id
								</when>
								<otherwise>
									AND rs.group_primary_id = 0
								</otherwise>
							</choose>
						</when>
						<otherwise>
							AND (rs.group_primary_id = 0 OR rs.group_primary_id = rs.id)
						</otherwise>
					</choose>
				</if>
				<if test="isReleaseR != null and isReleaseR != ''">
					<choose>
						<when test="renderType == 1 ">
							AND dprCommon.is_release = #{isReleaseR}
						</when>
						<otherwise>
							AND dprCapacity.is_release = #{isReleaseR}
						</otherwise>
					</choose>
				</if>
			</if>

	</select>
	
	
	<select id="getVendorCount" resultType="int" parameterType="com.nork.design.model.DesignPlanRenderScene">
			 SELECT DISTINCT
				COUNT(DISTINCT A.id)
			FROM
				(
					SELECT
						*
					FROM
						design_plan_render_scene
					WHERE
						is_deleted = 0
					AND user_id IN 
				<foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
				<if test="planName != null and planName != '' ">
					AND plan_name like CONCAT(CONCAT('%',#{planName,jdbcType=VARCHAR}),'%')
				</if>
				) AS A
			LEFT JOIN (
				SELECT
					plan_id,
					product_id
				FROM
					design_plan_product_render_scene
				WHERE
					is_deleted = 0
			) AS B ON (A.id = b.plan_id)
			LEFT JOIN base_product AS bp ON (b.product_id = bp.id)
			LEFT JOIN space_common AS sc ON (A.space_common_id = sc.id)
<!-- 			LEFT JOIN (select design_scene_id,pic_path from res_render_pic WHERE   -->
<!-- 				file_key = 'design.designPlan.render.small.pic' -->
<!-- 				AND is_deleted = 0) AS C on(C.design_scene_id = A.id)  -->
			WHERE
				1 = 1
			AND bp.is_deleted = 0
			AND bp.brand_id IN 
			<foreach collection="brandIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>

	<!-- 根据效果图方案id 查询存在几个功能空间 -->
	<select id="selectSpaceListByIdList" resultType="java.lang.String">
		SELECT DISTINCT
			sc.space_function_id
		FROM
			design_plan_render_scene dprs
			LEFT JOIN ( SELECT id, space_function_id, space_areas FROM space_common WHERE is_deleted = 0 ) AS sc ON ( sc.id = dprs.space_common_id )
			LEFT JOIN ( SELECT NAME, VALUE FROM sys_dictionary WHERE is_deleted = 0 AND type = 'houseType' ) AS sd ON ( sc.space_function_id = sd.VALUE )
		WHERE dprs.id IN
		<foreach collection="idList" item="item" open="(" separator="," close=")">
			${item}
		</foreach>
	</select>

	<!-- 解组功能 -->
	<update id="delGroupList">
		UPDATE
			design_plan_render_scene
		SET
			group_primary_id = 0,
			modifier = #{name},
			gmt_modified = NOW()
		WHERE
			group_primary_id = ${id}
	</update>

	<select id="getGroupList" resultMap="AllResultMap">
		select
		<include refid="All_Column_List" />
		from design_plan_render_scene
		where group_primary_id = #{groupId,jdbcType=INTEGER}
		AND is_deleted = 0;
	</select>
</mapper>
