<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.service.account.dao.PayOrderDao">

    <select id="selectExpensesRecordList" resultType="com.sandu.api.account.model.PayOrder" >
        SELECT
          *
        FROM
          pay_order
        WHERE
          user_id = #{userId} AND
          is_deleted = 0
          <if test="bizType == null or bizType == ''">
                AND biz_type != 'Recharge'
          </if>
          <if test="platformId != null">
                AND platform_id = #{platformId}
          </if>
          <if test="bizType != null and bizType != ''">
            AND biz_type = #{bizType}
          </if>
          order by gmt_create desc
          limit #{start},#{limit}
    </select>


    <select id="countExpensesRecordList" resultType="int">
        SELECT
          count(*)
        FROM
          pay_order
        WHERE
          user_id = #{userId} AND
          is_deleted = 0
        <choose>
            <when test="bizType != null and bizType != ''">
                AND biz_type = #{bizType}
            </when>
            <otherwise>
                AND biz_type != 'Recharge'
            </otherwise>
        </choose>
        <if test="platformId != null">
            AND platform_id = #{platformId}
        </if>
    </select>

    <select id="selectPayOrdersByOrderNos" resultType="com.sandu.api.account.model.PayOrder">
        SELECT
          *
        FROM
          pay_order
        WHERE
         is_deleted = 0 AND
         order_no IN
         <foreach collection="orderNos" open="(" separator="," item="orderNo" close=")">
              #{orderNo}
         </foreach>
    </select>

    <select id="countUserRechargeRecord" resultType="integer">
        SELECT
           count(*)
        FROM
          pay_order
        WHERE
          biz_type = 'Recharge' AND
          is_deleted = 0 AND
          pay_state = 'SUCCESS' AND
          user_id =  #{userId}
    </select>

    <select id="getUserRechargeRecords" resultType="com.sandu.api.account.model.PayOrder">
        SELECT
           *
        FROM
          pay_order
        WHERE
          biz_type = 'Recharge' AND
          is_deleted = 0 AND
          pay_state = 'SUCCESS' AND
          user_id = #{userId} AND
          platform_id != 16
          order by gmt_create desc
          limit #{start},#{limit}
    </select>

</mapper>