<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.sandu.api.act3.service.LuckyWheelAwardMsgService"
                   ref="luckyWheelAwardMsgService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
                   
    <dubbo:service interface="com.sandu.api.act3.service.LuckyWheelLotteryRecordActDayAggregatedService"
                   ref="luckyWheelLotteryRecordActDayAggregatedService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
   
    <dubbo:service interface="com.sandu.api.act3.service.LuckyWheelLotteryRecordService"
                   ref="luckyWheelLotteryRecordService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>  
                   
    <dubbo:service interface="com.sandu.api.act3.service.LuckyWheelPrizeService"
                   ref="luckyWheelPrizeService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
    
    <dubbo:service interface="com.sandu.api.act3.service.LuckyWheelRegistrationService"
                   ref="luckyWheelRegistrationService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
                   
    <dubbo:service interface="com.sandu.api.act3.service.LuckyWheelService"
                   ref="luckyWheelService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>               
</beans>