<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nork.design.dao.DesginPlanSpellingflowerRecordMapper">
	<!-- **插入定义** -->
	<insert id="insertSelective" parameterType="com.nork.design.model.DesginPlanSpellingflowerRecord"  useGeneratedKeys="true" keyProperty="id">
		insert into desgin_plan_spellingflower_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="planId!= null">plan_id, </if>
		<if test="spellingflowerColletId!= null">spellingflower_collet_id, </if>
		<if test="spellingFlowerFileId!= null">spelling_flower_file_id, </if>
		<if test="spellingFlowerPicId!= null">spelling_flower_pic_id, </if>
		<if test="spellingFlowerProduct!= null">spelling_flower_product, </if>
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<if test="att1!= null">att1, </if>
		<if test="att2!= null">att2, </if>
		<if test="numa1!= null">numa1, </if>
		<if test="numa2!= null">numa2, </if>
		<if test="remark!= null">remark, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="planId!= null">  #{planId,jdbcType=INTEGER}, </if>
		<if test="spellingflowerColletId!= null">  #{spellingflowerColletId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerFileId!= null">  #{spellingFlowerFileId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerPicId!= null">  #{spellingFlowerPicId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerProduct!= null">  #{spellingFlowerProduct,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  #{numa2,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>	
		</trim>
	</insert>

	<!-- **更新定义** -->
	<update id="updateByPrimaryKeySelective" parameterType="com.nork.design.model.DesginPlanSpellingflowerRecord">
		update desgin_plan_spellingflower_record
		<set>
		<if test="planId!= null">  plan_id = #{planId,jdbcType=INTEGER}, </if>
		<if test="spellingflowerColletId!= null">  spellingflower_collet_id = #{spellingflowerColletId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerFileId!= null">  spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerPicId!= null">  spelling_flower_pic_id = #{spellingFlowerPicId,jdbcType=INTEGER}, </if>
		<if test="spellingFlowerProduct!= null">  spelling_flower_product = #{spellingFlowerProduct,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  att1 = #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  att2 = #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  numa1 = #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  numa2 = #{numa2,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- **删除定义** -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		UPDATE desgin_plan_spellingflower_record
		SET is_deleted = 1,
			remark=concat(remark,';delMark;'),
			sys_code=concat(concat(sys_code,'_del_'),unix_timestamp(now())),
			gmt_modified=now()
		WHERE id = #{id}
	</delete>
	
	<!-- **常量定义** -->
	<sql id="All_Column_List">
		re.id,re.plan_id,re.spellingflower_collet_id,re.spelling_flower_file_id,re.spelling_flower_pic_id,re.spelling_flower_product,re.sys_code,
		re.creator,re.gmt_create,re.modifier,re.gmt_modified,re.is_deleted,re.att1,re.att2,re.numa1,re.numa2,re.remark
		,IFNULL(cl.id,0) AS colletStatus
		,res.file_path AS spellingFlower
		,rp.pic_path AS spellingFlowerPic
	</sql>
	
	<!-- **结果定义** -->
	<resultMap id="AllResultMap" type="com.nork.design.model.DesginPlanSpellingflowerRecord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="plan_id" property="planId" jdbcType="INTEGER" />
		<result  column="spellingflower_collet_id" property="spellingflowerColletId" jdbcType="INTEGER" />
		<result  column="spelling_flower_file_id" property="spellingFlowerFileId" jdbcType="INTEGER" />
		<result  column="spelling_flower_pic_id" property="spellingFlowerPicId" jdbcType="INTEGER" />
		<result  column="spelling_flower_product" property="spellingFlowerProduct" jdbcType="VARCHAR" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="att1" property="att1" jdbcType="VARCHAR" />
		<result  column="att2" property="att2" jdbcType="VARCHAR" />
		<result  column="numa1" property="numa1" jdbcType="INTEGER" />
		<result  column="numa2" property="numa2" jdbcType="INTEGER" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
		<result  column="colletStatus" property="colletStatus" jdbcType="VARCHAR" />
		<result  column="spellingFlower" property="spellingFlower" jdbcType="VARCHAR" />
		<result  column="spellingFlowerPic" property="spellingFlowerPic" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- **查询定义** -->
	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="AllResultMap" parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from desgin_plan_spellingflower_record re
			LEFT JOIN (SELECT id FROM user_spellingflower_collet WHERE is_deleted = 0) cl ON re.spellingflower_collet_id = cl.id
			LEFT JOIN res_design res ON re.spelling_flower_file_id = res.id
			LEFT JOIN res_pic rp ON re.spelling_flower_pic_id = rp.id
		where re.id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 查询所有，可排序 -->
    <select id="selectList" resultMap="AllResultMap" parameterType="com.nork.design.model.search.DesginPlanSpellingflowerRecordSearch">
		select
		<include refid="All_Column_List" />
		from desgin_plan_spellingflower_record re
			LEFT JOIN (SELECT id FROM user_spellingflower_collet WHERE is_deleted = 0) cl ON re.spellingflower_collet_id = cl.id
			LEFT JOIN res_design res ON re.spelling_flower_file_id = res.id
			LEFT JOIN res_pic rp ON re.spelling_flower_pic_id = rp.id
        where 1=1
		<if test="planId!= null">  and re.plan_id = #{planId,jdbcType=INTEGER} </if>
		<if test="spellingflowerColletId!= null">  and re.spellingflower_collet_id = #{spellingflowerColletId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerFileId!= null">  and re.spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerPicId!= null">  and re.spelling_flower_pic_id = #{spellingFlowerPicId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerProduct!= null">  and re.spelling_flower_product = #{spellingFlowerProduct,jdbcType=VARCHAR} </if>
		<if test="sysCode!= null">  and re.sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and re.creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and re.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and re.modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and re.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and re.is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1!= null">  and re.att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and re.att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="numa1!= null">  and re.numa1 = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2!= null">  and re.numa2 = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark!= null">  and re.remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="order != null and  order !=''  ">
			order by ${order}
			<if test="orderNum != null and  orderNum !='' ">
				${orderNum}
			</if>
		</if>
		<if test="orders != null and  orders !=''  ">
		   order by ${orders}
		</if>
	</select>
	
	<!-- 分页汇总 -->
	<select id="selectCount" resultType="int" parameterType="com.nork.design.model.search.DesginPlanSpellingflowerRecordSearch">
		select count(*)
		from desgin_plan_spellingflower_record re
			LEFT JOIN (SELECT id FROM user_spellingflower_collet WHERE is_deleted = 0) cl ON re.spellingflower_collet_id = cl.id
			LEFT JOIN res_design res ON re.spelling_flower_file_id = res.id
			LEFT JOIN res_pic rp ON re.spelling_flower_pic_id = rp.id
		where 1=1
		<if test="planId !=  null  ">			and re.plan_id  = #{planId,jdbcType=INTEGER} </if>
		<if test="spellingflowerColletId !=  null  ">			and re.spellingflower_collet_id  = #{spellingflowerColletId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerFileId !=  null  ">			and re.spelling_flower_file_id  = #{spellingFlowerFileId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerPicId !=  null  ">			and re.spelling_flower_pic_id  = #{spellingFlowerPicId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerProduct !=  null and spellingFlowerProduct !=  ''   "> and re.spelling_flower_product  = #{spellingFlowerProduct,jdbcType=VARCHAR} </if>
		<if test="sch_SpellingFlowerProduct_ !=  null and sch_SpellingFlowerProduct_ !=  ''   ">
			and re.spelling_flower_product  like CONCAT(CONCAT('%',#{sch_SpellingFlowerProduct_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SpellingFlowerProduct !=  null and sch_SpellingFlowerProduct !=  ''   ">
			and re.spelling_flower_product  like CONCAT('%',#{sch_SpellingFlowerProduct,jdbcType=VARCHAR})
		 </if>
		<if test="schSpellingFlowerProduct_ !=  null and schSpellingFlowerProduct_ !=  ''   ">
			and re.spelling_flower_product  like CONCAT(#{schSpellingFlowerProduct_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="spellingFlowerProductStart !=  null and spellingFlowerProductEnd!= null  ">
			and re.spelling_flower_product between #{spellingFlowerProductStart,jdbcType=VARCHAR} and #{spellingFlowerProductEnd,jdbcType=VARCHAR}
		 </if>
		<if test="sysCode !=  null and sysCode !=  ''   "> and re.sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and re.sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and re.sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and re.sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and re.sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and re.creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and re.creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and re.creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and re.creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and re.gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and re.gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and re.modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and re.modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and re.modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and re.modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and re.modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and re.gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and re.gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and re.is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1 !=  null and att1 !=  ''   "> and re.att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and re.att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and re.att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and re.att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and re.att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and re.att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and re.att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and re.att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and re.att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		<if test="numa1 !=  null  ">			and re.numa1  = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2 !=  null  ">			and re.numa2  = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark !=  null and remark !=  ''   "> and re.remark  = #{remark,jdbcType=VARCHAR} </if>
		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and re.remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and re.remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and re.remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and re.remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
	</select>
	
	<!-- 分页查询 ,可在DesginPlanSpellingflowerRecordSearch中自定义查询条件-->
	<select id="selectPaginatedList" resultMap="AllResultMap" parameterType="com.nork.design.model.search.DesginPlanSpellingflowerRecordSearch">
		select
		<include refid="All_Column_List" />
		from desgin_plan_spellingflower_record re
			LEFT JOIN (SELECT id FROM user_spellingflower_collet WHERE is_deleted = 0) cl ON re.spellingflower_collet_id = cl.id
			LEFT JOIN res_design res ON re.spelling_flower_file_id = res.id
			LEFT JOIN res_pic rp ON re.spelling_flower_pic_id = rp.id
		where 1=1
		<if test="planId !=  null  ">			and re.plan_id  = #{planId,jdbcType=INTEGER} </if>
		<if test="spellingflowerColletId !=  null  ">			and re.spellingflower_collet_id  = #{spellingflowerColletId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerFileId !=  null  ">			and re.spelling_flower_file_id  = #{spellingFlowerFileId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerPicId !=  null  ">			and re.spelling_flower_pic_id  = #{spellingFlowerPicId,jdbcType=INTEGER} </if>
		<if test="spellingFlowerProduct !=  null and spellingFlowerProduct !=  ''   "> and re.spelling_flower_product  = #{spellingFlowerProduct,jdbcType=VARCHAR} </if>
		<if test="sch_SpellingFlowerProduct_ !=  null and sch_SpellingFlowerProduct_ !=  ''   ">
			and re.spelling_flower_product  like CONCAT(CONCAT('%',#{sch_SpellingFlowerProduct_,jdbcType=VARCHAR}),'%')
		</if>
		<if test="sch_SpellingFlowerProduct !=  null and sch_SpellingFlowerProduct !=  ''   ">
			and re.spelling_flower_product  like CONCAT('%',#{sch_SpellingFlowerProduct,jdbcType=VARCHAR})
		</if>
		<if test="schSpellingFlowerProduct_ !=  null and schSpellingFlowerProduct_ !=  ''   ">
			and re.spelling_flower_product  like CONCAT(#{schSpellingFlowerProduct_,jdbcType=VARCHAR},'%')
		</if>
		<if test="spellingFlowerProductStart !=  null and spellingFlowerProductEnd!= null  ">
			and re.spelling_flower_product between #{spellingFlowerProductStart,jdbcType=VARCHAR} and #{spellingFlowerProductEnd,jdbcType=VARCHAR}
		</if>
		<if test="sysCode !=  null and sysCode !=  ''   "> and re.sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and re.sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		</if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and re.sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		</if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and re.sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		</if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and re.sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		</if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and re.creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		</if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and re.creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		</if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and re.creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		</if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and re.creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		</if>
		<if test="gmtCreate !=  null  ">
			and re.gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		</if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and re.gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		</if>
		<if test="modifier !=  null and modifier !=  ''   "> and re.modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and re.modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		</if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and re.modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		</if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and re.modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		</if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and re.modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		</if>
		<if test="gmtModified !=  null  ">
			and re.gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		</if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and re.gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		</if>
		<if test="isDeleted !=  null  ">			and re.is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1 !=  null and att1 !=  ''   "> and re.att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and re.att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		</if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and re.att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		</if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and re.att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		</if>
		<if test="att1Start !=  null and att1End!= null  ">
			and re.att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		</if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and re.att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		</if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and re.att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		</if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and re.att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		</if>
		<if test="att2Start !=  null and att2End!= null  ">
			and re.att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		</if>
		<if test="numa1 !=  null  ">			and re.numa1  = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2 !=  null  ">			and re.numa2  = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark !=  null and remark !=  ''   "> and re.remark  = #{remark,jdbcType=VARCHAR} </if>
		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and re.remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		</if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and re.remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		</if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and re.remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		</if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and re.remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		</if>
		<if test="order != null and  order !=''  ">
			order by ${order} <if test="orderNum != null and  orderNum !='' ">${orderNum}</if>
		</if>
		<if test="orders != null and  orders !=''  ">  order by #{orders}</if>
		<if test="order == null and  orders == null ">  order by id desc</if>
		<if test="start !=-1 and limit !=-1"> LIMIT #{start}, #{limit}</if>
	</select>

    <!-- 其他Map等查询方式 -->
    
     <!-- end-->
</mapper>
