<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!-- 样板房 -->
    <dubbo:reference id="designTempletService"
                     interface="com.sandu.design.service.DesignTempletService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 样板房产品 -->
    <dubbo:reference id="designTempletProductService"
                     interface="com.sandu.design.service.DesignTempletProductService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 文件资源 -->
    <dubbo:reference id="resFileService"
                     interface="com.sandu.system.service.ResFileService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 方案资源 -->
    <dubbo:reference id="resDesignService"
                     interface="com.sandu.system.service.ResDesignService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- resPicService -->
    <dubbo:reference id="resPicService"
                     interface="com.sandu.system.service.ResPicService" version="${dubbo.version}" retries="${dubbo.retries}"/>

</beans>