<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.basesupplydemand.dao.ResRenderPicMapper">
    <resultMap id="BaseResultMap" type="com.sandu.api.basesupplydemand.model.ResRenderPic">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="business_id" property="businessId" jdbcType="INTEGER"/>
        <result column="pic_code" property="picCode" jdbcType="VARCHAR"/>
        <result column="pic_name" property="picName" jdbcType="VARCHAR"/>
        <result column="pic_file_name" property="picFileName" jdbcType="VARCHAR"/>
        <result column="pic_type" property="picType" jdbcType="VARCHAR"/>
        <result column="pic_size" property="picSize" jdbcType="INTEGER"/>
        <result column="pic_weight" property="picWeight" jdbcType="INTEGER"/>
        <result column="pic_high" property="picHigh" jdbcType="INTEGER"/>
        <result column="pic_suffix" property="picSuffix" jdbcType="VARCHAR"/>
        <result column="pic_level" property="picLevel" jdbcType="INTEGER"/>
        <result column="pic_format" property="picFormat" jdbcType="VARCHAR"/>
        <result column="pic_path" property="picPath" jdbcType="VARCHAR"/>
        <result column="pic_desc" property="picDesc" jdbcType="VARCHAR"/>
        <result column="pic_ordering" property="picOrdering" jdbcType="INTEGER"/>
        <result column="file_key" property="fileKey" jdbcType="VARCHAR"/>
        <result column="file_keys" property="fileKeys" jdbcType="VARCHAR"/>
        <result column="small_pic_info" property="smallPicInfo" jdbcType="VARCHAR"/>
        <result column="view_point" property="viewPoint" jdbcType="INTEGER"/>
        <result column="scene" property="scene" jdbcType="INTEGER"/>
        <result column="rendering_type" property="renderingType" jdbcType="INTEGER"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="pano_path" property="panoPath" jdbcType="VARCHAR"/>
        <result column="task_create_time" property="taskCreateTime" jdbcType="TIMESTAMP"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="sys_code" property="sysCode" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="att1" property="att1" jdbcType="VARCHAR"/>
        <result column="att2" property="att2" jdbcType="VARCHAR"/>
        <result column="numa1" property="numa1" jdbcType="INTEGER"/>
        <result column="numa2" property="numa2" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="source_plan_id" property="sourcePlanId" jdbcType="BIGINT"/>
        <result column="source_template_id" property="sourceTemplateId" jdbcType="BIGINT"/>
        <result column="sys_task_pic_id" property="sysTaskPicId" jdbcType="INTEGER"/>
        <result column="pano_level" property="panoLevel" jdbcType="INTEGER"/>
        <result column="roam" property="roam" jdbcType="VARCHAR"/>
        <result column="design_scene_id" property="designSceneId" jdbcType="BIGINT"/>
        <result column="design_plan_name" property="designPlanName" jdbcType="VARCHAR"/>
        <result column="space_type" property="spaceType" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="plan_recommended_id" property="planRecommendedId" jdbcType="INTEGER"/>
    </resultMap>

    <select id="listById" resultType="com.sandu.api.basesupplydemand.model.ResRenderPic">
        select
        id,pic_path as picPath
        from res_render_pic rp where rp.id = #{picId}
    </select>


</mapper>
