<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!-- 分享小程序二维码信息记录服务 -->
    <dubbo:reference interface="com.nork.pano.service.SceneQrCodeInfoService" id="sceneQrCodeInfoService"  version="1.0"/>
    <!-- 运营网站720服务 -->
    <dubbo:reference interface="com.nork.pano.service.PanoramaService" id="panoramaService"  version="1.0"/>
    <!-- 移动端720服务 -->
    <dubbo:reference interface="com.nork.mobile.service.MobileDesignPlanService" id="mobileDesignPlanService"  version="1.0"/>
    <!-- PC端720服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanRecommendedServiceV2" id="designPlanRecommendedServiceV2"  version="1.0"/>
    <!-- 添加渲染任务服务 -->
    <dubbo:reference interface="com.nork.render.service.IAutoRenderTaskApi" id="autoRenderTaskApi"  version="1.0"/>
    <!-- 图片资源 -->
    <dubbo:reference interface="com.nork.system.service.ResRenderPicService" id="resRenderPicService"  version="1.0"/>
    <!-- 视频资源 -->
    <dubbo:reference interface="com.nork.system.service.ResRenderVideoService" id="resRenderVideoService"  version="1.0"/>
    <!-- 任务列表服务-->
    <dubbo:reference interface="com.nork.mobile.service.MobilePayRenderService" id="mobilePayRenderService"  version="1.0"/>
    <!-- 移动端图片资源服务-->
    <dubbo:reference interface="com.nork.mobile.service.MobileResRenderPicService" id="mobileResRenderPicService"  version="1.0"/>
    <!-- 自动渲染服务-->
    <dubbo:reference interface="com.nork.design.service.DesignPlanAutoRenderService" id="designPlanAutoRenderService"  version="1.0"/>
    <!-- 同城联盟联盟门店服务 -->
    <dubbo:reference interface="com.nork.cityunion.service.UnionGroupService" id="unionGroupService"  version="1.0"/>
    <!-- 同城联盟组合详情服务 -->
    <dubbo:reference interface="com.nork.cityunion.service.UnionGroupDetailsService" id="unionGroupDetailsService"  version="1.0"/>
    <!-- 同城联盟门店信息服务 -->
    <dubbo:reference interface="com.nork.cityunion.service.UnionSpecialOfferService" id="unionSpecialOfferService"  version="1.0"/>
    <!-- 用户服务 -->
    <dubbo:reference interface="com.nork.system.service.SysUserService" id="sysUserService"  version="1.0"/>
    <!-- 用户日志服务 -->
    <dubbo:reference interface="com.nork.system.service.SysUserLoginLogService" id="sysUserLoginLogService"  version="1.0"/>
    <!-- 产品类目服务 -->
    <dubbo:reference interface="com.nork.product.service.ProCategoryService" id="proCategoryService"  version="1.0"/>
    <!-- 数据字典服务 -->
    <dubbo:reference interface="com.nork.system.service.SysDictionaryService" id="sysDictionaryService"  version="1.0"/>
    <!-- 品牌服务 -->
    <dubbo:reference interface="com.nork.product.service.BaseBrandService" id="baseBrandService"  version="1.0"/>
    <!-- 授权配置服务 -->
    <dubbo:reference interface="com.nork.product.service.AuthorizedConfigService" id="authorizedConfigService"  version="1.0"/>
    <!-- 图片资源服务 -->
    <dubbo:reference interface="com.nork.system.service.ResPicService" id="resPicService"  version="1.0"/>
    <!-- 行政区域服务 -->
    <dubbo:reference interface="com.nork.system.service.BaseAreaService" id="baseAreaService"  version="1.0"/>
    <!-- 样板房产品服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignTempletProductService" id="templetProductService"  version="1.2"/>
    <!-- 设计方案服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanService" id="designPlanService"  version="1.0"/>
    <!-- 样板房服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignTempletService" id="designTempletService"  version="1.0"/>
    <!-- 户型服务 -->
    <dubbo:reference interface="com.nork.home.service.BaseHouseService" id="baseHouseService"  version="1.0"/>
    <!-- 设计方案产品服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanProductService" id="designPlanProductService"  version="1.0"/>
    <!-- 模型资源服务 -->
    <dubbo:reference interface="com.nork.system.service.ResModelService" id="resModelService"  version="1.0"/>
    <!-- 方案资源服务 -->
    <dubbo:reference interface="com.nork.system.service.ResDesignService" id="resDesignService"  version="2.0"/>
    <!-- 推荐方案服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanRecommendedService" id="designPlanRecommendedService"  version="1.0"/>
    <!-- 方案操作日志服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanOperationLogService" id="designPlanOperationLogService"  version="1.0"/>
    <!-- 渲染场景服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanRenderService" id="designPlanRenderService"  version="1.0"/>
    <!-- 推荐方案产品服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanRecommendedProductServiceV2" id="designPlanRecommendedProductServiceV2"  version="1.0"/>
    <!-- 产品替换服务 -->
    <dubbo:reference interface="com.nork.mobile.service.MobileRenderRecordService" id="mobileRenderRecordService"  version="1.0"/>
    <!-- 副本设计方案服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanRenderSceneService" id="designPlanRenderSceneService"  version="1.0"/>
    <!-- 副本设计方案产品服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanProductRenderSceneService" id="designPlanProductRenderSceneService"  version="1.0"/>
    <!-- 副本资源服务 -->
    <dubbo:reference interface="com.nork.system.service.ResDesignRenderSceneService" id="resDesignRenderSceneService"  version="1.0"/>
    <!-- 一键装修流程优化服务 -->
    <dubbo:reference interface="com.nork.design.service.OptimizePlanService" id="optimizeDesignPlanService"  version="1.2"/>
    <!-- 保存资源服务 -->
    <dubbo:reference interface="com.nork.design.service.SaveRenderPicService" id="saveRenderPicService"  version="1.0"/>
    <!-- 线程池实例管理服务 -->
    <!-- 保存户型服务 -->
    <dubbo:reference interface="com.nork.home.service.UserHouseRecordService" id="userHouseRecordService"  version="1.0"/>
    <!-- 基本平台服务 -->
    <dubbo:reference interface="com.nork.platform.service.BasePlatformService" id="basePlatformService"  version="1.0"/>
    <!-- 720制作服务 -->
    <dubbo:reference interface="com.nork.pano.service.DesignPlanStoreReleaseService" id="designPlanStoreReleaseService" timeout="30000"  version="1.0"/>
    <!-- 客户操作日志服务 -->
    <dubbo:reference interface="com.nork.customer.service.CustomerOperateLogService" id="customerOperateLogService" version="1.0"/>
    <!-- 方案信息服务 -->
    <dubbo:reference interface="com.nork.design.service.DesignPlanSummaryInfoService" id="designPlanLikeAndCollectCountService" version="3.0"/>
    <!-- 缓存服务 -->
    <dubbo:reference interface="com.nork.cache.service.RedisService" id="redisService" version="3.0"/>
    <!--方案购买服务-->
    <dubbo:reference interface="com.nork.design.service.UserDesignPlanPurchaseRecordService" id="userDesignPlanPurchaseRecordService" version="3.0"/>
    <!-- 企业信息服务 -->
    <dubbo:reference interface="com.nork.product.service.BaseCompanyService" id="baseCompanyService"  version="1.0"/>
    <!-- 企业信息服务 -->
    <dubbo:reference interface="com.nork.product.service.CompanyShopService" id="companyShopService"  version="1.0"/>
    <!--公司收益服务-->
    <dubbo:reference interface="com.nork.design.service.CompanyDesignPlanIncomeService" id="companyDesignPlanService" version="3.0"/>
    <dubbo:reference interface="com.nork.payAccount.service.PayAccountService" id="payAccountService" version="3.0"/>
    <!-- 节点服务 -->
    <dubbo:reference id="nodeInfoBizService" interface="com.sandu.system.service.NodeInfoBizService" version="2.0.3"/>
    <!-- 空间服务 -->
    <dubbo:reference interface="com.nork.home.service.SpaceCommonService" id="spaceCommonService" version="1.0"/>
    <!-- 高清渲染服务 -->
    <dubbo:reference interface="com.nork.render.service.HighDefinitionRenderService" id="highDefinitionRenderService" version="1.0"/>
</beans>
