<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- 订单服务 -->
	<dubbo:reference id="mallBaseOrderService" interface="com.sandu.order.service.MallBaseOrderService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!-- 购物车服务 -->
	<dubbo:reference id="mallBaseCartService" interface="com.sandu.cart.service.MallBaseCartService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!--订单日志-->
	<dubbo:reference id="mallOrderActionService" interface="com.sandu.order.service.MallOrderActionService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!--购物车产品服务-->
	<dubbo:reference id="mallCartProductRefService" interface="com.sandu.cart.service.MallCartProductRefService"
					 retries="${dubbo.retries}" version="${dubbo.version}" />
</beans>