<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!-- 设计方案推荐服务 -->
    <dubbo:reference interface="com.sandu.designplan.service.DesignPlanRecommendedService"
                     id="designPlanRecommendedService"  retries="${dubbo.retries}" version="${dubbo.version}"/>


    <!--设计模块渲染场景服务-->
    <dubbo:reference interface="com.sandu.designplan.service.DesignPlanRenderSceneService"
                     id="designPlanRenderSceneService"  retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!--设计方案服务-->
    <dubbo:reference interface="com.sandu.designplan.service.DesignPlanService"
                     id="designPlanService"  retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!--设计方案产品服务-->
    <dubbo:reference interface="com.sandu.designplan.service.DesignPlanProductService"
                     id="designPlanProductService"  retries="${dubbo.retries}" version="${dubbo.version}"/>


    <!-- 方案推荐产品服务 -->
    <dubbo:reference id="designPlanRecommendedProductService"
                     interface="com.sandu.designplan.service.DesignPlanRecommendedProductService"
                      retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 方案推荐产品服务 -->
    <dubbo:reference id="designPlanRecommendFavoriteService"
                     interface="com.sandu.designplan.service.DesignPlanRecommendFavoriteService"
                      retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 设计方案样板房服务 -->
    <dubbo:reference id="designTempletService"
                     interface="com.sandu.designtemplate.service.DesignTempletService"  retries="${dubbo.retries}" version="${dubbo.version}"/>


    <!-- 设计方案点赞服务 -->
    <dubbo:reference id="designPlanLikeService"
                     interface="com.sandu.designplan.service.DesignPlanLikeService"  retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 全屋方案服务 -->
    <dubbo:reference id="fullHouseDesignPlanService"
                     interface="com.sandu.fullhouse.service.FullHouseDesignPlanService"  retries="${dubbo.retries}" version="${dubbo.version}"/>

    <!-- 全屋方案不知道什么服务 -->
    <dubbo:reference id="baseHousePicFullHousePlanRelService"
                     interface="com.sandu.system.service.BaseHousePicFullHousePlanRelService"  retries="${dubbo.retries}" version="${dubbo.version}"/>
</beans>