<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.pay.user.dao.CompanyFranchiserGroupMapper" >
  <resultMap id="BaseResultMap" type="com.sandu.user.model.CompanyFranchiserGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="franchiser_id" property="franchiserId" jdbcType="INTEGER" />
    <result column="commonality_integral" property="commonalityIntegral" jdbcType="DECIMAL" />
    <result column="consume_integral" property="consumeIntegral" jdbcType="DECIMAL" />
    <result column="modifier_user_id" property="modifierUserId" jdbcType="INTEGER" />
    <result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, franchiser_id, commonality_integral, consume_integral, modifier_user_id, sys_code,
    creator, gmt_create, modifier, gmt_modified, is_deleted, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company_franchiser_group
    where id = #{id,jdbcType=INTEGER}
    AND  is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company_franchiser_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.sandu.user.model.CompanyFranchiserGroup" >
    insert into company_franchiser_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="franchiserId != null" >
        franchiser_id,
      </if>
      <if test="commonalityIntegral != null" >
        commonality_integral,
      </if>
      <if test="consumeIntegral != null" >
        consume_integral,
      </if>
      <if test="modifierUserId != null" >
        modifier_user_id,
      </if>
      <if test="sysCode != null" >
        sys_code,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="franchiserId != null" >
        #{franchiserId,jdbcType=INTEGER},
      </if>
      <if test="commonalityIntegral != null" >
        #{commonalityIntegral,jdbcType=DECIMAL},
      </if>
      <if test="consumeIntegral != null" >
        #{consumeIntegral,jdbcType=DECIMAL},
      </if>
      <if test="modifierUserId != null" >
        #{modifierUserId,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.user.model.CompanyFranchiserGroup" >
    update company_franchiser_group
    <set >
      <if test="franchiserId != null" >
        franchiser_id = #{franchiserId,jdbcType=INTEGER},
      </if>
      <if test="commonalityIntegral != null" >
        commonality_integral = #{commonalityIntegral,jdbcType=DECIMAL},
      </if>
      <if test="consumeIntegral != null" >
        consume_integral = #{consumeIntegral,jdbcType=DECIMAL},
      </if>
      <if test="modifierUserId != null" >
        modifier_user_id = #{modifierUserId,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>