<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.search.dao.SearchDao">

	<delete id="deleteSearchUser" parameterType="long">
		delete from
		search_user where id=#{id}
	</delete>

	<delete id="deleteSearchUserWithUserId" parameterType="long">
		delete
		from search_user where user_id=#{userId}
	</delete>

	<select id="getHotList"
		resultType="com.sandu.search.model.vo.SearchHotVo">
		SELECT
		id,first_category_id,category_id,search_key
		FROM
		search_hot order by search_count desc limit 0,5
	</select>

	<select id="getHistoryList"
		resultType="com.sandu.search.model.vo.SearchUserVo"
		parameterType="com.sandu.search.model.query.SearchUserQuery">
		SELECT
		id,first_category_id,category_id,search_key,search_count
		FROM
		search_user a
		WHERE a.user_id=#{userId} order by a.gmt_create desc
		limit 0,#{topN}
	</select>

	<select id="getSearchKey"
		resultType="com.sandu.search.model.vo.SearchHotVo"
		parameterType="com.sandu.search.model.query.SearchHotQuery">
		SELECT
		id,first_category_id,category_id,search_key,search_count
		FROM
		search_hot a
		WHERE search_key = #{searchKey}
	</select>

	<select id="getSearchHistoryKey"
		resultType="com.sandu.search.model.vo.SearchUserVo"
		parameterType="com.sandu.search.model.query.SearchUserQuery">
		SELECT
		id,first_category_id,category_id,search_key,search_count
		FROM
		search_user a
		WHERE user_id=#{userId} and search_key = #{searchKey}
	</select>

	<insert id="saveSearchUser"
		parameterType="com.sandu.search.model.SearchUser">
		insert into search_user (first_category_id,category_id,
		user_id,search_key,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted)
		values
		(#{firstCategoryId},#{categoryId},#{userId},#{searchKey},#{sysCode},#{creator},#{gmtCreate},
		#{modifier},#{gmtModified},#{isDeleted})
	</insert>

	<insert id="saveSearchHot"
		parameterType="com.sandu.search.model.SearchUser">
		insert into search_hot (first_category_id,category_id,
		search_key,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted)
		values
		(#{firstCategoryId},#{categoryId},#{searchKey},#{sysCode},#{creator},#{gmtCreate},
		#{modifier},#{gmtModified},#{isDeleted})
	</insert>



	<update id="updateSearchCount"
		parameterType="com.sandu.search.model.SearchHot">
		update search_hot set
		search_count=#{searchCount},gmt_modified=#{gmtModified}
		where id =
		#{id}
	</update>

	<update id="updateHistorySearchCount"
		parameterType="com.sandu.search.model.SearchUser">
		update search_user set
		search_count=#{searchCount},gmt_modified=#{gmtModified}
		where id =
		#{id}
	</update>
</mapper>