<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <!-- 省市-->
    <dubbo:reference id="baseAreaService"
                     interface="com.sandu.base.service.BaseAreaService" version="${dubbo.version}" retries="${dubbo.retries}"/>
    <!-- 品牌-->
    <dubbo:reference id="baseBrandService"
                     interface="com.sandu.product.service.BaseBrandService" version="${dubbo.version}" retries="${dubbo.retries}"/>
    <!--小区  -->
    <dubbo:reference id="baseLivingService"
                     interface="com.sandu.base.service.BaseLivingService" version="${dubbo.version}" retries="${dubbo.retries}"/>
</beans>