<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nork.system.dao.ResTextureMapper">
	<!-- **插入定义** -->
	<insert id="insertSelective" parameterType="com.nork.system.model.ResTexture"  useGeneratedKeys="true" keyProperty="id">
		insert into res_texture
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="name!= null">name, </if>
		<if test="fileName!= null">file_name, </if>
		<if test="type!= null">type, </if>
		<if test="fileCode!= null">file_code, </if>
		<if test="fileSize!= null">file_size, </if>
		<if test="fileWidth!= null">file_width, </if>
		<if test="textureAttrValue!= null">texture_attr_value, </if>
		<if test="fileHeight!= null">file_height, </if>
		<if test="fileSuffix!= null">file_suffix, </if>
		<if test="filePath!= null">file_path, </if>
		<if test="fileDesc!= null">file_desc, </if>
		<if test="laymodes!= null">lay_modes, </if>
		<if test="style!= null">style, </if>
		<if test="texture!= null">texture, </if>
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<if test="picId!= null">pic_id, </if>
		<if test="att1!= null">att1, </if>
		<if test="att2!= null">att2, </if>
		<if test="numa1!= null">numa1, </if>
		<if test="numa2!= null">numa2, </if>
		<if test="remark!= null">remark, </if>
		<if test="textureBallFileId!= null">textureBall_file_id, </if>
		<if test="normalPicId!= null">normal_pic_id, </if>
		<if test="normalParam!= null">normal_param, </if>
		<if test="brandId!= null">brand_id, </if>
		<if test="textureCode!= null">texture_code,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="name!= null">  #{name,jdbcType=VARCHAR}, </if>
		<if test="fileName!= null">  #{fileName,jdbcType=VARCHAR}, </if>
		<if test="type!= null">  #{type,jdbcType=VARCHAR}, </if>
		<if test="fileCode!= null">  #{fileCode,jdbcType=VARCHAR}, </if>
		<if test="fileSize!= null">  #{fileSize,jdbcType=INTEGER}, </if>
		<if test="fileWidth!= null">  #{fileWidth,jdbcType=INTEGER}, </if>
		<if test="textureAttrValue!= null">  #{textureAttrValue,jdbcType=INTEGER}, </if>
		<if test="fileHeight!= null">  #{fileHeight,jdbcType=INTEGER}, </if>
		<if test="fileSuffix!= null">  #{fileSuffix,jdbcType=VARCHAR}, </if>
		<if test="filePath!= null">  #{filePath,jdbcType=VARCHAR}, </if>
		<if test="fileDesc!= null">  #{fileDesc,jdbcType=VARCHAR}, </if>
		<if test="laymodes!= null">  #{laymodes,jdbcType=VARCHAR}, </if>
		<if test="style!= null">  #{style,jdbcType=VARCHAR}, </if>
		<if test="texture!= null">  #{texture,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="picId!= null">  #{picId,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  #{numa2,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>
		<if test="textureBallFileId!= null">  #{textureBallFileId,jdbcType=INTEGER}, </if>
		<if test="normalPicId!= null">  #{normalPicId,jdbcType=INTEGER}, </if>
		<if test="normalParam!= null">  #{normalParam,jdbcType=VARCHAR}, </if>
		<if test="brandId!= null">#{brandId,jdbcType=INTEGER}, </if>
		<if test="textureCode!= null">#{textureCode,jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<!-- **更新定义** -->
	<update id="updateByPrimaryKeySelective" parameterType="com.nork.system.model.ResTexture">
		update res_texture
		<set>
		<if test="name!= null">  name = #{name,jdbcType=VARCHAR}, </if>
		<if test="fileName!= null">  file_name = #{fileName,jdbcType=VARCHAR}, </if>
		<if test="type!= null">  type = #{type,jdbcType=VARCHAR}, </if>
		<if test="fileCode!= null">  file_code = #{fileCode,jdbcType=VARCHAR}, </if>
		<if test="fileSize!= null">  file_size = #{fileSize,jdbcType=INTEGER}, </if>
		<if test="fileWidth!= null">  file_width = #{fileWidth,jdbcType=INTEGER}, </if>
		<if test="textureAttrValue!= null">  texture_attr_value = #{textureAttrValue,jdbcType=INTEGER}, </if>
		<if test="fileHeight!= null">  file_height = #{fileHeight,jdbcType=INTEGER}, </if>
		<if test="fileSuffix!= null">  file_suffix = #{fileSuffix,jdbcType=VARCHAR}, </if>
		<if test="filePath!= null">  file_path = #{filePath,jdbcType=VARCHAR}, </if>
		<if test="fileDesc!= null">  file_desc = #{fileDesc,jdbcType=VARCHAR}, </if>
		<if test="laymodes!= null">  lay_modes = #{laymodes,jdbcType=VARCHAR}, </if>
		<if test="style!= null">  style = #{style,jdbcType=VARCHAR}, </if>
		<if test="texture!= null">  texture = #{texture,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="picId!= null">  pic_id = #{picId,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  att1 = #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  att2 = #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  numa1 = #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  numa2 = #{numa2,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		<if test="textureBallFileId!= null">  textureBall_file_id = #{textureBallFileId,jdbcType=INTEGER}, </if>
		<if test="normalPicId!= null">  normal_pic_id = #{normalPicId,jdbcType=INTEGER}, </if>
		<if test="normalParam!= null">  normal_param = #{normalParam,jdbcType=VARCHAR}, </if>
		<if test="brandId!= null">brand_id = #{brandId,jdbcType=INTEGER},</if>
		<if test="textureCode!= null">texture_code = #{textureCode,jdbcType=VARCHAR},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- **删除定义** -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- delete from res_texture
		where id =  -->
		update res_texture set is_deleted = 1
		where id = 
		#{id,jdbcType=INTEGER}
	</delete>
	
	<!-- **常量定义** -->
	<sql id="All_Column_List">
		id,textureBall_file_id,normal_pic_id,normal_param,name,file_name,texture_attr_value,lay_modes,type,file_code,file_size,
		CONVERT(IF(ISNULL(file_width),0,file_width),SIGNED) file_width,
		CONVERT(IF(ISNULL(file_height),0,file_height),SIGNED) file_height,
		file_suffix,file_path,file_desc,style,texture,sys_code,creator,gmt_create,modifier,gmt_modified,
		is_deleted,pic_id,att1,att2,numa1,numa2,remark,brand_id,texture_code
	</sql>
	
	<!-- **结果定义** -->
	<resultMap id="AllResultMap" type="com.nork.system.model.ResTexture">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="brand_id" property="brandId" jdbcType="INTEGER" />
		<result  column="texture_code" property="textureCode" jdbcType="VARCHAR" />
		<result  column="textureBall_file_id" property="textureBallFileId" jdbcType="INTEGER" />
		<result  column="normal_pic_id" property="normalPicId" jdbcType="INTEGER" />
		<result  column="normal_param" property="normalParam" jdbcType="VARCHAR" />
		<result  column="name" property="name" jdbcType="VARCHAR" />
		<result  column="file_name" property="fileName" jdbcType="VARCHAR" />
		<result  column="type" property="type" jdbcType="VARCHAR" />
		<result  column="file_code" property="fileCode" jdbcType="VARCHAR" />
		<result  column="file_size" property="fileSize" jdbcType="INTEGER" />
		<result  column="file_width" property="fileWidth" jdbcType="INTEGER" />
		<result  column="texture_attr_value" property="textureAttrValue" jdbcType="INTEGER" />
		<result  column="file_height" property="fileHeight" jdbcType="INTEGER" />
		<result  column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
		<result  column="file_path" property="filePath" jdbcType="VARCHAR" />
		<result  column="file_desc" property="fileDesc" jdbcType="VARCHAR" />
		<result  column="lay_modes" property="laymodes" jdbcType="VARCHAR" />
		<result  column="style" property="style" jdbcType="VARCHAR" />
		<result  column="texture" property="texture" jdbcType="VARCHAR" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="pic_id" property="picId" jdbcType="INTEGER" />
		<result  column="att1" property="att1" jdbcType="VARCHAR" />
		<result  column="att2" property="att2" jdbcType="VARCHAR" />
		<result  column="numa1" property="numa1" jdbcType="INTEGER" />
		<result  column="numa2" property="numa2" jdbcType="INTEGER" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- **查询定义** -->
	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from res_texture
		where is_deleted=0 and  id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 查询所有，可排序 -->
    <select id="selectList" resultMap="AllResultMap"
		parameterType="com.nork.system.model.ResTexture">
		select
		<include refid="All_Column_List" />
		from res_texture
        where 1=1
        <if test="textureBallFileId!= null"> and textureBall_file_id = #{textureBallFileId,jdbcType=INTEGER}  </if>
        <if test="normalPicId!= null"> and normal_pic_id = #{normalPicId,jdbcType=INTEGER}  </if>
		<if test="normalParam!= null and normalParam!='' "> and normal_param = #{normalParam,jdbcType=VARCHAR}  </if>
		<if test="name!= null">  and name = #{name,jdbcType=VARCHAR} </if>
		<if test="fileName!= null">  and file_name = #{fileName,jdbcType=VARCHAR} </if>
		<if test="type!= null">  and type = #{type,jdbcType=VARCHAR} </if>
		<if test="fileCode!= null">  and file_code = #{fileCode,jdbcType=VARCHAR} </if>
		<if test="fileSize!= null">  and file_size = #{fileSize,jdbcType=INTEGER} </if>
		<if test="fileWidth!= null">  and file_width = #{fileWidth,jdbcType=INTEGER} </if>
		<if test="textureAttrValue!= null">  and texture_attr_value = #{textureAttrValue,jdbcType=INTEGER} </if>
		<if test="fileHeight!= null">  and file_height = #{fileHeight,jdbcType=INTEGER} </if>
		<if test="fileSuffix!= null">  and file_suffix = #{fileSuffix,jdbcType=VARCHAR} </if>
		<if test="filePath!= null">  and file_path = #{filePath,jdbcType=VARCHAR} </if>
		<if test="fileDesc!= null">  and file_desc = #{fileDesc,jdbcType=VARCHAR} </if>
		<if test="laymodes!= null">  and lay_modes = #{laymodes,jdbcType=VARCHAR} </if>
		<if test="style!= null">  and style = #{style,jdbcType=VARCHAR} </if>
		<if test="texture!= null">  and texture = #{texture,jdbcType=VARCHAR} </if>
		<if test="sysCode!= null">  and sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="picId!= null">  and pic_id = #{picId,jdbcType=INTEGER} </if>
		<if test="att1!= null">  and att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="numa1!= null">  and numa1 = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2!= null">  and numa2 = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark!= null">  and remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="brandId!= null">and brand_id = #{brandId,jdbcType=INTEGER}</if>
		<if test="textureCode!= null">and texture_code = #{textureCode,jdbcType=VARCHAR}</if>
		<if test="order != null and  order !=''  ">
			order by ${order}
			<if test="orderNum != null and  orderNum !='' ">
				${orderNum}
			</if>
		</if>
		<if test="orders != null and  orders !=''  ">
		   order by ${orders}
		</if>
	</select>
	
	<!-- 分页汇总 -->
	<select id="selectCount" resultType="int"
		parameterType="com.nork.system.model.search.ResTextureSearch">
		select count(*)
		from res_texture
		where 1=1
		<if test="textureBallFileId!= null"> and textureBall_file_id = #{textureBallFileId,jdbcType=INTEGER}  </if>
		
		<if test="normalPicId!= null"> and normal_pic_id = #{normalPicId,jdbcType=INTEGER}  </if>
		<if test="normalParam!= null and normalParam!='' "> and normal_param = #{normalParam,jdbcType=VARCHAR}  </if>
		
		<if test="name !=  null and name !=  ''   "> and name  = #{name,jdbcType=VARCHAR} </if>
		<if test="sch_Name_ !=  null and sch_Name_ !=  ''   ">
			and name  like CONCAT(CONCAT('%',#{sch_Name_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Name !=  null and sch_Name !=  ''   ">
			and name  like CONCAT('%',#{sch_Name,jdbcType=VARCHAR})
		 </if>
		<if test="schName_ !=  null and schName_ !=  ''   ">
			and name  like CONCAT(#{schName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="nameStart !=  null and nameEnd!= null  ">
			and name between #{nameStart,jdbcType=VARCHAR} and #{nameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="fileName !=  null and fileName !=  ''   "> and file_name  = #{fileName,jdbcType=VARCHAR} </if>
		<if test="sch_FileName_ !=  null and sch_FileName_ !=  ''   ">
			and file_name  like CONCAT(CONCAT('%',#{sch_FileName_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileName !=  null and sch_FileName !=  ''   ">
			and file_name  like CONCAT('%',#{sch_FileName,jdbcType=VARCHAR})
		 </if>
		<if test="schFileName_ !=  null and schFileName_ !=  ''   ">
			and file_name  like CONCAT(#{schFileName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileNameStart !=  null and fileNameEnd!= null  ">
			and file_name between #{fileNameStart,jdbcType=VARCHAR} and #{fileNameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="type !=  null and type !=  ''   "> and type  = #{type,jdbcType=VARCHAR} </if>
		<if test="sch_Type_ !=  null and sch_Type_ !=  ''   ">
			and type  like CONCAT(CONCAT('%',#{sch_Type_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Type !=  null and sch_Type !=  ''   ">
			and type  like CONCAT('%',#{sch_Type,jdbcType=VARCHAR})
		 </if>
		<if test="schType_ !=  null and schType_ !=  ''   ">
			and type  like CONCAT(#{schType_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="typeStart !=  null and typeEnd!= null  ">
			and type between #{typeStart,jdbcType=VARCHAR} and #{typeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="fileCode !=  null and fileCode !=  ''   "> and file_code  = #{fileCode,jdbcType=VARCHAR} </if>
		<if test="sch_FileCode_ !=  null and sch_FileCode_ !=  ''   ">
			and file_code  like CONCAT(CONCAT('%',#{sch_FileCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileCode !=  null and sch_FileCode !=  ''   ">
			and file_code  like CONCAT('%',#{sch_FileCode,jdbcType=VARCHAR})
		 </if>
		<if test="schFileCode_ !=  null and schFileCode_ !=  ''   ">
			and file_code  like CONCAT(#{schFileCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileCodeStart !=  null and fileCodeEnd!= null  ">
			and file_code between #{fileCodeStart,jdbcType=VARCHAR} and #{fileCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="fileSize !=  null  ">			and file_size  = #{fileSize,jdbcType=INTEGER} </if>
		<if test="fileWidth !=  null  ">			and file_width  = #{fileWidth,jdbcType=INTEGER} </if>
		<if test="textureAttrValue !=  null  ">			and texture_attr_value  = #{textureAttrValue,jdbcType=INTEGER} </if>
		<if test="fileHeight !=  null  ">			and file_height  = #{fileHeight,jdbcType=INTEGER} </if>
		<if test="fileSuffix !=  null and fileSuffix !=  ''   "> and file_suffix  = #{fileSuffix,jdbcType=VARCHAR} </if>
		<if test="sch_FileSuffix_ !=  null and sch_FileSuffix_ !=  ''   ">
			and file_suffix  like CONCAT(CONCAT('%',#{sch_FileSuffix_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileSuffix !=  null and sch_FileSuffix !=  ''   ">
			and file_suffix  like CONCAT('%',#{sch_FileSuffix,jdbcType=VARCHAR})
		 </if>
		<if test="schFileSuffix_ !=  null and schFileSuffix_ !=  ''   ">
			and file_suffix  like CONCAT(#{schFileSuffix_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileSuffixStart !=  null and fileSuffixEnd!= null  ">
			and file_suffix between #{fileSuffixStart,jdbcType=VARCHAR} and #{fileSuffixEnd,jdbcType=VARCHAR}
		 </if>
		<if test="filePath !=  null and filePath !=  ''   "> and file_path  = #{filePath,jdbcType=VARCHAR} </if>
		<if test="sch_FilePath_ !=  null and sch_FilePath_ !=  ''   ">
			and file_path  like CONCAT(CONCAT('%',#{sch_FilePath_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FilePath !=  null and sch_FilePath !=  ''   ">
			and file_path  like CONCAT('%',#{sch_FilePath,jdbcType=VARCHAR})
		 </if>
		<if test="schFilePath_ !=  null and schFilePath_ !=  ''   ">
			and file_path  like CONCAT(#{schFilePath_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="filePathStart !=  null and filePathEnd!= null  ">
			and file_path between #{filePathStart,jdbcType=VARCHAR} and #{filePathEnd,jdbcType=VARCHAR}
		 </if>
		 <if test="laymodes !=  null and laymodes !=  ''   "> and lay_modes  = #{laymodes,jdbcType=VARCHAR} </if>
		<if test="fileDesc !=  null and fileDesc !=  ''   "> and file_desc  = #{fileDesc,jdbcType=VARCHAR} </if>
		<if test="sch_FileDesc_ !=  null and sch_FileDesc_ !=  ''   ">
			and file_desc  like CONCAT(CONCAT('%',#{sch_FileDesc_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileDesc !=  null and sch_FileDesc !=  ''   ">
			and file_desc  like CONCAT('%',#{sch_FileDesc,jdbcType=VARCHAR})
		 </if>
		<if test="schFileDesc_ !=  null and schFileDesc_ !=  ''   ">
			and file_desc  like CONCAT(#{schFileDesc_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileDescStart !=  null and fileDescEnd!= null  ">
			and file_desc between #{fileDescStart,jdbcType=VARCHAR} and #{fileDescEnd,jdbcType=VARCHAR}
		 </if>
		<if test="style !=  null and style !=  ''   "> and style  = #{style,jdbcType=VARCHAR} </if>
		<if test="sch_Style_ !=  null and sch_Style_ !=  ''   ">
			and style  like CONCAT(CONCAT('%',#{sch_Style_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Style !=  null and sch_Style !=  ''   ">
			and style  like CONCAT('%',#{sch_Style,jdbcType=VARCHAR})
		 </if>
		<if test="schStyle_ !=  null and schStyle_ !=  ''   ">
			and style  like CONCAT(#{schStyle_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="styleStart !=  null and styleEnd!= null  ">
			and style between #{styleStart,jdbcType=VARCHAR} and #{styleEnd,jdbcType=VARCHAR}
		 </if>
		<if test="texture !=  null and texture !=  ''   "> and texture  = #{texture,jdbcType=VARCHAR} </if>
		<if test="sch_Texture_ !=  null and sch_Texture_ !=  ''   ">
			and texture  like CONCAT(CONCAT('%',#{sch_Texture_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Texture !=  null and sch_Texture !=  ''   ">
			and texture  like CONCAT('%',#{sch_Texture,jdbcType=VARCHAR})
		 </if>
		<if test="schTexture_ !=  null and schTexture_ !=  ''   ">
			and texture  like CONCAT(#{schTexture_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="textureStart !=  null and textureEnd!= null  ">
			and texture between #{textureStart,jdbcType=VARCHAR} and #{textureEnd,jdbcType=VARCHAR}
		 </if>
		<if test="sysCode !=  null and sysCode !=  ''   "> and sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="picId !=  null  ">			and pic_id  = #{picId,jdbcType=INTEGER} </if>
		<if test="att1 !=  null and att1 !=  ''   "> and att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		<if test="numa1 !=  null  ">			and numa1  = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2 !=  null  ">			and numa2  = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark !=  null and remark !=  ''   "> and remark  = #{remark,jdbcType=VARCHAR} </if>		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
	</select>
	
	<!-- 分页查询 ,可在ResTextureSearch中自定义查询条件-->
	<select id="selectPaginatedList" resultMap="AllResultMap"
		parameterType="com.nork.system.model.search.ResTextureSearch">
		select
		<include refid="All_Column_List" />
	    from res_texture
		where 1=1	
		<if test="textureBallFileId!= null"> and textureBall_file_id = #{textureBallFileId,jdbcType=INTEGER}  </if>
		
		<if test="normalPicId!= null"> and normal_pic_id = #{normalPicId,jdbcType=INTEGER}  </if>
		<if test="normalParam!= null and normalParam!='' "> and normal_param = #{normalParam,jdbcType=VARCHAR}  </if>
		
		<if test="name !=  null and name !=  ''   "> and name  = #{name,jdbcType=VARCHAR} </if>
		<if test="sch_Name_ !=  null and sch_Name_ !=  ''   ">
			and name  like CONCAT(CONCAT('%',#{sch_Name_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Name !=  null and sch_Name !=  ''   ">
			and name  like CONCAT('%',#{sch_Name,jdbcType=VARCHAR})
		 </if>
		<if test="schName_ !=  null and schName_ !=  ''   ">
			and name  like CONCAT(#{schName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="nameStart !=  null and nameEnd!= null  ">
			and name between #{nameStart,jdbcType=VARCHAR} and #{nameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="fileName !=  null and fileName !=  ''   "> and file_name  = #{fileName,jdbcType=VARCHAR} </if>
		<if test="sch_FileName_ !=  null and sch_FileName_ !=  ''   ">
			and file_name  like CONCAT(CONCAT('%',#{sch_FileName_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileName !=  null and sch_FileName !=  ''   ">
			and file_name  like CONCAT('%',#{sch_FileName,jdbcType=VARCHAR})
		 </if>
		<if test="schFileName_ !=  null and schFileName_ !=  ''   ">
			and file_name  like CONCAT(#{schFileName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileNameStart !=  null and fileNameEnd!= null  ">
			and file_name between #{fileNameStart,jdbcType=VARCHAR} and #{fileNameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="type !=  null and type !=  ''   "> and type  = #{type,jdbcType=VARCHAR} </if>
		<if test="sch_Type_ !=  null and sch_Type_ !=  ''   ">
			and type  like CONCAT(CONCAT('%',#{sch_Type_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Type !=  null and sch_Type !=  ''   ">
			and type  like CONCAT('%',#{sch_Type,jdbcType=VARCHAR})
		 </if>
		<if test="schType_ !=  null and schType_ !=  ''   ">
			and type  like CONCAT(#{schType_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="typeStart !=  null and typeEnd!= null  ">
			and type between #{typeStart,jdbcType=VARCHAR} and #{typeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="fileCode !=  null and fileCode !=  ''   "> and file_code  = #{fileCode,jdbcType=VARCHAR} </if>
		<if test="sch_FileCode_ !=  null and sch_FileCode_ !=  ''   ">
			and file_code  like CONCAT(CONCAT('%',#{sch_FileCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileCode !=  null and sch_FileCode !=  ''   ">
			and file_code  like CONCAT('%',#{sch_FileCode,jdbcType=VARCHAR})
		 </if>
		<if test="schFileCode_ !=  null and schFileCode_ !=  ''   ">
			and file_code  like CONCAT(#{schFileCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileCodeStart !=  null and fileCodeEnd!= null  ">
			and file_code between #{fileCodeStart,jdbcType=VARCHAR} and #{fileCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="fileSize !=  null  ">			and file_size  = #{fileSize,jdbcType=INTEGER} </if>
		<if test="fileWidth !=  null  ">			and file_width  = #{fileWidth,jdbcType=INTEGER} </if>
		<if test="textureAttrValue !=  null  ">			and texture_attr_value  = #{textureAttrValue,jdbcType=INTEGER} </if>
		<if test="fileHeight !=  null  ">			and file_height  = #{fileHeight,jdbcType=INTEGER} </if>
		<if test="fileSuffix !=  null and fileSuffix !=  ''   "> and file_suffix  = #{fileSuffix,jdbcType=VARCHAR} </if>
		<if test="sch_FileSuffix_ !=  null and sch_FileSuffix_ !=  ''   ">
			and file_suffix  like CONCAT(CONCAT('%',#{sch_FileSuffix_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileSuffix !=  null and sch_FileSuffix !=  ''   ">
			and file_suffix  like CONCAT('%',#{sch_FileSuffix,jdbcType=VARCHAR})
		 </if>
		<if test="schFileSuffix_ !=  null and schFileSuffix_ !=  ''   ">
			and file_suffix  like CONCAT(#{schFileSuffix_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileSuffixStart !=  null and fileSuffixEnd!= null  ">
			and file_suffix between #{fileSuffixStart,jdbcType=VARCHAR} and #{fileSuffixEnd,jdbcType=VARCHAR}
		 </if>
		<if test="filePath !=  null and filePath !=  ''   "> and file_path  = #{filePath,jdbcType=VARCHAR} </if>
		<if test="sch_FilePath_ !=  null and sch_FilePath_ !=  ''   ">
			and file_path  like CONCAT(CONCAT('%',#{sch_FilePath_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FilePath !=  null and sch_FilePath !=  ''   ">
			and file_path  like CONCAT('%',#{sch_FilePath,jdbcType=VARCHAR})
		 </if>
		<if test="schFilePath_ !=  null and schFilePath_ !=  ''   ">
			and file_path  like CONCAT(#{schFilePath_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="filePathStart !=  null and filePathEnd!= null  ">
			and file_path between #{filePathStart,jdbcType=VARCHAR} and #{filePathEnd,jdbcType=VARCHAR}
		 </if>
		 <if test="laymodes !=  null and laymodes !=  ''   "> and lay_modes  = #{laymodes,jdbcType=VARCHAR} </if>
		<if test="fileDesc !=  null and fileDesc !=  ''   "> and file_desc  = #{fileDesc,jdbcType=VARCHAR} </if>
		<if test="sch_FileDesc_ !=  null and sch_FileDesc_ !=  ''   ">
			and file_desc  like CONCAT(CONCAT('%',#{sch_FileDesc_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_FileDesc !=  null and sch_FileDesc !=  ''   ">
			and file_desc  like CONCAT('%',#{sch_FileDesc,jdbcType=VARCHAR})
		 </if>
		<if test="schFileDesc_ !=  null and schFileDesc_ !=  ''   ">
			and file_desc  like CONCAT(#{schFileDesc_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="fileDescStart !=  null and fileDescEnd!= null  ">
			and file_desc between #{fileDescStart,jdbcType=VARCHAR} and #{fileDescEnd,jdbcType=VARCHAR}
		 </if>
		<if test="style !=  null and style !=  ''   "> and style  = #{style,jdbcType=VARCHAR} </if>
		<if test="sch_Style_ !=  null and sch_Style_ !=  ''   ">
			and style  like CONCAT(CONCAT('%',#{sch_Style_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Style !=  null and sch_Style !=  ''   ">
			and style  like CONCAT('%',#{sch_Style,jdbcType=VARCHAR})
		 </if>
		<if test="schStyle_ !=  null and schStyle_ !=  ''   ">
			and style  like CONCAT(#{schStyle_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="styleStart !=  null and styleEnd!= null  ">
			and style between #{styleStart,jdbcType=VARCHAR} and #{styleEnd,jdbcType=VARCHAR}
		 </if>
		<if test="texture !=  null and texture !=  ''   "> and texture  = #{texture,jdbcType=VARCHAR} </if>
		<if test="sch_Texture_ !=  null and sch_Texture_ !=  ''   ">
			and texture  like CONCAT(CONCAT('%',#{sch_Texture_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Texture !=  null and sch_Texture !=  ''   ">
			and texture  like CONCAT('%',#{sch_Texture,jdbcType=VARCHAR})
		 </if>
		<if test="schTexture_ !=  null and schTexture_ !=  ''   ">
			and texture  like CONCAT(#{schTexture_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="textureStart !=  null and textureEnd!= null  ">
			and texture between #{textureStart,jdbcType=VARCHAR} and #{textureEnd,jdbcType=VARCHAR}
		 </if>
		<if test="sysCode !=  null and sysCode !=  ''   "> and sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="picId !=  null  ">			and pic_id  = #{picId,jdbcType=INTEGER} </if>
		<if test="att1 !=  null and att1 !=  ''   "> and att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		<if test="numa1 !=  null  ">			and numa1  = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2 !=  null  ">			and numa2  = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark !=  null and remark !=  ''   "> and remark  = #{remark,jdbcType=VARCHAR} </if>		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
		<if test="order != null and  order !=''  ">
			order by ${order} <if test="orderNum != null and  orderNum !='' ">${orderNum}</if>
		</if>
		<if test="orders != null and  orders !=''  ">  order by #{orders}</if>
		<if test="order == null and  orders == null ">  order by id desc</if>
		<if test="start !=-1 and limit !=-1"> LIMIT #{start}, #{limit}</if>
	</select>

    <!-- 其他Map等查询方式 -->
    
     <!-- end-->
     
     <!-- 通过id 集合 批量获取数据-->
     <select id="getBatchGet" resultMap="AllResultMap"  parameterType="com.nork.system.model.ResTexture" flushCache="true">
		select
		<include refid="All_Column_List" />
		from res_texture
		WHERE 1=1 
		AND id in
		<foreach collection="resTextureIds" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<!-- 按主键查询所有的材质数据，无论是否逻辑删除 -->
	<select id="selectByPrimaryKey2" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from res_texture
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 通过主键获取材质信息 -->
	<select id="selectTextureInfoById" resultType="com.nork.system.model.po.ResTexturePo"
			parameterType="java.lang.Integer">
		select
			a.id 							as resRextureId,
			a.texture_attr_value 			as textureAttrValue,
			IFNULL(a.file_height, 0) 		as fileHeight,
			IFNULL(a.file_width, 0)			as fileWidth,
			IFNULL(a.lay_modes,'') 			as laymodes,
			IFNULL(a.normal_param,'')		as normalParam,
			IFNULL(a.brand_id, 0)			as brandId,
			IFNULL(a.texture_code,'')    	as textureCode,
			IFNULL(b.pic_path,'') 			as texturePicPath,
			IFNULL(b.small_pic_info,'') 	as smallPicInfo,
			IFNULL(c.model_path,'') 		as materialPath,
			IFNULL(d.pic_path,'')			as normalPath,
			IFNULL(e.brand_name,'')			as brandName
		from res_texture a
		LEFT JOIN res_pic b 	on b.id = a.pic_id
		LEFT JOIN res_model c 	on c.id = a.textureBall_file_id
		LEFT JOIN res_pic d 	on d.id = a.normal_pic_id
		LEFT JOIN base_brand e 	on e.id = a.brand_id
		where a.id = #{id,jdbcType=INTEGER}
	</select>

</mapper>
