<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
    <dubbo:reference id="luckyWheelAwardMsgService" interface="com.sandu.api.act3.service.LuckyWheelAwardMsgService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    	
    <dubbo:reference id="luckyWheelLotteryRecordActDayAggregatedService" interface="com.sandu.api.act3.service.LuckyWheelLotteryRecordActDayAggregatedService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    	
    <dubbo:reference id="luckyWheelLotteryRecordService" interface="com.sandu.api.act3.service.LuckyWheelLotteryRecordService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>	
    	
    <dubbo:reference id="luckyWheelPrizeService" interface="com.sandu.api.act3.service.LuckyWheelPrizeService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>	 		
  
  	<dubbo:reference id="luckyWheelRegistrationService" interface="com.sandu.api.act3.service.LuckyWheelRegistrationService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    	
    <dubbo:reference id="luckyWheelService" interface="com.sandu.api.act3.service.LuckyWheelService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    		
</beans>