<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.panorama.dao.UnionGroupMapper">
	<!-- **插入定义** -->
	<insert id="insertSelective" parameterType="com.sandu.cityunion.model.UnionGroup"  useGeneratedKeys="true" keyProperty="id">
		insert into union_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="groupName!= null">group_name, </if>
		<if test="userId!= null">user_id, </if>
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<!--<if test="att1!= null">att1, </if>
		<if test="att2!= null">att2, </if>
		<if test="numa1!= null">numa1, </if>
		<if test="numa2!= null">numa2, </if>-->
		<if test="remark!= null">remark, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="groupName!= null">  #{groupName,jdbcType=VARCHAR}, </if>
		<if test="userId!= null">  #{userId,jdbcType=INTEGER}, </if>
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<!--<if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  #{numa2,jdbcType=INTEGER}, </if>-->
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>	
		</trim>
	</insert>

	<!-- **更新定义** -->
	<update id="updateByPrimaryKeySelective" parameterType="com.sandu.cityunion.model.UnionGroup">
		update union_group
		<set>
		<if test="groupName!= null">  group_name = #{groupName,jdbcType=VARCHAR}, </if>
		<if test="userId!= null">  user_id = #{userId,jdbcType=INTEGER}, </if>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<!--<if test="att1!= null">  att1 = #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  att2 = #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  numa1 = #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  numa2 = #{numa2,jdbcType=INTEGER}, </if>-->
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 逻辑删除 -->
	<update id="deleteById" parameterType="com.sandu.cityunion.model.UnionGroup">
		update union_group
		<set>
			is_deleted = 1
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- **删除定义** -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from union_group
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- **常量定义** -->
	<sql id="All_Column_List">
		id,group_name,user_id,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted,remark
	</sql>
	
	<!-- **结果定义** -->
	<resultMap id="AllResultMap" type="com.sandu.cityunion.model.UnionGroup">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result  column="user_id" property="userId" jdbcType="INTEGER" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<!--<result  column="att1" property="att1" jdbcType="VARCHAR" />
		<result  column="att2" property="att2" jdbcType="VARCHAR" />
		<result  column="numa1" property="numa1" jdbcType="INTEGER" />
		<result  column="numa2" property="numa2" jdbcType="INTEGER" />-->
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- **查询定义** -->
	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from union_group
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 根据用户ID查所有组 -->
    <select id="getListByUserId" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from union_group
        where 1=1
		and user_id = #{userId,jdbcType=INTEGER} 
		and is_deleted = 0
	</select>
	
	
	<!-- 查询所有，可排序 -->
    <select id="selectList" resultMap="AllResultMap"
		parameterType="com.sandu.cityunion.model.UnionGroup">
		select
		<include refid="All_Column_List" />
		from union_group
        where 1=1
		<if test="groupName!= null">  and group_name = #{groupName,jdbcType=VARCHAR} </if>
		<if test="userId!= null">  and user_id = #{userId,jdbcType=INTEGER} </if>
		<if test="sysCode!= null">  and sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<!--<if test="att1!= null">  and att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="numa1!= null">  and numa1 = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2!= null">  and numa2 = #{numa2,jdbcType=INTEGER} </if>-->
		<if test="remark!= null">  and remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="order != null and  order !=''  ">
			order by ${order}
			<if test="orderNum != null and  orderNum !='' ">
				${orderNum}
			</if>
		</if>
		<if test="orders != null and  orders !=''  ">
		   order by ${orders}
		</if>
	</select>
	

    <!-- 其他Map等查询方式 -->

    <resultMap id="UnionGroupVo_resultMap" type="com.sandu.panorama.model.output.UnionGroupVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="group_name" property="groupName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectUnionGroupVoListBySearch" resultMap="UnionGroupVo_resultMap" parameterType="com.sandu.panorama.model.input.UnionGroupSearch">
		select id,group_name  from union_group
		where 1=1
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
		and is_deleted = 0
			order by
			<if test="unionGroupId != null">
				/*置顶720制作关联的联盟分组*/
				 field(id,#{unionGroupId,jdbcType=INTEGER}) desc,
			</if>
			id desc
			<if test="start != -1 and limit != -1 and start != 0 and limit !=0">
				limit ${start},${limit}
			</if>
	</select>

	<select id="selectCount" parameterType="com.sandu.panorama.model.input.UnionGroupSearch" resultType="int">
		select count(*) from union_group
		where 1=1
		<if test="userId != null">
			and user_id = #{userId,jdbcType=INTEGER}
		</if>
		and is_deleted =0
	</select>

	<!-- end-->
</mapper>
