<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.service.pointmall.dao.OrderAddressDao">
    <insert id="insertSelective" >
        insert into imall_order_address
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="country != null" >
                country,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="area != null" >
                area,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="zipcode != null" >
                zipcode,
            </if>
            <if test="consignee != null" >
                consignee,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="sysCode != null" >
                sys_code,
            </if>
            <if test="creator != null" >
                creator,
            </if>
            <if test="gmtCreate != null" >
                gmt_create,
            </if>
            <if test="modifier != null" >
                modifier,
            </if>
            <if test="gmtModified != null" >
                gmt_modified,
            </if>
            <if test="isDeleted != null" >
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="orderId != null" >
                #{orderId},
            </if>
            <if test="country != null" >
                #{country},
            </if>
            <if test="province != null" >
                #{province},
            </if>
            <if test="city != null" >
                #{city},
            </if>
            <if test="area != null" >
                #{area},
            </if>
            <if test="address != null" >
                #{address},
            </if>
            <if test="zipcode != null" >
                #{zipcode},
            </if>
            <if test="consignee != null" >
                #{consignee},
            </if>
            <if test="mobile != null" >
                #{mobile},
            </if>
            <if test="sysCode != null" >
                #{sysCode},
            </if>
            <if test="creator != null" >
                #{creator},
            </if>
            <if test="gmtCreate != null" >
                #{gmtCreate},
            </if>
            <if test="modifier != null" >
                #{modifier},
            </if>
            <if test="gmtModified != null" >
                #{gmtModified},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted},
            </if>
        </trim>
    </insert>
</mapper>