<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

   <!-- &lt;!&ndash; 购物车服务 &ndash;&gt;
    <dubbo:service interface="com.sandu.cart.service.MallBaseCartService" ref="mallBaseCartService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}"/>
-->
   <!--<dubbo:service interface="com.sandu.audit.service.IAuditService" ref="auditService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}"/>-->

</beans>