<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.roc.mag.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="cn.roc.mag.entity.SysUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="pic_id" property="picId" jdbcType="INTEGER" />
    <result column="media_type" property="mediaType" jdbcType="INTEGER" />
    <result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="att3" property="att3" jdbcType="VARCHAR" />
    <result column="att4" property="att4" jdbcType="VARCHAR" />
    <result column="att5" property="att5" jdbcType="VARCHAR" />
    <result column="att6" property="att6" jdbcType="VARCHAR" />
    <result column="date_att1" property="dateAtt1" jdbcType="TIMESTAMP" />
    <result column="date_att2" property="dateAtt2" jdbcType="TIMESTAMP" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="num_att2" property="numAtt2" jdbcType="INTEGER" />
    <result column="num_att3" property="numAtt3" jdbcType="DECIMAL" />
    <result column="num_att4" property="numAtt4" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="company_tel" property="companyTel" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="speciality_value" property="specialityValue" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="email_verify_state" property="emailVerifyState" jdbcType="INTEGER" />
    <result column="mobile_verify_state" property="mobileVerifyState" jdbcType="INTEGER" />
    <result column="idcard_verify_state" property="idcardVerifyState" jdbcType="INTEGER" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
    <result column="application_date" property="applicationDate" jdbcType="TIMESTAMP" />
    <result column="verify_user" property="verifyUser" jdbcType="VARCHAR" />
    <result column="verify_date" property="verifyDate" jdbcType="TIMESTAMP" />
    <result column="area_long_code" property="areaLongCode" jdbcType="VARCHAR" />
    <result column="reason_rejected" property="reasonRejected" jdbcType="VARCHAR" />
    <result column="brand_ids" property="brandIds" jdbcType="VARCHAR" />
    <result column="user_imei" property="userImei" jdbcType="VARCHAR" />
    <result column="consum_amount" property="consumAmount" jdbcType="DECIMAL" />
    <result column="balance_amount" property="balanceAmount" jdbcType="DECIMAL" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="network_card_restrict" property="networkCardRestrict" jdbcType="INTEGER" />
    <result column="exists_mobile" property="existsMobile" jdbcType="INTEGER" />
    <result column="mobile_opened_date" property="mobileOpenedDate" jdbcType="DATE" />
    <result column="mobile_closed_date" property="mobileClosedDate" jdbcType="DATE" />
    <result column="usable_house_number" property="usableHouseNumber" jdbcType="INTEGER" />
    <result column="visitors_render_times" property="visitorsRenderTimes" jdbcType="INTEGER" />
    <result column="business_administration_id" property="businessAdministrationId" jdbcType="INTEGER" />
    <result column="franchiser_account_type" property="franchiserAccountType" jdbcType="TINYINT" />
    <result column="franchiser_group_id" property="franchiserGroupId" jdbcType="INTEGER" />
    <result column="password_update_flag" property="passwordUpdateFlag" jdbcType="TINYINT" />
    <result column="verify_flag" property="verifyFlag" jdbcType="INTEGER" />
    <result column="consum_integral" property="consumIntegral" jdbcType="INTEGER" />
    <result column="balance_integral" property="balanceIntegral" jdbcType="INTEGER" />
    <result column="last_login_company_id" property="lastLoginCompanyId" jdbcType="BIGINT" />
    <result column="post_type" property="postType" jdbcType="INTEGER" />
    <result column="is_login_before" property="isLoginBefore" jdbcType="INTEGER" />
    <result column="platform_type" property="platformType" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="mini_program_company_id" property="miniProgramCompanyId" jdbcType="BIGINT" />
    <result column="first_login_time" property="firstLoginTime" jdbcType="TIMESTAMP" />
    <result column="use_type" property="useType" jdbcType="INTEGER" />
    <result column="valid_time" property="validTime" jdbcType="INTEGER" />
    <result column="failure_time" property="failureTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, nick_name, mobile, password, email, user_type, sex, job, area_id, 
    pic_id, media_type, sys_code, creator, gmt_create, modifier, gmt_modified, is_deleted, 
    app_key, token, att3, att4, att5, att6, date_att1, date_att2, group_id, num_att2, 
    num_att3, num_att4, remark, real_name, qq, company_tel, company_address, speciality_value, 
    intro, email_verify_state, mobile_verify_state, idcard_verify_state, LEVEL, application_date, 
    verify_user, verify_date, area_long_code, reason_rejected, brand_ids, user_imei, 
    consum_amount, balance_amount, address, network_card_restrict, exists_mobile, mobile_opened_date, 
    mobile_closed_date, usable_house_number, visitors_render_times, business_administration_id, 
    franchiser_account_type, franchiser_group_id, password_update_flag, verify_flag, 
    consum_integral, balance_integral, last_login_company_id, post_type, is_login_before, 
    platform_type, open_id, mini_program_company_id, first_login_time, use_type, valid_time, 
    failure_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.roc.mag.entity.SysUser" >
    insert into sys_user (id, user_name, nick_name, 
      mobile, password, email, 
      user_type, sex, job, 
      area_id, pic_id, media_type, 
      sys_code, creator, gmt_create, 
      modifier, gmt_modified, is_deleted, 
      app_key, token, att3, 
      att4, att5, att6, date_att1, 
      date_att2, group_id, num_att2, 
      num_att3, num_att4, remark, 
      real_name, qq, company_tel, 
      company_address, speciality_value, intro, 
      email_verify_state, mobile_verify_state, idcard_verify_state, 
      LEVEL, application_date, verify_user, 
      verify_date, area_long_code, reason_rejected, 
      brand_ids, user_imei, consum_amount, 
      balance_amount, address, network_card_restrict, 
      exists_mobile, mobile_opened_date, mobile_closed_date, 
      usable_house_number, visitors_render_times, 
      business_administration_id, franchiser_account_type, 
      franchiser_group_id, password_update_flag, 
      verify_flag, consum_integral, balance_integral, 
      last_login_company_id, post_type, is_login_before, 
      platform_type, open_id, mini_program_company_id, 
      first_login_time, use_type, valid_time, 
      failure_time)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{job,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=INTEGER}, #{picId,jdbcType=INTEGER}, #{mediaType,jdbcType=INTEGER}, 
      #{sysCode,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, 
      #{appKey,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{att3,jdbcType=VARCHAR}, 
      #{att4,jdbcType=VARCHAR}, #{att5,jdbcType=VARCHAR}, #{att6,jdbcType=VARCHAR}, #{dateAtt1,jdbcType=TIMESTAMP}, 
      #{dateAtt2,jdbcType=TIMESTAMP}, #{groupId,jdbcType=INTEGER}, #{numAtt2,jdbcType=INTEGER}, 
      #{numAtt3,jdbcType=DECIMAL}, #{numAtt4,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{companyTel,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{specialityValue,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{emailVerifyState,jdbcType=INTEGER}, #{mobileVerifyState,jdbcType=INTEGER}, #{idcardVerifyState,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{applicationDate,jdbcType=TIMESTAMP}, #{verifyUser,jdbcType=VARCHAR}, 
      #{verifyDate,jdbcType=TIMESTAMP}, #{areaLongCode,jdbcType=VARCHAR}, #{reasonRejected,jdbcType=VARCHAR}, 
      #{brandIds,jdbcType=VARCHAR}, #{userImei,jdbcType=VARCHAR}, #{consumAmount,jdbcType=DECIMAL}, 
      #{balanceAmount,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}, #{networkCardRestrict,jdbcType=INTEGER}, 
      #{existsMobile,jdbcType=INTEGER}, #{mobileOpenedDate,jdbcType=DATE}, #{mobileClosedDate,jdbcType=DATE}, 
      #{usableHouseNumber,jdbcType=INTEGER}, #{visitorsRenderTimes,jdbcType=INTEGER}, 
      #{businessAdministrationId,jdbcType=INTEGER}, #{franchiserAccountType,jdbcType=TINYINT}, 
      #{franchiserGroupId,jdbcType=INTEGER}, #{passwordUpdateFlag,jdbcType=TINYINT}, 
      #{verifyFlag,jdbcType=INTEGER}, #{consumIntegral,jdbcType=INTEGER}, #{balanceIntegral,jdbcType=INTEGER}, 
      #{lastLoginCompanyId,jdbcType=BIGINT}, #{postType,jdbcType=INTEGER}, #{isLoginBefore,jdbcType=INTEGER}, 
      #{platformType,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{miniProgramCompanyId,jdbcType=BIGINT}, 
      #{firstLoginTime,jdbcType=TIMESTAMP}, #{useType,jdbcType=INTEGER}, #{validTime,jdbcType=INTEGER}, 
      #{failureTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.roc.mag.entity.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="picId != null" >
        pic_id,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="sysCode != null" >
        sys_code,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="att3 != null" >
        att3,
      </if>
      <if test="att4 != null" >
        att4,
      </if>
      <if test="att5 != null" >
        att5,
      </if>
      <if test="att6 != null" >
        att6,
      </if>
      <if test="dateAtt1 != null" >
        date_att1,
      </if>
      <if test="dateAtt2 != null" >
        date_att2,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="numAtt2 != null" >
        num_att2,
      </if>
      <if test="numAtt3 != null" >
        num_att3,
      </if>
      <if test="numAtt4 != null" >
        num_att4,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="companyTel != null" >
        company_tel,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="specialityValue != null" >
        speciality_value,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="emailVerifyState != null" >
        email_verify_state,
      </if>
      <if test="mobileVerifyState != null" >
        mobile_verify_state,
      </if>
      <if test="idcardVerifyState != null" >
        idcard_verify_state,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="applicationDate != null" >
        application_date,
      </if>
      <if test="verifyUser != null" >
        verify_user,
      </if>
      <if test="verifyDate != null" >
        verify_date,
      </if>
      <if test="areaLongCode != null" >
        area_long_code,
      </if>
      <if test="reasonRejected != null" >
        reason_rejected,
      </if>
      <if test="brandIds != null" >
        brand_ids,
      </if>
      <if test="userImei != null" >
        user_imei,
      </if>
      <if test="consumAmount != null" >
        consum_amount,
      </if>
      <if test="balanceAmount != null" >
        balance_amount,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="networkCardRestrict != null" >
        network_card_restrict,
      </if>
      <if test="existsMobile != null" >
        exists_mobile,
      </if>
      <if test="mobileOpenedDate != null" >
        mobile_opened_date,
      </if>
      <if test="mobileClosedDate != null" >
        mobile_closed_date,
      </if>
      <if test="usableHouseNumber != null" >
        usable_house_number,
      </if>
      <if test="visitorsRenderTimes != null" >
        visitors_render_times,
      </if>
      <if test="businessAdministrationId != null" >
        business_administration_id,
      </if>
      <if test="franchiserAccountType != null" >
        franchiser_account_type,
      </if>
      <if test="franchiserGroupId != null" >
        franchiser_group_id,
      </if>
      <if test="passwordUpdateFlag != null" >
        password_update_flag,
      </if>
      <if test="verifyFlag != null" >
        verify_flag,
      </if>
      <if test="consumIntegral != null" >
        consum_integral,
      </if>
      <if test="balanceIntegral != null" >
        balance_integral,
      </if>
      <if test="lastLoginCompanyId != null" >
        last_login_company_id,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
      <if test="isLoginBefore != null" >
        is_login_before,
      </if>
      <if test="platformType != null" >
        platform_type,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="miniProgramCompanyId != null" >
        mini_program_company_id,
      </if>
      <if test="firstLoginTime != null" >
        first_login_time,
      </if>
      <if test="useType != null" >
        use_type,
      </if>
      <if test="validTime != null" >
        valid_time,
      </if>
      <if test="failureTime != null" >
        failure_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="picId != null" >
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null" >
        #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null" >
        #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null" >
        #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null" >
        #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null" >
        #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null" >
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null" >
        #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null" >
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null" >
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null" >
        #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="specialityValue != null" >
        #{specialityValue,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="emailVerifyState != null" >
        #{emailVerifyState,jdbcType=INTEGER},
      </if>
      <if test="mobileVerifyState != null" >
        #{mobileVerifyState,jdbcType=INTEGER},
      </if>
      <if test="idcardVerifyState != null" >
        #{idcardVerifyState,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="applicationDate != null" >
        #{applicationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyUser != null" >
        #{verifyUser,jdbcType=VARCHAR},
      </if>
      <if test="verifyDate != null" >
        #{verifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="areaLongCode != null" >
        #{areaLongCode,jdbcType=VARCHAR},
      </if>
      <if test="reasonRejected != null" >
        #{reasonRejected,jdbcType=VARCHAR},
      </if>
      <if test="brandIds != null" >
        #{brandIds,jdbcType=VARCHAR},
      </if>
      <if test="userImei != null" >
        #{userImei,jdbcType=VARCHAR},
      </if>
      <if test="consumAmount != null" >
        #{consumAmount,jdbcType=DECIMAL},
      </if>
      <if test="balanceAmount != null" >
        #{balanceAmount,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="networkCardRestrict != null" >
        #{networkCardRestrict,jdbcType=INTEGER},
      </if>
      <if test="existsMobile != null" >
        #{existsMobile,jdbcType=INTEGER},
      </if>
      <if test="mobileOpenedDate != null" >
        #{mobileOpenedDate,jdbcType=DATE},
      </if>
      <if test="mobileClosedDate != null" >
        #{mobileClosedDate,jdbcType=DATE},
      </if>
      <if test="usableHouseNumber != null" >
        #{usableHouseNumber,jdbcType=INTEGER},
      </if>
      <if test="visitorsRenderTimes != null" >
        #{visitorsRenderTimes,jdbcType=INTEGER},
      </if>
      <if test="businessAdministrationId != null" >
        #{businessAdministrationId,jdbcType=INTEGER},
      </if>
      <if test="franchiserAccountType != null" >
        #{franchiserAccountType,jdbcType=TINYINT},
      </if>
      <if test="franchiserGroupId != null" >
        #{franchiserGroupId,jdbcType=INTEGER},
      </if>
      <if test="passwordUpdateFlag != null" >
        #{passwordUpdateFlag,jdbcType=TINYINT},
      </if>
      <if test="verifyFlag != null" >
        #{verifyFlag,jdbcType=INTEGER},
      </if>
      <if test="consumIntegral != null" >
        #{consumIntegral,jdbcType=INTEGER},
      </if>
      <if test="balanceIntegral != null" >
        #{balanceIntegral,jdbcType=INTEGER},
      </if>
      <if test="lastLoginCompanyId != null" >
        #{lastLoginCompanyId,jdbcType=BIGINT},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="isLoginBefore != null" >
        #{isLoginBefore,jdbcType=INTEGER},
      </if>
      <if test="platformType != null" >
        #{platformType,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="miniProgramCompanyId != null" >
        #{miniProgramCompanyId,jdbcType=BIGINT},
      </if>
      <if test="firstLoginTime != null" >
        #{firstLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useType != null" >
        #{useType,jdbcType=INTEGER},
      </if>
      <if test="validTime != null" >
        #{validTime,jdbcType=INTEGER},
      </if>
      <if test="failureTime != null" >
        #{failureTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.roc.mag.entity.SysUser" >
    update sys_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="picId != null" >
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="mediaType != null" >
        media_type = #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="sysCode != null" >
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null" >
        att3 = #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null" >
        att4 = #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null" >
        att5 = #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null" >
        att6 = #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null" >
        date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null" >
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null" >
        num_att2 = #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null" >
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null" >
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null" >
        company_tel = #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="specialityValue != null" >
        speciality_value = #{specialityValue,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="emailVerifyState != null" >
        email_verify_state = #{emailVerifyState,jdbcType=INTEGER},
      </if>
      <if test="mobileVerifyState != null" >
        mobile_verify_state = #{mobileVerifyState,jdbcType=INTEGER},
      </if>
      <if test="idcardVerifyState != null" >
        idcard_verify_state = #{idcardVerifyState,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
      <if test="applicationDate != null" >
        application_date = #{applicationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyUser != null" >
        verify_user = #{verifyUser,jdbcType=VARCHAR},
      </if>
      <if test="verifyDate != null" >
        verify_date = #{verifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="areaLongCode != null" >
        area_long_code = #{areaLongCode,jdbcType=VARCHAR},
      </if>
      <if test="reasonRejected != null" >
        reason_rejected = #{reasonRejected,jdbcType=VARCHAR},
      </if>
      <if test="brandIds != null" >
        brand_ids = #{brandIds,jdbcType=VARCHAR},
      </if>
      <if test="userImei != null" >
        user_imei = #{userImei,jdbcType=VARCHAR},
      </if>
      <if test="consumAmount != null" >
        consum_amount = #{consumAmount,jdbcType=DECIMAL},
      </if>
      <if test="balanceAmount != null" >
        balance_amount = #{balanceAmount,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="networkCardRestrict != null" >
        network_card_restrict = #{networkCardRestrict,jdbcType=INTEGER},
      </if>
      <if test="existsMobile != null" >
        exists_mobile = #{existsMobile,jdbcType=INTEGER},
      </if>
      <if test="mobileOpenedDate != null" >
        mobile_opened_date = #{mobileOpenedDate,jdbcType=DATE},
      </if>
      <if test="mobileClosedDate != null" >
        mobile_closed_date = #{mobileClosedDate,jdbcType=DATE},
      </if>
      <if test="usableHouseNumber != null" >
        usable_house_number = #{usableHouseNumber,jdbcType=INTEGER},
      </if>
      <if test="visitorsRenderTimes != null" >
        visitors_render_times = #{visitorsRenderTimes,jdbcType=INTEGER},
      </if>
      <if test="businessAdministrationId != null" >
        business_administration_id = #{businessAdministrationId,jdbcType=INTEGER},
      </if>
      <if test="franchiserAccountType != null" >
        franchiser_account_type = #{franchiserAccountType,jdbcType=TINYINT},
      </if>
      <if test="franchiserGroupId != null" >
        franchiser_group_id = #{franchiserGroupId,jdbcType=INTEGER},
      </if>
      <if test="passwordUpdateFlag != null" >
        password_update_flag = #{passwordUpdateFlag,jdbcType=TINYINT},
      </if>
      <if test="verifyFlag != null" >
        verify_flag = #{verifyFlag,jdbcType=INTEGER},
      </if>
      <if test="consumIntegral != null" >
        consum_integral = #{consumIntegral,jdbcType=INTEGER},
      </if>
      <if test="balanceIntegral != null" >
        balance_integral = #{balanceIntegral,jdbcType=INTEGER},
      </if>
      <if test="lastLoginCompanyId != null" >
        last_login_company_id = #{lastLoginCompanyId,jdbcType=BIGINT},
      </if>
      <if test="postType != null" >
        post_type = #{postType,jdbcType=INTEGER},
      </if>
      <if test="isLoginBefore != null" >
        is_login_before = #{isLoginBefore,jdbcType=INTEGER},
      </if>
      <if test="platformType != null" >
        platform_type = #{platformType,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="miniProgramCompanyId != null" >
        mini_program_company_id = #{miniProgramCompanyId,jdbcType=BIGINT},
      </if>
      <if test="firstLoginTime != null" >
        first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useType != null" >
        use_type = #{useType,jdbcType=INTEGER},
      </if>
      <if test="validTime != null" >
        valid_time = #{validTime,jdbcType=INTEGER},
      </if>
      <if test="failureTime != null" >
        failure_time = #{failureTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.roc.mag.entity.SysUser" >
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      job = #{job,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      media_type = #{mediaType,jdbcType=INTEGER},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      app_key = #{appKey,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      att3 = #{att3,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      group_id = #{groupId,jdbcType=INTEGER},
      num_att2 = #{numAtt2,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      company_tel = #{companyTel,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      speciality_value = #{specialityValue,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      email_verify_state = #{emailVerifyState,jdbcType=INTEGER},
      mobile_verify_state = #{mobileVerifyState,jdbcType=INTEGER},
      idcard_verify_state = #{idcardVerifyState,jdbcType=INTEGER},
      LEVEL = #{level,jdbcType=INTEGER},
      application_date = #{applicationDate,jdbcType=TIMESTAMP},
      verify_user = #{verifyUser,jdbcType=VARCHAR},
      verify_date = #{verifyDate,jdbcType=TIMESTAMP},
      area_long_code = #{areaLongCode,jdbcType=VARCHAR},
      reason_rejected = #{reasonRejected,jdbcType=VARCHAR},
      brand_ids = #{brandIds,jdbcType=VARCHAR},
      user_imei = #{userImei,jdbcType=VARCHAR},
      consum_amount = #{consumAmount,jdbcType=DECIMAL},
      balance_amount = #{balanceAmount,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR},
      network_card_restrict = #{networkCardRestrict,jdbcType=INTEGER},
      exists_mobile = #{existsMobile,jdbcType=INTEGER},
      mobile_opened_date = #{mobileOpenedDate,jdbcType=DATE},
      mobile_closed_date = #{mobileClosedDate,jdbcType=DATE},
      usable_house_number = #{usableHouseNumber,jdbcType=INTEGER},
      visitors_render_times = #{visitorsRenderTimes,jdbcType=INTEGER},
      business_administration_id = #{businessAdministrationId,jdbcType=INTEGER},
      franchiser_account_type = #{franchiserAccountType,jdbcType=TINYINT},
      franchiser_group_id = #{franchiserGroupId,jdbcType=INTEGER},
      password_update_flag = #{passwordUpdateFlag,jdbcType=TINYINT},
      verify_flag = #{verifyFlag,jdbcType=INTEGER},
      consum_integral = #{consumIntegral,jdbcType=INTEGER},
      balance_integral = #{balanceIntegral,jdbcType=INTEGER},
      last_login_company_id = #{lastLoginCompanyId,jdbcType=BIGINT},
      post_type = #{postType,jdbcType=INTEGER},
      is_login_before = #{isLoginBefore,jdbcType=INTEGER},
      platform_type = #{platformType,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      mini_program_company_id = #{miniProgramCompanyId,jdbcType=BIGINT},
      first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      use_type = #{useType,jdbcType=INTEGER},
      valid_time = #{validTime,jdbcType=INTEGER},
      failure_time = #{failureTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>