<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nork.business.dao.RoomCommonMapper">
<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
	<!-- **插入定义** -->
	<insert id="insertSelective" parameterType="com.nork.business.model.RoomCommon"  useGeneratedKeys="true" keyProperty="id">
		insert into room_common
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<if test="commonRoomCode!= null">common_room_code, </if>
		<if test="commonRoomName!= null">common_room_name, </if>
		<if test="roomTypeId!= null">room_type_id, </if>
		<if test="commonRoomLength!= null">common_room_length, </if>
		<if test="commonRoomWidth!= null">common_room_width, </if>
		<if test="commonRoomHigh!= null">common_room_high, </if>
		<if test="commonRoomAreas!= null">common_room_areas, </if>
		<if test="commonRoomDesc!= null">common_room_desc, </if>
		<if test="picResId!= null">pic_res_id, </if>
		<if test="modelResId!= null">model_res_id, </if>
		<if test="isIgnoreWay!= null">is_ignore_way, </if>
		<if test="wayLocation!= null">way_location, </if>
		<if test="roomPercent!= null">room_percent, </if>
		<if test="att1!= null">att1, </if>
		<if test="att2!= null">att2, </if>
		<if test="att3!= null">att3, </if>
		<if test="att4!= null">att4, </if>
		<if test="att5!= null">att5, </if>
		<if test="att6!= null">att6, </if>
		<if test="dateAtt1!= null">date_att1, </if>
		<if test="dateAtt2!= null">date_att2, </if>
		<if test="numAtt1!= null">num_att1, </if>
		<if test="numAtt2!= null">num_att2, </if>
		<if test="numAtt3!= null">num_att3, </if>
		<if test="numAtt4!= null">num_att4, </if>
		<if test="remark!= null">remark, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="commonRoomCode!= null">  #{commonRoomCode,jdbcType=VARCHAR}, </if>
		<if test="commonRoomName!= null">  #{commonRoomName,jdbcType=VARCHAR}, </if>
		<if test="roomTypeId!= null">  #{roomTypeId,jdbcType=INTEGER}, </if>
		<if test="commonRoomLength!= null">  #{commonRoomLength,jdbcType=VARCHAR}, </if>
		<if test="commonRoomWidth!= null">  #{commonRoomWidth,jdbcType=VARCHAR}, </if>
		<if test="commonRoomHigh!= null">  #{commonRoomHigh,jdbcType=VARCHAR}, </if>
		<if test="commonRoomAreas!= null">  #{commonRoomAreas,jdbcType=VARCHAR}, </if>
		<if test="commonRoomDesc!= null">  #{commonRoomDesc,jdbcType=VARCHAR}, </if>
		<if test="picResId!= null">  #{picResId,jdbcType=INTEGER}, </if>
		<if test="modelResId!= null">  #{modelResId,jdbcType=INTEGER}, </if>
		<if test="isIgnoreWay!= null">  #{isIgnoreWay,jdbcType=VARCHAR}, </if>
		<if test="wayLocation!= null">  #{wayLocation,jdbcType=VARCHAR}, </if>
		<if test="roomPercent!= null">  #{roomPercent,jdbcType=VARCHAR}, </if>
		<if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
		<if test="att3!= null">  #{att3,jdbcType=VARCHAR}, </if>
		<if test="att4!= null">  #{att4,jdbcType=VARCHAR}, </if>
		<if test="att5!= null">  #{att5,jdbcType=VARCHAR}, </if>
		<if test="att6!= null">  #{att6,jdbcType=VARCHAR}, </if>
		<if test="dateAtt1!= null">  #{dateAtt1,jdbcType=TIMESTAMP}, </if>
		<if test="dateAtt2!= null">  #{dateAtt2,jdbcType=TIMESTAMP}, </if>
		<if test="numAtt1!= null">  #{numAtt1,jdbcType=INTEGER}, </if>
		<if test="numAtt2!= null">  #{numAtt2,jdbcType=INTEGER}, </if>
		<if test="numAtt3!= null">  #{numAtt3,jdbcType=DOUBLE}, </if>
		<if test="numAtt4!= null">  #{numAtt4,jdbcType=DOUBLE}, </if>
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>	
		</trim>
	</insert>

	<!-- **更新定义** -->
	<update id="updateByPrimaryKeySelective" parameterType="com.nork.business.model.RoomCommon">
		update room_common
		<set>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="commonRoomCode!= null">  common_room_code = #{commonRoomCode,jdbcType=VARCHAR}, </if>
		<if test="commonRoomName!= null">  common_room_name = #{commonRoomName,jdbcType=VARCHAR}, </if>
		<if test="roomTypeId!= null">  room_type_id = #{roomTypeId,jdbcType=INTEGER}, </if>
		<if test="commonRoomLength!= null">  common_room_length = #{commonRoomLength,jdbcType=VARCHAR}, </if>
		<if test="commonRoomWidth!= null">  common_room_width = #{commonRoomWidth,jdbcType=VARCHAR}, </if>
		<if test="commonRoomHigh!= null">  common_room_high = #{commonRoomHigh,jdbcType=VARCHAR}, </if>
		<if test="commonRoomAreas!= null">  common_room_areas = #{commonRoomAreas,jdbcType=VARCHAR}, </if>
		<if test="commonRoomDesc!= null">  common_room_desc = #{commonRoomDesc,jdbcType=VARCHAR}, </if>
		<if test="picResId!= null">  pic_res_id = #{picResId,jdbcType=INTEGER}, </if>
		<if test="modelResId!= null">  model_res_id = #{modelResId,jdbcType=INTEGER}, </if>
		<if test="isIgnoreWay!= null">  is_ignore_way = #{isIgnoreWay,jdbcType=VARCHAR}, </if>
		<if test="wayLocation!= null">  way_location = #{wayLocation,jdbcType=VARCHAR}, </if>
		<if test="roomPercent!= null">  room_percent = #{roomPercent,jdbcType=VARCHAR}, </if>
		<if test="att1!= null">  att1 = #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  att2 = #{att2,jdbcType=VARCHAR}, </if>
		<if test="att3!= null">  att3 = #{att3,jdbcType=VARCHAR}, </if>
		<if test="att4!= null">  att4 = #{att4,jdbcType=VARCHAR}, </if>
		<if test="att5!= null">  att5 = #{att5,jdbcType=VARCHAR}, </if>
		<if test="att6!= null">  att6 = #{att6,jdbcType=VARCHAR}, </if>
		<if test="dateAtt1!= null">  date_att1 = #{dateAtt1,jdbcType=TIMESTAMP}, </if>
		<if test="dateAtt2!= null">  date_att2 = #{dateAtt2,jdbcType=TIMESTAMP}, </if>
		<if test="numAtt1!= null">  num_att1 = #{numAtt1,jdbcType=INTEGER}, </if>
		<if test="numAtt2!= null">  num_att2 = #{numAtt2,jdbcType=INTEGER}, </if>
		<if test="numAtt3!= null">  num_att3 = #{numAtt3,jdbcType=DOUBLE}, </if>
		<if test="numAtt4!= null">  num_att4 = #{numAtt4,jdbcType=DOUBLE}, </if>
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- **删除定义** -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from room_common
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- **常量定义** -->
	<sql id="All_Column_List">
		id,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted,common_room_code,common_room_name,room_type_id,common_room_length,common_room_width,common_room_high,common_room_areas,common_room_desc,pic_res_id,model_res_id,is_ignore_way,way_location,room_percent,att1,att2,att3,att4,att5,att6,date_att1,date_att2,num_att1,num_att2,num_att3,num_att4,remark
	</sql>
	
	<!-- **结果定义** -->
	<resultMap id="AllResultMap" type="com.nork.business.model.RoomCommon">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="common_room_code" property="commonRoomCode" jdbcType="VARCHAR" />
		<result  column="common_room_name" property="commonRoomName" jdbcType="VARCHAR" />
		<result  column="room_type_id" property="roomTypeId" jdbcType="INTEGER" />
		<result  column="common_room_length" property="commonRoomLength" jdbcType="VARCHAR" />
		<result  column="common_room_width" property="commonRoomWidth" jdbcType="VARCHAR" />
		<result  column="common_room_high" property="commonRoomHigh" jdbcType="VARCHAR" />
		<result  column="common_room_areas" property="commonRoomAreas" jdbcType="VARCHAR" />
		<result  column="common_room_desc" property="commonRoomDesc" jdbcType="VARCHAR" />
		<result  column="pic_res_id" property="picResId" jdbcType="INTEGER" />
		<result  column="model_res_id" property="modelResId" jdbcType="INTEGER" />
		<result  column="is_ignore_way" property="isIgnoreWay" jdbcType="VARCHAR" />
		<result  column="way_location" property="wayLocation" jdbcType="VARCHAR" />
		<result  column="room_percent" property="roomPercent" jdbcType="VARCHAR" />
		<result  column="att1" property="att1" jdbcType="VARCHAR" />
		<result  column="att2" property="att2" jdbcType="VARCHAR" />
		<result  column="att3" property="att3" jdbcType="VARCHAR" />
		<result  column="att4" property="att4" jdbcType="VARCHAR" />
		<result  column="att5" property="att5" jdbcType="VARCHAR" />
		<result  column="att6" property="att6" jdbcType="VARCHAR" />
		<result  column="date_att1" property="dateAtt1" jdbcType="TIMESTAMP" />
		<result  column="date_att2" property="dateAtt2" jdbcType="TIMESTAMP" />
		<result  column="num_att1" property="numAtt1" jdbcType="INTEGER" />
		<result  column="num_att2" property="numAtt2" jdbcType="INTEGER" />
		<result  column="num_att3" property="numAtt3" jdbcType="DOUBLE" />
		<result  column="num_att4" property="numAtt4" jdbcType="DOUBLE" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- **查询定义** -->
	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from room_common
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 查询所有，可排序 -->
    <select id="selectList" resultMap="AllResultMap"
		parameterType="com.nork.business.model.RoomCommon">
		select
		<include refid="All_Column_List" />
		from room_common
        where 1=1
		<if test="sysCode!= null">  and sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="commonRoomCode!= null">  and common_room_code = #{commonRoomCode,jdbcType=VARCHAR} </if>
		<if test="commonRoomName!= null">  and common_room_name = #{commonRoomName,jdbcType=VARCHAR} </if>
		<if test="roomTypeId!= null">  and room_type_id = #{roomTypeId,jdbcType=INTEGER} </if>
		<if test="commonRoomLength!= null">  and common_room_length = #{commonRoomLength,jdbcType=VARCHAR} </if>
		<if test="commonRoomWidth!= null">  and common_room_width = #{commonRoomWidth,jdbcType=VARCHAR} </if>
		<if test="commonRoomHigh!= null">  and common_room_high = #{commonRoomHigh,jdbcType=VARCHAR} </if>
		<if test="commonRoomAreas!= null">  and common_room_areas = #{commonRoomAreas,jdbcType=VARCHAR} </if>
		<if test="commonRoomDesc!= null">  and common_room_desc = #{commonRoomDesc,jdbcType=VARCHAR} </if>
		<if test="picResId!= null">  and pic_res_id = #{picResId,jdbcType=INTEGER} </if>
		<if test="modelResId!= null">  and model_res_id = #{modelResId,jdbcType=INTEGER} </if>
		<if test="isIgnoreWay!= null">  and is_ignore_way = #{isIgnoreWay,jdbcType=VARCHAR} </if>
		<if test="wayLocation!= null">  and way_location = #{wayLocation,jdbcType=VARCHAR} </if>
		<if test="roomPercent!= null">  and room_percent = #{roomPercent,jdbcType=VARCHAR} </if>
		<if test="att1!= null">  and att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="att3!= null">  and att3 = #{att3,jdbcType=VARCHAR} </if>
		<if test="att4!= null">  and att4 = #{att4,jdbcType=VARCHAR} </if>
		<if test="att5!= null">  and att5 = #{att5,jdbcType=VARCHAR} </if>
		<if test="att6!= null">  and att6 = #{att6,jdbcType=VARCHAR} </if>
		<if test="dateAtt1!= null">  and date_att1 = #{dateAtt1,jdbcType=TIMESTAMP} </if>
		<if test="dateAtt2!= null">  and date_att2 = #{dateAtt2,jdbcType=TIMESTAMP} </if>
		<if test="numAtt1!= null">  and num_att1 = #{numAtt1,jdbcType=INTEGER} </if>
		<if test="numAtt2!= null">  and num_att2 = #{numAtt2,jdbcType=INTEGER} </if>
		<if test="numAtt3!= null">  and num_att3 = #{numAtt3,jdbcType=DOUBLE} </if>
		<if test="numAtt4!= null">  and num_att4 = #{numAtt4,jdbcType=DOUBLE} </if>
		<if test="remark!= null">  and remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="order != null and  order !=''  ">
			order by ${order}
			<if test="orderNum != null and  orderNum !='' ">
				${orderNum}
			</if>
		</if>
		<if test="orders != null and  orders !=''  ">
		   order by ${orders}
		</if>
	</select>
	
	<!-- 分页汇总 -->
	<select id="selectCount" resultType="int"
		parameterType="com.nork.business.model.search.RoomCommonSearch">
		select count(*)
		from room_common
		where 1=1
		<if test="sysCode !=  null and sysCode !=  ''   "> and sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="commonRoomCode !=  null and commonRoomCode !=  ''   "> and common_room_code  = #{commonRoomCode,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomCode_ !=  null and sch_CommonRoomCode_ !=  ''   ">
			and common_room_code  like CONCAT(CONCAT('%',#{sch_CommonRoomCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomCode !=  null and sch_CommonRoomCode !=  ''   ">
			and common_room_code  like CONCAT('%',#{sch_CommonRoomCode,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomCode_ !=  null and schCommonRoomCode_ !=  ''   ">
			and common_room_code  like CONCAT(#{schCommonRoomCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomCodeStart !=  null and commonRoomCodeEnd!= null  ">
			and common_room_code between #{commonRoomCodeStart,jdbcType=VARCHAR} and #{commonRoomCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomName !=  null and commonRoomName !=  ''   "> and common_room_name  = #{commonRoomName,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomName_ !=  null and sch_CommonRoomName_ !=  ''   ">
			and common_room_name  like CONCAT(CONCAT('%',#{sch_CommonRoomName_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomName !=  null and sch_CommonRoomName !=  ''   ">
			and common_room_name  like CONCAT('%',#{sch_CommonRoomName,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomName_ !=  null and schCommonRoomName_ !=  ''   ">
			and common_room_name  like CONCAT(#{schCommonRoomName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomNameStart !=  null and commonRoomNameEnd!= null  ">
			and common_room_name between #{commonRoomNameStart,jdbcType=VARCHAR} and #{commonRoomNameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="roomTypeId !=  null  ">			and room_type_id  = #{roomTypeId,jdbcType=INTEGER} </if>
		<if test="commonRoomLength !=  null and commonRoomLength !=  ''   "> and common_room_length  = #{commonRoomLength,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomLength_ !=  null and sch_CommonRoomLength_ !=  ''   ">
			and common_room_length  like CONCAT(CONCAT('%',#{sch_CommonRoomLength_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomLength !=  null and sch_CommonRoomLength !=  ''   ">
			and common_room_length  like CONCAT('%',#{sch_CommonRoomLength,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomLength_ !=  null and schCommonRoomLength_ !=  ''   ">
			and common_room_length  like CONCAT(#{schCommonRoomLength_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomLengthStart !=  null and commonRoomLengthEnd!= null  ">
			and common_room_length between #{commonRoomLengthStart,jdbcType=VARCHAR} and #{commonRoomLengthEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomWidth !=  null and commonRoomWidth !=  ''   "> and common_room_width  = #{commonRoomWidth,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomWidth_ !=  null and sch_CommonRoomWidth_ !=  ''   ">
			and common_room_width  like CONCAT(CONCAT('%',#{sch_CommonRoomWidth_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomWidth !=  null and sch_CommonRoomWidth !=  ''   ">
			and common_room_width  like CONCAT('%',#{sch_CommonRoomWidth,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomWidth_ !=  null and schCommonRoomWidth_ !=  ''   ">
			and common_room_width  like CONCAT(#{schCommonRoomWidth_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomWidthStart !=  null and commonRoomWidthEnd!= null  ">
			and common_room_width between #{commonRoomWidthStart,jdbcType=VARCHAR} and #{commonRoomWidthEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomHigh !=  null and commonRoomHigh !=  ''   "> and common_room_high  = #{commonRoomHigh,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomHigh_ !=  null and sch_CommonRoomHigh_ !=  ''   ">
			and common_room_high  like CONCAT(CONCAT('%',#{sch_CommonRoomHigh_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomHigh !=  null and sch_CommonRoomHigh !=  ''   ">
			and common_room_high  like CONCAT('%',#{sch_CommonRoomHigh,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomHigh_ !=  null and schCommonRoomHigh_ !=  ''   ">
			and common_room_high  like CONCAT(#{schCommonRoomHigh_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomHighStart !=  null and commonRoomHighEnd!= null  ">
			and common_room_high between #{commonRoomHighStart,jdbcType=VARCHAR} and #{commonRoomHighEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomAreas !=  null and commonRoomAreas !=  ''   "> and common_room_areas  = #{commonRoomAreas,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomAreas_ !=  null and sch_CommonRoomAreas_ !=  ''   ">
			and common_room_areas  like CONCAT(CONCAT('%',#{sch_CommonRoomAreas_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomAreas !=  null and sch_CommonRoomAreas !=  ''   ">
			and common_room_areas  like CONCAT('%',#{sch_CommonRoomAreas,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomAreas_ !=  null and schCommonRoomAreas_ !=  ''   ">
			and common_room_areas  like CONCAT(#{schCommonRoomAreas_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomAreasStart !=  null and commonRoomAreasEnd!= null  ">
			and common_room_areas between #{commonRoomAreasStart,jdbcType=VARCHAR} and #{commonRoomAreasEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomDesc !=  null and commonRoomDesc !=  ''   "> and common_room_desc  = #{commonRoomDesc,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomDesc_ !=  null and sch_CommonRoomDesc_ !=  ''   ">
			and common_room_desc  like CONCAT(CONCAT('%',#{sch_CommonRoomDesc_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomDesc !=  null and sch_CommonRoomDesc !=  ''   ">
			and common_room_desc  like CONCAT('%',#{sch_CommonRoomDesc,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomDesc_ !=  null and schCommonRoomDesc_ !=  ''   ">
			and common_room_desc  like CONCAT(#{schCommonRoomDesc_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomDescStart !=  null and commonRoomDescEnd!= null  ">
			and common_room_desc between #{commonRoomDescStart,jdbcType=VARCHAR} and #{commonRoomDescEnd,jdbcType=VARCHAR}
		 </if>
		<if test="picResId !=  null  ">			and pic_res_id  = #{picResId,jdbcType=INTEGER} </if>
		<if test="modelResId !=  null  ">			and model_res_id  = #{modelResId,jdbcType=INTEGER} </if>
		<if test="isIgnoreWay !=  null and isIgnoreWay !=  ''   "> and is_ignore_way  = #{isIgnoreWay,jdbcType=VARCHAR} </if>
		<if test="sch_IsIgnoreWay_ !=  null and sch_IsIgnoreWay_ !=  ''   ">
			and is_ignore_way  like CONCAT(CONCAT('%',#{sch_IsIgnoreWay_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_IsIgnoreWay !=  null and sch_IsIgnoreWay !=  ''   ">
			and is_ignore_way  like CONCAT('%',#{sch_IsIgnoreWay,jdbcType=VARCHAR})
		 </if>
		<if test="schIsIgnoreWay_ !=  null and schIsIgnoreWay_ !=  ''   ">
			and is_ignore_way  like CONCAT(#{schIsIgnoreWay_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="isIgnoreWayStart !=  null and isIgnoreWayEnd!= null  ">
			and is_ignore_way between #{isIgnoreWayStart,jdbcType=VARCHAR} and #{isIgnoreWayEnd,jdbcType=VARCHAR}
		 </if>
		<if test="wayLocation !=  null and wayLocation !=  ''   "> and way_location  = #{wayLocation,jdbcType=VARCHAR} </if>
		<if test="sch_WayLocation_ !=  null and sch_WayLocation_ !=  ''   ">
			and way_location  like CONCAT(CONCAT('%',#{sch_WayLocation_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_WayLocation !=  null and sch_WayLocation !=  ''   ">
			and way_location  like CONCAT('%',#{sch_WayLocation,jdbcType=VARCHAR})
		 </if>
		<if test="schWayLocation_ !=  null and schWayLocation_ !=  ''   ">
			and way_location  like CONCAT(#{schWayLocation_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="wayLocationStart !=  null and wayLocationEnd!= null  ">
			and way_location between #{wayLocationStart,jdbcType=VARCHAR} and #{wayLocationEnd,jdbcType=VARCHAR}
		 </if>
		<if test="roomPercent !=  null and roomPercent !=  ''   "> and room_percent  = #{roomPercent,jdbcType=VARCHAR} </if>
		<if test="sch_RoomPercent_ !=  null and sch_RoomPercent_ !=  ''   ">
			and room_percent  like CONCAT(CONCAT('%',#{sch_RoomPercent_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_RoomPercent !=  null and sch_RoomPercent !=  ''   ">
			and room_percent  like CONCAT('%',#{sch_RoomPercent,jdbcType=VARCHAR})
		 </if>
		<if test="schRoomPercent_ !=  null and schRoomPercent_ !=  ''   ">
			and room_percent  like CONCAT(#{schRoomPercent_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="roomPercentStart !=  null and roomPercentEnd!= null  ">
			and room_percent between #{roomPercentStart,jdbcType=VARCHAR} and #{roomPercentEnd,jdbcType=VARCHAR}
		 </if>
		<if test="att1 !=  null and att1 !=  ''   "> and att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		<if test="att3 !=  null and att3 !=  ''   "> and att3  = #{att3,jdbcType=VARCHAR} </if>
		<if test="sch_Att3_ !=  null and sch_Att3_ !=  ''   ">
			and att3  like CONCAT(CONCAT('%',#{sch_Att3_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att3 !=  null and sch_Att3 !=  ''   ">
			and att3  like CONCAT('%',#{sch_Att3,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt3_ !=  null and schAtt3_ !=  ''   ">
			and att3  like CONCAT(#{schAtt3_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att3Start !=  null and att3End!= null  ">
			and att3 between #{att3Start,jdbcType=VARCHAR} and #{att3End,jdbcType=VARCHAR}
		 </if>
		<if test="att4 !=  null and att4 !=  ''   "> and att4  = #{att4,jdbcType=VARCHAR} </if>
		<if test="sch_Att4_ !=  null and sch_Att4_ !=  ''   ">
			and att4  like CONCAT(CONCAT('%',#{sch_Att4_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att4 !=  null and sch_Att4 !=  ''   ">
			and att4  like CONCAT('%',#{sch_Att4,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt4_ !=  null and schAtt4_ !=  ''   ">
			and att4  like CONCAT(#{schAtt4_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att4Start !=  null and att4End!= null  ">
			and att4 between #{att4Start,jdbcType=VARCHAR} and #{att4End,jdbcType=VARCHAR}
		 </if>
		<if test="att5 !=  null and att5 !=  ''   "> and att5  = #{att5,jdbcType=VARCHAR} </if>
		<if test="sch_Att5_ !=  null and sch_Att5_ !=  ''   ">
			and att5  like CONCAT(CONCAT('%',#{sch_Att5_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att5 !=  null and sch_Att5 !=  ''   ">
			and att5  like CONCAT('%',#{sch_Att5,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt5_ !=  null and schAtt5_ !=  ''   ">
			and att5  like CONCAT(#{schAtt5_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att5Start !=  null and att5End!= null  ">
			and att5 between #{att5Start,jdbcType=VARCHAR} and #{att5End,jdbcType=VARCHAR}
		 </if>
		<if test="att6 !=  null and att6 !=  ''   "> and att6  = #{att6,jdbcType=VARCHAR} </if>
		<if test="sch_Att6_ !=  null and sch_Att6_ !=  ''   ">
			and att6  like CONCAT(CONCAT('%',#{sch_Att6_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att6 !=  null and sch_Att6 !=  ''   ">
			and att6  like CONCAT('%',#{sch_Att6,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt6_ !=  null and schAtt6_ !=  ''   ">
			and att6  like CONCAT(#{schAtt6_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att6Start !=  null and att6End!= null  ">
			and att6 between #{att6Start,jdbcType=VARCHAR} and #{att6End,jdbcType=VARCHAR}
		 </if>
		<if test="dateAtt1 !=  null  ">
			and date_att1  = #{dateAtt1,jdbcType=TIMESTAMP}
		 </if>
		<if test="dateAtt1Start !=  null and dateAtt1End!= null  ">
			and date_att1 between #{dateAtt1Start,jdbcType=TIMESTAMP} and #{dateAtt1End,jdbcType=TIMESTAMP}
		 </if>
		<if test="dateAtt2 !=  null  ">
			and date_att2  = #{dateAtt2,jdbcType=TIMESTAMP}
		 </if>
		<if test="dateAtt2Start !=  null and dateAtt2End!= null  ">
			and date_att2 between #{dateAtt2Start,jdbcType=TIMESTAMP} and #{dateAtt2End,jdbcType=TIMESTAMP}
		 </if>
		<if test="numAtt1 !=  null  ">			and num_att1  = #{numAtt1,jdbcType=INTEGER} </if>
		<if test="numAtt2 !=  null  ">			and num_att2  = #{numAtt2,jdbcType=INTEGER} </if>
		<if test="numAtt3 !=  null  ">			and num_att3  = #{numAtt3,jdbcType=DOUBLE} </if>
		<if test="numAtt4 !=  null  ">			and num_att4  = #{numAtt4,jdbcType=DOUBLE} </if>
		<if test="remark !=  null and remark !=  ''   "> and remark  = #{remark,jdbcType=VARCHAR} </if>		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
	</select>
	
	<!-- 分页查询 ,可在RoomCommonSearch中自定义查询条件-->
	<select id="selectPaginatedList" resultMap="AllResultMap"
		parameterType="com.nork.business.model.search.RoomCommonSearch">
		select
		<include refid="All_Column_List" />
	    from room_common
		where 1=1	
		<if test="sysCode !=  null and sysCode !=  ''   "> and sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="commonRoomCode !=  null and commonRoomCode !=  ''   "> and common_room_code  = #{commonRoomCode,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomCode_ !=  null and sch_CommonRoomCode_ !=  ''   ">
			and common_room_code  like CONCAT(CONCAT('%',#{sch_CommonRoomCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomCode !=  null and sch_CommonRoomCode !=  ''   ">
			and common_room_code  like CONCAT('%',#{sch_CommonRoomCode,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomCode_ !=  null and schCommonRoomCode_ !=  ''   ">
			and common_room_code  like CONCAT(#{schCommonRoomCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomCodeStart !=  null and commonRoomCodeEnd!= null  ">
			and common_room_code between #{commonRoomCodeStart,jdbcType=VARCHAR} and #{commonRoomCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomName !=  null and commonRoomName !=  ''   "> and common_room_name  = #{commonRoomName,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomName_ !=  null and sch_CommonRoomName_ !=  ''   ">
			and common_room_name  like CONCAT(CONCAT('%',#{sch_CommonRoomName_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomName !=  null and sch_CommonRoomName !=  ''   ">
			and common_room_name  like CONCAT('%',#{sch_CommonRoomName,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomName_ !=  null and schCommonRoomName_ !=  ''   ">
			and common_room_name  like CONCAT(#{schCommonRoomName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomNameStart !=  null and commonRoomNameEnd!= null  ">
			and common_room_name between #{commonRoomNameStart,jdbcType=VARCHAR} and #{commonRoomNameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="roomTypeId !=  null  ">			and room_type_id  = #{roomTypeId,jdbcType=INTEGER} </if>
		<if test="commonRoomLength !=  null and commonRoomLength !=  ''   "> and common_room_length  = #{commonRoomLength,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomLength_ !=  null and sch_CommonRoomLength_ !=  ''   ">
			and common_room_length  like CONCAT(CONCAT('%',#{sch_CommonRoomLength_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomLength !=  null and sch_CommonRoomLength !=  ''   ">
			and common_room_length  like CONCAT('%',#{sch_CommonRoomLength,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomLength_ !=  null and schCommonRoomLength_ !=  ''   ">
			and common_room_length  like CONCAT(#{schCommonRoomLength_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomLengthStart !=  null and commonRoomLengthEnd!= null  ">
			and common_room_length between #{commonRoomLengthStart,jdbcType=VARCHAR} and #{commonRoomLengthEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomWidth !=  null and commonRoomWidth !=  ''   "> and common_room_width  = #{commonRoomWidth,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomWidth_ !=  null and sch_CommonRoomWidth_ !=  ''   ">
			and common_room_width  like CONCAT(CONCAT('%',#{sch_CommonRoomWidth_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomWidth !=  null and sch_CommonRoomWidth !=  ''   ">
			and common_room_width  like CONCAT('%',#{sch_CommonRoomWidth,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomWidth_ !=  null and schCommonRoomWidth_ !=  ''   ">
			and common_room_width  like CONCAT(#{schCommonRoomWidth_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomWidthStart !=  null and commonRoomWidthEnd!= null  ">
			and common_room_width between #{commonRoomWidthStart,jdbcType=VARCHAR} and #{commonRoomWidthEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomHigh !=  null and commonRoomHigh !=  ''   "> and common_room_high  = #{commonRoomHigh,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomHigh_ !=  null and sch_CommonRoomHigh_ !=  ''   ">
			and common_room_high  like CONCAT(CONCAT('%',#{sch_CommonRoomHigh_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomHigh !=  null and sch_CommonRoomHigh !=  ''   ">
			and common_room_high  like CONCAT('%',#{sch_CommonRoomHigh,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomHigh_ !=  null and schCommonRoomHigh_ !=  ''   ">
			and common_room_high  like CONCAT(#{schCommonRoomHigh_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomHighStart !=  null and commonRoomHighEnd!= null  ">
			and common_room_high between #{commonRoomHighStart,jdbcType=VARCHAR} and #{commonRoomHighEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomAreas !=  null and commonRoomAreas !=  ''   "> and common_room_areas  = #{commonRoomAreas,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomAreas_ !=  null and sch_CommonRoomAreas_ !=  ''   ">
			and common_room_areas  like CONCAT(CONCAT('%',#{sch_CommonRoomAreas_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomAreas !=  null and sch_CommonRoomAreas !=  ''   ">
			and common_room_areas  like CONCAT('%',#{sch_CommonRoomAreas,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomAreas_ !=  null and schCommonRoomAreas_ !=  ''   ">
			and common_room_areas  like CONCAT(#{schCommonRoomAreas_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomAreasStart !=  null and commonRoomAreasEnd!= null  ">
			and common_room_areas between #{commonRoomAreasStart,jdbcType=VARCHAR} and #{commonRoomAreasEnd,jdbcType=VARCHAR}
		 </if>
		<if test="commonRoomDesc !=  null and commonRoomDesc !=  ''   "> and common_room_desc  = #{commonRoomDesc,jdbcType=VARCHAR} </if>
		<if test="sch_CommonRoomDesc_ !=  null and sch_CommonRoomDesc_ !=  ''   ">
			and common_room_desc  like CONCAT(CONCAT('%',#{sch_CommonRoomDesc_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_CommonRoomDesc !=  null and sch_CommonRoomDesc !=  ''   ">
			and common_room_desc  like CONCAT('%',#{sch_CommonRoomDesc,jdbcType=VARCHAR})
		 </if>
		<if test="schCommonRoomDesc_ !=  null and schCommonRoomDesc_ !=  ''   ">
			and common_room_desc  like CONCAT(#{schCommonRoomDesc_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="commonRoomDescStart !=  null and commonRoomDescEnd!= null  ">
			and common_room_desc between #{commonRoomDescStart,jdbcType=VARCHAR} and #{commonRoomDescEnd,jdbcType=VARCHAR}
		 </if>
		<if test="picResId !=  null  ">			and pic_res_id  = #{picResId,jdbcType=INTEGER} </if>
		<if test="modelResId !=  null  ">			and model_res_id  = #{modelResId,jdbcType=INTEGER} </if>
		<if test="isIgnoreWay !=  null and isIgnoreWay !=  ''   "> and is_ignore_way  = #{isIgnoreWay,jdbcType=VARCHAR} </if>
		<if test="sch_IsIgnoreWay_ !=  null and sch_IsIgnoreWay_ !=  ''   ">
			and is_ignore_way  like CONCAT(CONCAT('%',#{sch_IsIgnoreWay_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_IsIgnoreWay !=  null and sch_IsIgnoreWay !=  ''   ">
			and is_ignore_way  like CONCAT('%',#{sch_IsIgnoreWay,jdbcType=VARCHAR})
		 </if>
		<if test="schIsIgnoreWay_ !=  null and schIsIgnoreWay_ !=  ''   ">
			and is_ignore_way  like CONCAT(#{schIsIgnoreWay_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="isIgnoreWayStart !=  null and isIgnoreWayEnd!= null  ">
			and is_ignore_way between #{isIgnoreWayStart,jdbcType=VARCHAR} and #{isIgnoreWayEnd,jdbcType=VARCHAR}
		 </if>
		<if test="wayLocation !=  null and wayLocation !=  ''   "> and way_location  = #{wayLocation,jdbcType=VARCHAR} </if>
		<if test="sch_WayLocation_ !=  null and sch_WayLocation_ !=  ''   ">
			and way_location  like CONCAT(CONCAT('%',#{sch_WayLocation_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_WayLocation !=  null and sch_WayLocation !=  ''   ">
			and way_location  like CONCAT('%',#{sch_WayLocation,jdbcType=VARCHAR})
		 </if>
		<if test="schWayLocation_ !=  null and schWayLocation_ !=  ''   ">
			and way_location  like CONCAT(#{schWayLocation_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="wayLocationStart !=  null and wayLocationEnd!= null  ">
			and way_location between #{wayLocationStart,jdbcType=VARCHAR} and #{wayLocationEnd,jdbcType=VARCHAR}
		 </if>
		<if test="roomPercent !=  null and roomPercent !=  ''   "> and room_percent  = #{roomPercent,jdbcType=VARCHAR} </if>
		<if test="sch_RoomPercent_ !=  null and sch_RoomPercent_ !=  ''   ">
			and room_percent  like CONCAT(CONCAT('%',#{sch_RoomPercent_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_RoomPercent !=  null and sch_RoomPercent !=  ''   ">
			and room_percent  like CONCAT('%',#{sch_RoomPercent,jdbcType=VARCHAR})
		 </if>
		<if test="schRoomPercent_ !=  null and schRoomPercent_ !=  ''   ">
			and room_percent  like CONCAT(#{schRoomPercent_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="roomPercentStart !=  null and roomPercentEnd!= null  ">
			and room_percent between #{roomPercentStart,jdbcType=VARCHAR} and #{roomPercentEnd,jdbcType=VARCHAR}
		 </if>
		<if test="att1 !=  null and att1 !=  ''   "> and att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		<if test="att3 !=  null and att3 !=  ''   "> and att3  = #{att3,jdbcType=VARCHAR} </if>
		<if test="sch_Att3_ !=  null and sch_Att3_ !=  ''   ">
			and att3  like CONCAT(CONCAT('%',#{sch_Att3_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att3 !=  null and sch_Att3 !=  ''   ">
			and att3  like CONCAT('%',#{sch_Att3,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt3_ !=  null and schAtt3_ !=  ''   ">
			and att3  like CONCAT(#{schAtt3_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att3Start !=  null and att3End!= null  ">
			and att3 between #{att3Start,jdbcType=VARCHAR} and #{att3End,jdbcType=VARCHAR}
		 </if>
		<if test="att4 !=  null and att4 !=  ''   "> and att4  = #{att4,jdbcType=VARCHAR} </if>
		<if test="sch_Att4_ !=  null and sch_Att4_ !=  ''   ">
			and att4  like CONCAT(CONCAT('%',#{sch_Att4_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att4 !=  null and sch_Att4 !=  ''   ">
			and att4  like CONCAT('%',#{sch_Att4,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt4_ !=  null and schAtt4_ !=  ''   ">
			and att4  like CONCAT(#{schAtt4_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att4Start !=  null and att4End!= null  ">
			and att4 between #{att4Start,jdbcType=VARCHAR} and #{att4End,jdbcType=VARCHAR}
		 </if>
		<if test="att5 !=  null and att5 !=  ''   "> and att5  = #{att5,jdbcType=VARCHAR} </if>
		<if test="sch_Att5_ !=  null and sch_Att5_ !=  ''   ">
			and att5  like CONCAT(CONCAT('%',#{sch_Att5_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att5 !=  null and sch_Att5 !=  ''   ">
			and att5  like CONCAT('%',#{sch_Att5,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt5_ !=  null and schAtt5_ !=  ''   ">
			and att5  like CONCAT(#{schAtt5_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att5Start !=  null and att5End!= null  ">
			and att5 between #{att5Start,jdbcType=VARCHAR} and #{att5End,jdbcType=VARCHAR}
		 </if>
		<if test="att6 !=  null and att6 !=  ''   "> and att6  = #{att6,jdbcType=VARCHAR} </if>
		<if test="sch_Att6_ !=  null and sch_Att6_ !=  ''   ">
			and att6  like CONCAT(CONCAT('%',#{sch_Att6_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att6 !=  null and sch_Att6 !=  ''   ">
			and att6  like CONCAT('%',#{sch_Att6,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt6_ !=  null and schAtt6_ !=  ''   ">
			and att6  like CONCAT(#{schAtt6_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att6Start !=  null and att6End!= null  ">
			and att6 between #{att6Start,jdbcType=VARCHAR} and #{att6End,jdbcType=VARCHAR}
		 </if>
		<if test="dateAtt1 !=  null  ">
			and date_att1  = #{dateAtt1,jdbcType=TIMESTAMP}
		 </if>
		<if test="dateAtt1Start !=  null and dateAtt1End!= null  ">
			and date_att1 between #{dateAtt1Start,jdbcType=TIMESTAMP} and #{dateAtt1End,jdbcType=TIMESTAMP}
		 </if>
		<if test="dateAtt2 !=  null  ">
			and date_att2  = #{dateAtt2,jdbcType=TIMESTAMP}
		 </if>
		<if test="dateAtt2Start !=  null and dateAtt2End!= null  ">
			and date_att2 between #{dateAtt2Start,jdbcType=TIMESTAMP} and #{dateAtt2End,jdbcType=TIMESTAMP}
		 </if>
		<if test="numAtt1 !=  null  ">			and num_att1  = #{numAtt1,jdbcType=INTEGER} </if>
		<if test="numAtt2 !=  null  ">			and num_att2  = #{numAtt2,jdbcType=INTEGER} </if>
		<if test="numAtt3 !=  null  ">			and num_att3  = #{numAtt3,jdbcType=DOUBLE} </if>
		<if test="numAtt4 !=  null  ">			and num_att4  = #{numAtt4,jdbcType=DOUBLE} </if>
		<if test="remark !=  null and remark !=  ''   "> and remark  = #{remark,jdbcType=VARCHAR} </if>		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
		<if test="order != null and  order !=''  ">
			order by ${order} <if test="orderNum != null and  orderNum !='' ">${orderNum}</if>
		</if>
		<if test="orders != null and  orders !=''  ">  order by #{orders}</if>
		<if test="order == null and  orders == null ">  order by id desc</if>
		<if test="start !=-1 and limit !=-1"> LIMIT #{start}, #{limit}</if>
	</select>

    <!-- 其他Map等查询方式 -->
    
     <!-- end-->
</mapper>
