<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.service.act2.dao.RedPacketConfigMapper">

	<select id="selectById" parameterType="java.lang.String"
		resultType="com.sandu.api.act2.model.RedPacketConfig">
		select
		*
		from wx_act_red_packet_config
		where id = #{id,jdbcType=VARCHAR}
	</select>
  
	<select id="selectList" resultType="com.sandu.api.act2.model.RedPacketConfig">
		select
		*
		from wx_act_red_packet_config
		where is_deleted=0
		<if test="id != null">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="actId != null">
			and act_id = #{actId,jdbcType=VARCHAR}
		</if>
		<if test="redPacketSeq != null">
			and red_packet_seq = #{redPacketSeq,jdbcType=INTEGER}
		</if>
		<if test="minAmount != null">
			and min_amount = #{minAmount}
		</if>
		<if test="maxAmount != null">
			and max_amount = #{maxAmount}
		</if>
		<if test="requestInviteNum != null">
			and request_invite_num = #{requestInviteNum,jdbcType=INTEGER}
		</if>
		<if test="desc != null">
			and desc = #{desc,jdbcType=VARCHAR}
		</if>
		<if test="appId != null">
			and app_id = #{appId,jdbcType=VARCHAR}
		</if>
		<if test="companyId != null">
			and company_id = #{companyId,jdbcType=BIGINT}
		</if>
		<if test="creator != null">
			and creator = #{creator,jdbcType=VARCHAR}
		</if>
		<if test="gmtCreate != null">
			and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
		</if>
		<if test="modifier != null">
			and modifier = #{modifier,jdbcType=VARCHAR}
		</if>
		<if test="gmtModified != null">
			and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
		</if>
		order by red_packet_seq
	</select>


	<insert id="insert" parameterType="com.sandu.api.act2.model.RedPacketConfig">
		insert into wx_act_red_packet_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="actId != null">
				act_id,
			</if>
			<if test="redPacketSeq != null">
				red_packet_seq,
			</if>
			<if test="minAmount != null">
				min_amount,
			</if>
			<if test="maxAmount != null">
				max_amount,
			</if>
			<if test="requestInviteNum != null">
				request_invite_num,
			</if>
			<if test="desc != null">
				desc,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="actId != null">
				#{actId,jdbcType=VARCHAR},
			</if>
			<if test="redPacketSeq != null">
				#{redPacketSeq,jdbcType=INTEGER},
			</if>
			<if test="minAmount != null">
				#{minAmount},
			</if>
			<if test="maxAmount != null">
				#{maxAmount},
			</if>
			<if test="requestInviteNum != null">
				#{requestInviteNum,jdbcType=INTEGER},
			</if>
			<if test="desc != null">
				#{desc,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=BIGINT},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.sandu.api.act2.model.RedPacketConfig">
		update wx_act_red_packet_config
		<set>
			<if test="actId != null">
				act_id = #{actId,jdbcType=VARCHAR},
			</if>
			<if test="redPacketSeq != null">
				red_packet_seq = #{redPacketSeq,jdbcType=INTEGER},
			</if>
			<if test="minAmount != null">
				min_amount = #{minAmount},
			</if>
			<if test="maxAmount != null">
				max_amount = #{maxAmount},
			</if>
			<if test="requestInviteNum != null">
				request_invite_num = #{requestInviteNum,jdbcType=INTEGER},
			</if>
			<if test="desc != null">
				desc = #{desc,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				app_id = #{appId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>