<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
	<dubbo:reference id="baseProductService"
		interface="com.sandu.product.service.BaseProductService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<dubbo:reference id="baseProductStyleService"
		interface="com.sandu.product.service.BaseProductStyleService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<dubbo:reference id="userProductCollectService"
		interface="com.sandu.product.service.UserProductCollectService"
		retries="${dubbo.retries}" version="${dubbo.version}" />
	<dubbo:reference id="collectCatalogService"
		interface="com.sandu.product.service.CollectCatalogService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<dubbo:reference id="productAttributeService"
		interface="com.sandu.product.service.ProductAttributeService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<!-- 公司属性 -->
	<dubbo:reference id="baseCompanyService"
		interface="com.sandu.product.service.BaseCompanyService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<!-- 产品模块-结构明细服务 -->
	<dubbo:reference id="structureProductDetailsService"
		interface="com.sandu.product.service.StructureProductDetailsService"
		retries="${dubbo.retries}" version="${dubbo.version}" />
	<!-- 产品模块-结构服务 -->
	<dubbo:reference id="structureProductService"
		interface="com.sandu.product.service.StructureProductService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<dubbo:reference id="productCategoryRelService"
		interface=" com.sandu.product.service.ProductCategoryRelService"
		retries="${dubbo.retries}" version="${dubbo.version}" />

	<dubbo:reference id="groupProductService"
		interface="com.sandu.product.service.GroupProductService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<dubbo:reference id="groupProductCollectService"
		interface="com.sandu.product.service.GroupProductCollectService"
		retries="${dubbo.retries}" version="${dubbo.version}" />

	<dubbo:reference id="groupProductDetailsService"
		interface="com.sandu.product.service.GroupProductDetailsService"
		retries="${dubbo.retries}" version="${dubbo.version}" />

	<dubbo:reference id="companyUnionService"
		interface="com.sandu.product.service.CompanyUnionService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<dubbo:reference id="baseBrandService"
					 interface="com.sandu.product.service.BaseBrandService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!--新建产品清单服务-->
	<dubbo:reference id="mobileDesignPlanProductService"
					 interface="com.sandu.product.service.MobileDesignPlanProductService" retries="${dubbo.retries}" version="${dubbo.version}" />
</beans>