<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.user.dao.UserBehaviorMapper" >
  <resultMap id="BaseResultMap" type="com.sandu.user.model.UserBehavior" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="behavior_type" property="behavior_type" jdbcType="TINYINT" />
    <id column="hour_time_str" property="hour_time_str" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmt_create" jdbcType="TIMESTAMP" />
    <result column="index_banner_share_click_count" property="index_banner_share_click_count" jdbcType="INTEGER" />
    <result column="index_banner_share_to_click_count" property="index_banner_share_to_click_count" jdbcType="INTEGER" />
    <result column="index_banner_share_to_pyq_click_count" property="index_banner_share_to_pyq_click_count" jdbcType="INTEGER" />
    <result column="index_banner_share_to_wx_click_count" property="index_banner_share_to_wx_click_count" jdbcType="INTEGER" />
    <result column="index_mine_invite_click_count" property="index_mine_invite_click_count" jdbcType="INTEGER" />
    <result column="index_mine_invite_pyq_click_count" property="index_mine_invite_pyq_click_count" jdbcType="INTEGER" />
    <result column="index_mine_invite_wx_click_count" property="index_mine_invite_wx_click_count" jdbcType="INTEGER" />
    <result column="index_plan_share_click_count" property="index_plan_share_click_count" jdbcType="INTEGER" />
    <result column="index_plan_share_pyq_click_count" property="index_plan_share_pyq_click_count" jdbcType="INTEGER" />
    <result column="index_plan_share_wx_click_count" property="index_plan_share_wx_click_count" jdbcType="INTEGER" />
    <result column="index_recommend_click_count" property="index_recommend_click_count" jdbcType="INTEGER" />
    <result column="index_recommend_pyq_click_count" property="index_recommend_pyq_click_count" jdbcType="INTEGER" />
    <result column="index_recommend_wx_click_count" property="index_recommend_wx_click_count" jdbcType="INTEGER" />
    <result column="invite_click_count" property="invite_click_count" jdbcType="INTEGER" />
    <result column="invite_pyq_click_count" property="invite_pyq_click_count" jdbcType="INTEGER" />
    <result column="invite_wx_click_count" property="invite_wx_click_count" jdbcType="INTEGER" />
    <result column="plan720_share_click_count" property="plan720_share_click_count" jdbcType="INTEGER" />
    <result column="plan720_share_pyq_click_count" property="plan720_share_pyq_click_count" jdbcType="INTEGER" />
    <result column="plan720_share_wx_click_count" property="plan720_share_wx_click_count" jdbcType="INTEGER" />
    <result column="plan_recommend_click_count" property="plan_recommend_click_count" jdbcType="INTEGER" />
    <result column="plan_recommend_pyq_click_count" property="plan_recommend_pyq_click_count" jdbcType="INTEGER" />
    <result column="plan_recommend_wx_click_count" property="plan_recommend_wx_click_count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, index_banner_share_click_count, index_banner_share_to_click_count,behavior_type,hour_time_str,
    index_banner_share_to_pyq_click_count, index_banner_share_to_wx_click_count, index_mine_invite_click_count,
    index_mine_invite_pyq_click_count, index_mine_invite_wx_click_count, index_plan_share_click_count,
    index_plan_share_pyq_click_count, index_plan_share_wx_click_count, index_recommend_click_count,
    index_recommend_pyq_click_count, index_recommend_wx_click_count, invite_click_count,
    invite_pyq_click_count, invite_wx_click_count, plan720_share_click_count, plan720_share_pyq_click_count,
    plan720_share_wx_click_count, plan_recommend_click_count, plan_recommend_pyq_click_count,
    plan_recommend_wx_click_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_behavior_count
    where id = #{id}
  </select>
    <select id="selectLikePrimaryKey"  resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from user_behavior_count
      where id like concat(#{id},'%')
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_behavior_count
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.sandu.user.model.UserBehavior" >
    insert into user_behavior_count (id, gmt_create, index_banner_share_click_count,
      index_banner_share_to_click_count, index_banner_share_to_pyq_click_count,
      index_banner_share_to_wx_click_count, index_mine_invite_click_count,
      index_mine_invite_pyq_click_count, index_mine_invite_wx_click_count,
      index_plan_share_click_count, index_plan_share_pyq_click_count,
      index_plan_share_wx_click_count, index_recommend_click_count,
      index_recommend_pyq_click_count, index_recommend_wx_click_count,
      invite_click_count, invite_pyq_click_count,
      invite_wx_click_count, plan720_share_click_count,
      plan720_share_pyq_click_count, plan720_share_wx_click_count,
      plan_recommend_click_count, plan_recommend_pyq_click_count,
      plan_recommend_wx_click_count)
    values (#{id}, #{gmt_create,jdbcType=TIMESTAMP}, #{index_banner_share_click_count,jdbcType=INTEGER},
      #{index_banner_share_to_click_count,jdbcType=INTEGER}, #{index_banner_share_to_pyq_click_count,jdbcType=INTEGER},
      #{index_banner_share_to_wx_click_count,jdbcType=INTEGER}, #{index_mine_invite_click_count,jdbcType=INTEGER},
      #{index_mine_invite_pyq_click_count,jdbcType=INTEGER}, #{index_mine_invite_wx_click_count,jdbcType=INTEGER},
      #{index_plan_share_click_count,jdbcType=INTEGER}, #{index_plan_share_pyq_click_count,jdbcType=INTEGER},
      #{index_plan_share_wx_click_count,jdbcType=INTEGER}, #{index_recommend_click_count,jdbcType=INTEGER},
      #{index_recommend_pyq_click_count,jdbcType=INTEGER}, #{index_recommend_wx_click_count,jdbcType=INTEGER},
      #{invite_click_count,jdbcType=INTEGER}, #{invite_pyq_click_count,jdbcType=INTEGER},
      #{invite_wx_click_count,jdbcType=INTEGER}, #{plan720_share_click_count,jdbcType=INTEGER},
      #{plan720_share_pyq_click_count,jdbcType=INTEGER}, #{plan720_share_wx_click_count,jdbcType=INTEGER},
      #{plan_recommend_click_count,jdbcType=INTEGER}, #{plan_recommend_pyq_click_count,jdbcType=INTEGER},
      #{plan_recommend_wx_click_count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.user.model.UserBehavior" >
    insert into user_behavior_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="behavior_type != null" >
        behavior_type,
      </if>
      <if test="hour_time_str != null" >
        hour_time_str,
      </if>
      <if test="gmt_create != null" >
        gmt_create,
      </if>
      <if test="index_banner_share_click_count != null" >
        index_banner_share_click_count,
      </if>
      <if test="index_banner_share_to_click_count != null" >
        index_banner_share_to_click_count,
      </if>
      <if test="index_banner_share_to_pyq_click_count != null" >
        index_banner_share_to_pyq_click_count,
      </if>
      <if test="index_banner_share_to_wx_click_count != null" >
        index_banner_share_to_wx_click_count,
      </if>
      <if test="index_mine_invite_click_count != null" >
        index_mine_invite_click_count,
      </if>
      <if test="index_mine_invite_pyq_click_count != null" >
        index_mine_invite_pyq_click_count,
      </if>
      <if test="index_mine_invite_wx_click_count != null" >
        index_mine_invite_wx_click_count,
      </if>
      <if test="index_plan_share_click_count != null" >
        index_plan_share_click_count,
      </if>
      <if test="index_plan_share_pyq_click_count != null" >
        index_plan_share_pyq_click_count,
      </if>
      <if test="index_plan_share_wx_click_count != null" >
        index_plan_share_wx_click_count,
      </if>
      <if test="index_recommend_click_count != null" >
        index_recommend_click_count,
      </if>
      <if test="index_recommend_pyq_click_count != null" >
        index_recommend_pyq_click_count,
      </if>
      <if test="index_recommend_wx_click_count != null" >
        index_recommend_wx_click_count,
      </if>
      <if test="invite_click_count != null" >
        invite_click_count,
      </if>
      <if test="invite_pyq_click_count != null" >
        invite_pyq_click_count,
      </if>
      <if test="invite_wx_click_count != null" >
        invite_wx_click_count,
      </if>
      <if test="plan720_share_click_count != null" >
        plan720_share_click_count,
      </if>
      <if test="plan720_share_pyq_click_count != null" >
        plan720_share_pyq_click_count,
      </if>
      <if test="plan720_share_wx_click_count != null" >
        plan720_share_wx_click_count,
      </if>
      <if test="plan_recommend_click_count != null" >
        plan_recommend_click_count,
      </if>
      <if test="plan_recommend_pyq_click_count != null" >
        plan_recommend_pyq_click_count,
      </if>
      <if test="plan_recommend_wx_click_count != null" >
        plan_recommend_wx_click_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="behavior_type != null" >
        #{behavior_type,jdbcType=TINYINT},
      </if>
      <if test="hour_time_str != null" >
        #{hour_time_str},
      </if>
      <if test="gmt_create != null" >
        #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="index_banner_share_click_count != null" >
        #{index_banner_share_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_banner_share_to_click_count != null" >
        #{index_banner_share_to_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_banner_share_to_pyq_click_count != null" >
        #{index_banner_share_to_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_banner_share_to_wx_click_count != null" >
        #{index_banner_share_to_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_mine_invite_click_count != null" >
        #{index_mine_invite_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_mine_invite_pyq_click_count != null" >
        #{index_mine_invite_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_mine_invite_wx_click_count != null" >
        #{index_mine_invite_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_plan_share_click_count != null" >
        #{index_plan_share_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_plan_share_pyq_click_count != null" >
        #{index_plan_share_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_plan_share_wx_click_count != null" >
        #{index_plan_share_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_recommend_click_count != null" >
        #{index_recommend_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_recommend_pyq_click_count != null" >
        #{index_recommend_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_recommend_wx_click_count != null" >
        #{index_recommend_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="invite_click_count != null" >
        #{invite_click_count,jdbcType=INTEGER},
      </if>
      <if test="invite_pyq_click_count != null" >
        #{invite_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="invite_wx_click_count != null" >
        #{invite_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan720_share_click_count != null" >
        #{plan720_share_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan720_share_pyq_click_count != null" >
        #{plan720_share_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan720_share_wx_click_count != null" >
        #{plan720_share_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan_recommend_click_count != null" >
        #{plan_recommend_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan_recommend_pyq_click_count != null" >
        #{plan_recommend_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan_recommend_wx_click_count != null" >
        #{plan_recommend_wx_click_count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.user.model.UserBehavior" >
    update user_behavior_count
    <set >
      <if test="gmt_create != null" >
        gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="index_banner_share_click_count != null" >
        index_banner_share_click_count = #{index_banner_share_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_banner_share_to_click_count != null" >
        index_banner_share_to_click_count = #{index_banner_share_to_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_banner_share_to_pyq_click_count != null" >
        index_banner_share_to_pyq_click_count = #{index_banner_share_to_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_banner_share_to_wx_click_count != null" >
        index_banner_share_to_wx_click_count = #{index_banner_share_to_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_mine_invite_click_count != null" >
        index_mine_invite_click_count = #{index_mine_invite_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_mine_invite_pyq_click_count != null" >
        index_mine_invite_pyq_click_count = #{index_mine_invite_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_mine_invite_wx_click_count != null" >
        index_mine_invite_wx_click_count = #{index_mine_invite_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_plan_share_click_count != null" >
        index_plan_share_click_count = #{index_plan_share_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_plan_share_pyq_click_count != null" >
        index_plan_share_pyq_click_count = #{index_plan_share_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_plan_share_wx_click_count != null" >
        index_plan_share_wx_click_count = #{index_plan_share_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_recommend_click_count != null" >
        index_recommend_click_count = #{index_recommend_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_recommend_pyq_click_count != null" >
        index_recommend_pyq_click_count = #{index_recommend_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="index_recommend_wx_click_count != null" >
        index_recommend_wx_click_count = #{index_recommend_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="invite_click_count != null" >
        invite_click_count = #{invite_click_count,jdbcType=INTEGER},
      </if>
      <if test="invite_pyq_click_count != null" >
        invite_pyq_click_count = #{invite_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="invite_wx_click_count != null" >
        invite_wx_click_count = #{invite_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan720_share_click_count != null" >
        plan720_share_click_count = #{plan720_share_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan720_share_pyq_click_count != null" >
        plan720_share_pyq_click_count = #{plan720_share_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan720_share_wx_click_count != null" >
        plan720_share_wx_click_count = #{plan720_share_wx_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan_recommend_click_count != null" >
        plan_recommend_click_count = #{plan_recommend_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan_recommend_pyq_click_count != null" >
        plan_recommend_pyq_click_count = #{plan_recommend_pyq_click_count,jdbcType=INTEGER},
      </if>
      <if test="plan_recommend_wx_click_count != null" >
        plan_recommend_wx_click_count = #{plan_recommend_wx_click_count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.user.model.UserBehavior" >
    update user_behavior_count
    set gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      index_banner_share_click_count = #{index_banner_share_click_count,jdbcType=INTEGER},
      index_banner_share_to_click_count = #{index_banner_share_to_click_count,jdbcType=INTEGER},
      index_banner_share_to_pyq_click_count = #{index_banner_share_to_pyq_click_count,jdbcType=INTEGER},
      index_banner_share_to_wx_click_count = #{index_banner_share_to_wx_click_count,jdbcType=INTEGER},
      index_mine_invite_click_count = #{index_mine_invite_click_count,jdbcType=INTEGER},
      index_mine_invite_pyq_click_count = #{index_mine_invite_pyq_click_count,jdbcType=INTEGER},
      index_mine_invite_wx_click_count = #{index_mine_invite_wx_click_count,jdbcType=INTEGER},
      index_plan_share_click_count = #{index_plan_share_click_count,jdbcType=INTEGER},
      index_plan_share_pyq_click_count = #{index_plan_share_pyq_click_count,jdbcType=INTEGER},
      index_plan_share_wx_click_count = #{index_plan_share_wx_click_count,jdbcType=INTEGER},
      index_recommend_click_count = #{index_recommend_click_count,jdbcType=INTEGER},
      index_recommend_pyq_click_count = #{index_recommend_pyq_click_count,jdbcType=INTEGER},
      index_recommend_wx_click_count = #{index_recommend_wx_click_count,jdbcType=INTEGER},
      invite_click_count = #{invite_click_count,jdbcType=INTEGER},
      invite_pyq_click_count = #{invite_pyq_click_count,jdbcType=INTEGER},
      invite_wx_click_count = #{invite_wx_click_count,jdbcType=INTEGER},
      plan720_share_click_count = #{plan720_share_click_count,jdbcType=INTEGER},
      plan720_share_pyq_click_count = #{plan720_share_pyq_click_count,jdbcType=INTEGER},
      plan720_share_wx_click_count = #{plan720_share_wx_click_count,jdbcType=INTEGER},
      plan_recommend_click_count = #{plan_recommend_click_count,jdbcType=INTEGER},
      plan_recommend_pyq_click_count = #{plan_recommend_pyq_click_count,jdbcType=INTEGER},
      plan_recommend_wx_click_count = #{plan_recommend_wx_click_count,jdbcType=INTEGER}
    where id = #{id}
  </update>
</mapper>