<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
	<dubbo:reference id="userService"
		interface="com.sandu.user.service.IUserService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<!-- 用户会话服务 -->
	<dubbo:reference id="userSessionService"
		interface="com.sandu.user.service.UserSessionService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<!-- 用户会话服务 -->
	<dubbo:reference id="userFinanceService"
		interface="com.sandu.user.service.UserFinanceService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<!-- 我的消息服务 -->
	<dubbo:reference id="sysUserMessageService"
		interface="com.sandu.user.service.SysUserMessageService" retries="${dubbo.retries}" version="${dubbo.version}" />
	
		<!-- 我的积分服务 -->
	<dubbo:reference id="payAccountService"
		interface="com.sandu.user.service.PayAccountService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!-- 用户留言私信服务 -->
	<dubbo:reference id="userPrivateMessageService"
					 interface="com.sandu.user.service.UserPrivateMessageService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!-- 用户评论服务 -->
	<dubbo:reference id="userReviewsService"
					 interface="com.sandu.user.service.UserReviewsService" retries="${dubbo.retries}" version="${dubbo.version}" />


	<!-- 用户回复服务 -->
	<dubbo:reference interface="com.sandu.user.service.UserReplyService"
					 id="userReplyService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}" />


	<!-- 用户邀请服务 -->
	<dubbo:reference id="userInviteService"
					 interface="com.sandu.user.service.UserInviteService" retries="${dubbo.retries}" version="${dubbo.version}" />


	<!-- 用户佣金服务 -->
	<dubbo:reference id="userCommisionService"
					 interface="com.sandu.user.service.UserCommisionService" retries="${dubbo.retries}" version="${dubbo.version}" />


	<!-- 用户认证服务 -->
	<dubbo:reference id="mediationAuthorizeService"
					 interface="com.sandu.user.service.MediationAuthorizeService" retries="${dubbo.retries}" version="${dubbo.version}" />



	<!-- 用户绑定银行服务 -->
	<dubbo:reference id="mediationBankInfoService"
					 interface="com.sandu.user.service.MediationBankInfoService" retries="${dubbo.retries}" version="${dubbo.version}" />


	<!-- 用户行为统计服务 -->
	<dubbo:reference id="userBehaviorService"
					 interface="com.sandu.user.service.UserBehaviorService" retries="${dubbo.retries}" version="${dubbo.version}" />

</beans>