<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!--供求信息图片服务 -->
	<dubbo:reference id="supplyDemandPicService"
		interface="com.sandu.supplydemand.service.SupplyDemandPicService" retries="${dubbo.retries}" version="${dubbo.version}" />
	<!--供求信息服务 -->
	<dubbo:reference id="supplyDemandService"
		interface="com.sandu.supplydemand.service.SupplyDemandService" retries="${dubbo.retries}" version="${dubbo.version}" />

	<!--供求信息分类服务 -->
	<dubbo:reference id="supplyDemandCategoryService"
					 interface="com.sandu.supplydemand.service.SupplyDemandCategoryService" retries="${dubbo.retries}" version="${dubbo.version}" />

</beans>