<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 省市-->
    <dubbo:service interface="com.sandu.base.service.BaseAreaService" 
                   ref="baseAreaService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}"/>

    <!-- 小区 -->
    <dubbo:service interface="com.sandu.base.service.BaseLivingService"
                   ref="baseLivingService" protocol="dubbo" timeout="${dubbo.timeout}" version="${dubbo.version}"/>
      


</beans>