<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.company.dao.CompanyShopDao">
    <sql id="shopListColumns">
		a.id,a.business_type,
		a.company_id,a.shop_name,
		a.company_pid,
		a.long_area_code,
		a.contact_phone,
		a.first_category_ids,
		a.category_ids,a.user_id,
		a.shop_address,a.visit_count,
		a.praise_rate,
		a.gmt_create as create_date,
		a.cover_res_ids,
		a.cover_res_type,
		a.longitude,
		a.latitude,
		a.design_fee_starting,
		a.design_fee_ending,
		rp.pic_path as logo_url,
		rf.file_path,
		b.member_year,b.auth_grade,b.deposit,
		d.area_name AS cityName,
		d1.area_name as provinceName,
		d2.area_name as areaName,
		d3.area_name as streerName,
		su.user_name,su.nick_name,
		su.uuid as sessionId,
		su.use_type,su.show_sandu_plan,
		a.design_fee_starting as designFeeStarting,
		a.design_fee_ending as designFeeEnding,
		a.decoration_price_start as decorationPriceStart,
		a.decoration_price_end as decorationPriceEnd,
		a.decoration_type as decorationType,
		a.working_years as workingYears
	</sql>

    <select id="getDetail"
            resultType="com.sandu.company.model.vo.CompanyShopDetailVo"
            parameterType="long">
        SELECT
        <include refid="shopListColumns"/>
        FROM company_shop a INNER JOIN base_company b on a.company_id=b.id
        left join res_pic rp on rp.id = a.logo_pic_id
        left join res_file rf on rf.id = a.introduced_file_id
        LEFT JOIN base_area d ON d.area_code = a.city_code
        LEFT JOIN base_area d1 ON d1.area_code = a.province_code
        LEFT JOIN base_area d2 ON d2.area_code = a.area_code
        LEFT JOIN base_area d3 ON d3.area_code = a.street_code
        left join sys_user su on su.id = a.user_id
        WHERE a.id=#{id}
    </select>
    <select id="getRecommendList"
            resultType="com.sandu.company.model.vo.CompanyShopVo">
        SELECT
        <include refid="shopListColumns"/>
        FROM company_shop a INNER JOIN base_company b on a.company_id=b.id
        left join res_pic rp on rp.id = a.logo_pic_id
        left join res_file rf on rf.id=a.introduced_file_id
        LEFT JOIN base_area d ON d.area_code = a.city_code
        LEFT JOIN base_area d1 ON d1.area_code = a.province_code
        LEFT JOIN base_area d2 ON d2.area_code = a.area_code
        LEFT JOIN base_area d3 ON d3.area_code = a.street_code
        left join sys_user su on su.id = a.user_id
        order by a.visit_count desc limit 0,5;
    </select>
    <select id="findFontPageList"
            resultType="com.sandu.company.model.vo.CompanyShopVo"
            parameterType="com.sandu.company.model.query.CompanyShopQuery">
        SELECT
        <include refid="shopListColumns"/>
        <if test="latitude != null and latitude != '' and longitude != null and longitude !=''">
            ,ROUND(6378.138*2*ASIN(SQRT(POW(SIN((${latitude}*PI()/180-a.latitude*PI()/180)/2),2)+COS(${latitude}*PI()/180)*COS(a.latitude*PI()/180)*POW(SIN((${longitude}*PI()/180-a.longitude*PI()/180)/2),2)))*1000)/1000
            AS distance
        </if>
        FROM company_shop a INNER JOIN base_company b on a.company_id=b.id
        left join res_pic rp on rp.id = a.logo_pic_id
        left join res_file rf on rf.id=a.introduced_file_id
        LEFT JOIN base_area d ON d.area_code = a.city_code
        LEFT JOIN base_area d1 ON d1.area_code = a.province_code
        LEFT JOIN base_area d2 ON d2.area_code = a.area_code
        LEFT JOIN base_area d3 ON d3.area_code = a.street_code
        left join sys_user su on su.id = a.user_id
        WHERE su.is_deleted = 0
        <if test="companyId != null and  companyId != '' ">
            AND a.company_pid = #{companyId}
        </if>
        <if test="businessType != null and  businessType != '' ">
            AND a.business_type = #{businessType}
        </if>

        <if test="platformType != null and  platformType != '' ">
            AND FIND_IN_SET(#{platformType},a.release_platform_values)
        </if>
        <if test="firstCategoryIds != null and  firstCategoryIds != '' ">
            AND FIND_IN_SET(#{firstCategoryIds},a.first_category_ids)
        </if>
        <if test="categoryIds != null and  categoryIds != '' ">
            AND FIND_IN_SET(#{categoryIds},a.category_ids)
        </if>
        <if test="shopName != null and  shopName != '' ">
            AND a.shop_name like CONCAT(CONCAT('%',#{shopName}),'%')
        </if>
        <if test="companyName != null and  companyName != '' ">
            AND b.company_name like CONCAT(CONCAT('%',#{companyName}),'%')
        </if>
        <if test="provinceCode != null and  provinceCode != '' ">
            AND a.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and  cityCode != '' ">
            AND a.city_code = #{cityCode}
        </if>
        <if test="areaCode != null and  areaCode != '' ">
            AND a.area_code = #{areaCode}
        </if>
        <if test="streetCode != null and  streetCode != '' ">
            AND a.street_code = #{streetCode}
        </if>
        <if test="displayType != null and displayType != ''">
            AND a.logo_pic_id <![CDATA[ <> 0 ]]>
        </if>
        <if test="userType != null and  userType != '' ">
            AND su.user_type = #{userType}
        </if>
        <if test="decorationPriceStart != null">
            AND  <![CDATA[a.decoration_price_start >= #{decorationPriceStart} ]]>
        </if>
        <if test="decorationPriceEnd!= null">
            AND  <![CDATA[a.decoration_price_end <= #{decorationPriceEnd} ]]>
        </if>
        <if test="designFeeStarting != null">
            AND  <![CDATA[a.design_fee_starting >= #{designFeeStarting} ]]>
        </if>
        <if test="designFeeEnding != null">
            AND  <![CDATA[a.design_fee_ending <= #{designFeeEnding} ]]>
        </if>
        <if test="decorationType != null">
            AND a.decoration_type = #{decorationType}
        </if>
        <!--add by WangHaiLin-->
        <if test="userTypeList != null and userTypeList.size()>0">
            AND	su.user_type in
            <foreach collection="userTypeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        AND a.display_status = 1
        AND a.is_deleted = #{DEL_FLAG_NORMAL}
        <choose>
            <when test="orderBySql !=null and orderBySql != ''">
                order by a.recommended_time desc,${orderBySql}
                <if test="latitude != null and latitude != '' and longitude != null and longitude != ''">
                    ,distance IS NULL, distance ASC
                </if>
            </when>
            <otherwise>
                order by a.recommended_time desc,
                <if test="latitude != null and latitude != '' and longitude != null and longitude != ''">
                   distance IS NULL,distance ASC,
                </if>
                a.id desc
            </otherwise>
        </choose>
        limit #{start},#{pageSize}
    </select>

    <select id="findFontCount" resultType="long"
            parameterType="com.sandu.company.model.query.CompanyShopQuery">
        SELECT count(a.id)
        FROM company_shop a INNER JOIN base_company b on a.company_id=b.id
        left join sys_user su on su.id = a.user_id
        WHERE su.is_deleted = 0
        <if test="companyId != null and  companyId != '' ">
            AND a.company_pid = #{companyId}
        </if>
        <if test="businessType != null and  businessType != '' ">
            AND a.business_type = #{businessType}
        </if>
        <if test="platformType != null and  platformType != '' ">
            AND
            FIND_IN_SET(#{platformType},a.`release_platform_values`)
        </if>
        <if test="firstCategoryIds != null and  firstCategoryIds != '' ">
            AND FIND_IN_SET(#{firstCategoryIds},a.first_category_ids)
        </if>
        <if test="categoryIds != null and  categoryIds != '' ">
            AND FIND_IN_SET(#{categoryIds},a.category_ids)
        </if>
        <if test="shopName != null and  shopName != '' ">
            AND a.shop_name like CONCAT(CONCAT('%',#{shopName}),'%')
        </if>
        <if test="companyName != null and  companyName != '' ">
            AND b.company_name like CONCAT(CONCAT('%',#{companyName}),'%')
        </if>
        <if test="provinceCode != null and  provinceCode != '' ">
            AND a.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and  cityCode != '' ">
            AND a.city_code = #{cityCode}
        </if>
        <if test="areaCode != null and  areaCode != '' ">
            AND a.area_code = #{areaCode}
        </if>
        <if test="streetCode != null and  streetCode != '' ">
            AND a.street_code = #{streetCode}
        </if>
        <if test="decorationPriceStart != null">
            AND  <![CDATA[a.decoration_price_start >= #{decorationPriceStart} ]]>
        </if>
        <if test="decorationPriceEnd!= null">
            AND  <![CDATA[a.decoration_price_end <= #{decorationPriceEnd} ]]>
        </if>
        <if test="designFeeStarting != null">
            AND  <![CDATA[a.design_fee_starting >= #{designFeeStarting} ]]>
        </if>
        <if test="designFeeEnding != null">
            AND  <![CDATA[a.design_fee_ending <= #{designFeeEnding} ]]>
        </if>
        <if test="decorationType != null">
            AND a.decoration_type = #{decorationType}
        </if>
        <if test="userType != null and  userType != '' ">
            AND su.user_type = #{userType}
        </if>
        <!--add by WangHaiLin-->
        <if test="userTypeList != null and userTypeList.size()>0">
            AND	su.user_type in
            <foreach collection="userTypeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND display_status = 1
        AND a.is_deleted = #{DEL_FLAG_NORMAL}
    </select>

    <select id="findShopPopularityList"
            resultType="com.sandu.company.model.vo.ShopPopularityListVo"
            parameterType="com.sandu.company.model.query.CompanyShopQuery">
        SELECT
        a.id as shop_id,a.shop_name,rp.pic_path,cover_res_ids AS case_pic_ids
        FROM company_shop a
        left join res_pic rp on a.logo_pic_id=rp.id
        left join sys_user su on su.id = a.user_id
        WHERE su.is_deleted = 0
        <if test="businessType != null and  businessType != '' ">
            AND a.business_type = #{businessType}
        </if>
        <if test="platformType != null and  platformType != '' ">
            AND FIND_IN_SET(#{platformType},a.`release_platform_values`)
        </if>
        <if test="displayType != null and displayType != ''">
            AND a.logo_pic_id <![CDATA[ <> 0 ]]>
        </if>
        AND a.display_status = 1
        AND a.is_deleted = #{DEL_FLAG_NORMAL}
        GROUP BY a.id
        order by a.recommended_time desc,a.visit_count desc
        limit 0,6
    </select>
    <update id="updateLikeCount"
            parameterType="com.sandu.company.model.CompanyShop">
		update company_shop set
		like_count=like_count+#{likeCount},gmt_modified=#{gmtModified}
		where id=#{id}
	</update>
    <update id="updateCollectionCount"
            parameterType="com.sandu.company.model.CompanyShop">
		update company_shop set
		collection_count=collection_count+#{collectionCount},gmt_modified=#{gmtModified}
		where id=#{id}
	</update>
    <update id="updateCommentCount"
            parameterType="com.sandu.company.model.CompanyShop">
		update company_shop set
		comment_count=comment_count+#{commentCount},gmt_modified=#{gmtModified}
		where id=#{id}
	</update>
    <update id="updateSalesVolume"
            parameterType="com.sandu.company.model.CompanyShop">
		update company_shop set
		sales_volume=sales_volume+#{salesVolume},gmt_modified=#{gmtModified}
		where id=#{id}
	</update>
    <update id="updateVisitCount"
            parameterType="com.sandu.company.model.CompanyShop">
		update company_shop set
		visit_count=visit_count+1,gmt_modified=#{gmtModified}
		where id=#{id}
	</update>

    <select id="findShopProjectCaseList"
            resultType="com.sandu.company.model.vo.ProjectCaseVo">
        SELECT
        a.id as case_id,a.case_title,a.gmt_create as create_date,
        cs.shop_name,rf.file_path,a.pic_ids as picIds,a.browse_count as browseCount
        FROM project_case a
        left join res_file rf on rf.id = a.file_id
        LEFT join company_shop cs on cs.id = a.shop_id
        WHERE 1=1
        <if test="caseId != null and  caseId != 0 ">
            AND a.id = #{caseId}
        </if>
        <if test="shopId != null and  shopId != 0 ">
            AND a.shop_id = #{shopId}
        </if>
        AND a.release_status = 1
        AND a.is_deleted = #{DEL_FLAG_NORMAL}
        order by a.id desc
        limit #{start},#{pageSize}
    </select>

    <!--修改浏览数量-->
    <update id="updateBrowseCount">
		UPDATE project_case SET
		browse_count = #{browseCount}
		WHERE id = #{caseId}
	</update>

    <select id="CountProjectCase" resultType="com.sandu.company.model.vo.ProjectCaseVo">
             SELECT
                count(*) as count,
                shop_id as shopId
             FROM
                project_case
             WHERE
               shop_id = #{shopId} AND
               is_deleted = 0 AND
               release_status = 1
    </select>

    <select id="CountCompanyShopArticle" resultType="com.sandu.company.model.CompanyShopArticle">
            SELECT
                COUNT(*) as count,
                shop_id as shopId
            FROM
                company_shop_article
            WHERE
                shop_id = #{shopId} AND
                is_deleted = 0 AND
                release_status = 1
    </select>

    <select id="CountCompanyShopPlanInfo" resultType="com.sandu.company.model.vo.ShopPlanInfo">
            SELECT
                COUNT(*) as planCount,
                shop_id as shopId
            FROM
                company_shop_design_plan
            WHERE
                shop_id = #{shopId} AND
                is_deleted = 0
    </select>

    <select id="CountDesigner" resultType="com.sandu.company.model.CompanyDesigner">
            SELECT
              COUNT(*) as designerCount,
              b.id as companyId
            FROM
               base_company b,sys_user s
            WHERE
               s.business_administration_id = b.id AND
               b.id = #{companyId} AND
               b.is_deleted = 0 AND
               s.is_deleted = 0 AND
               s.user_type = 5
    </select>

    <select id="getShopInfo" resultType="com.sandu.company.model.vo.ShopInfoVo">
        <foreach collection="queryMap" index="keyShopId" item="valueCompanyId" open="" separator=" union all " close="">
            SELECT
              ${keyShopId} AS shopId,
              (SELECT COUNT(1) FROM project_case WHERE shop_id = ${keyShopId} AND is_deleted = 0 AND release_status = 1) AS projectCaseCount,
              (SELECT COUNT(1) FROM company_shop_article WHERE shop_id = ${keyShopId} AND is_deleted = 0 AND release_status = 1) AS companyShopArticleCount,
              (select  COUNT(distinct c.user_id) FROM company_shop c LEFT JOIN base_company b ON c.company_id=b.id
                LEFT JOIN sys_user u ON u.id=c.user_id WHERE c.is_deleted = 0 AND b.is_deleted = 0 AND u.is_deleted = 0
                AND c.company_id= ${valueCompanyId} AND u.user_type=5 AND c.business_type !=3
                AND FIND_IN_SET(${platformType},c.release_platform_values)) AS companyDesignerCount
            FROM company_shop
            WHERE id = ${keyShopId}
        </foreach>
    </select>


    <select id="countShopOffline" resultType="java.lang.Long">
        SELECT
            count(a.id)
        FROM
          <include refid="listShopOfflineTable"/> a
          INNER JOIN base_company b on a.company_id=b.id
          LEFT JOIN sys_user su on su.id = a.user_id
        WHERE display_status = 1
            AND a.is_deleted = #{DEL_FLAG_NORMAL}
            <if test="companyId != null and  companyId != '' ">
                AND a.company_pid = #{companyId}
            </if>
            <if test="businessType != null and  businessType != '' ">
                AND a.business_type = #{businessType}
            </if>
            <if test="platformType != null and  platformType != '' ">
                AND
                FIND_IN_SET(#{platformType},a.`release_platform_values`)
            </if>
            <if test="firstCategoryIds != null and  firstCategoryIds != '' ">
                AND FIND_IN_SET(#{firstCategoryIds},a.first_category_ids)
            </if>
            <if test="categoryIds != null and  categoryIds != '' ">
                AND FIND_IN_SET(#{categoryIds},a.category_ids)
            </if>
            <if test="shopName != null and  shopName != '' ">
                AND a.shop_name like CONCAT(CONCAT('%',#{shopName}),'%')
            </if>
            <if test="companyName != null and  companyName != '' ">
                AND b.company_name like CONCAT(CONCAT('%',#{companyName}),'%')
            </if>
            <if test="provinceCode != null and  provinceCode != '' ">
                AND a.province_code = #{provinceCode}
            </if>
            <if test="cityCode != null and  cityCode != '' ">
                AND a.city_code = #{cityCode}
            </if>
            <if test="areaCode != null and  areaCode != '' ">
                AND a.area_code = #{areaCode}
            </if>
            <if test="streetCode != null and  streetCode != '' ">
                AND a.street_code = #{streetCode}
            </if>
            <if test="decorationPriceStart != null">
                AND  <![CDATA[a.decoration_price_start >= #{decorationPriceStart} ]]>
            </if>
            <if test="decorationPriceEnd!= null">
                AND  <![CDATA[a.decoration_price_end <= #{decorationPriceEnd} ]]>
            </if>
            <if test="designFeeStarting != null">
                AND  <![CDATA[a.design_fee_starting >= #{designFeeStarting} ]]>
            </if>
            <if test="designFeeEnding != null">
                AND  <![CDATA[a.design_fee_ending <= #{designFeeEnding} ]]>
            </if>
            <if test="decorationType != null">
                AND a.decoration_type = #{decorationType}
            </if>
            <!--<if test="userType != null and  userType != '' ">-->
                <!--AND su.user_type = #{userType}-->
            <!--</if>-->
            <!--add by WangHaiLin-->
            <!--<if test="userTypeList != null and userTypeList.size()>0">-->
                <!--AND	su.user_type in-->
                <!--<foreach collection="userTypeList" index="index" item="item" open="(" separator="," close=")">-->
                    <!--#{item}-->
                <!--</foreach>-->
            <!--</if>-->
    </select>

    <select id="listShopOffline" resultType="com.sandu.company.model.vo.CompanyShopVo">
        SELECT
          <include refid="shopListColumns"/>,
          a.shop_type
          <if test="latitude != null and latitude != '' and longitude != null and longitude !=''">
            <include refid="distance_column"/>
          </if>
        FROM <include refid="listShopOfflineTable"/> a
          INNER JOIN base_company b on a.company_id=b.id
          left join res_pic rp on rp.id = a.logo_pic_id
          left join res_file rf on rf.id=a.introduced_file_id
          LEFT JOIN base_area d ON d.area_code = a.city_code
          LEFT JOIN base_area d1 ON d1.area_code = a.province_code
          LEFT JOIN base_area d2 ON d2.area_code = a.area_code
          LEFT JOIN base_area d3 ON d3.area_code = a.street_code
          left join sys_user su on su.id = a.user_id
        WHERE a.display_status = 1
          AND a.is_deleted = #{DEL_FLAG_NORMAL}
          <if test="companyId != null and  companyId != '' ">
              AND a.company_pid = #{companyId}
          </if>
          <if test="businessType != null and  businessType != '' ">
              AND a.business_type = #{businessType}
          </if>
          <if test="platformType != null and  platformType != '' ">
              AND FIND_IN_SET(#{platformType},a.release_platform_values)
          </if>
          <if test="firstCategoryIds != null and  firstCategoryIds != '' ">
              AND FIND_IN_SET(#{firstCategoryIds},a.first_category_ids)
          </if>
          <if test="categoryIds != null and  categoryIds != '' ">
              AND FIND_IN_SET(#{categoryIds},a.category_ids)
          </if>
          <if test="shopName != null and  shopName != '' ">
              AND a.shop_name like CONCAT(CONCAT('%',#{shopName}),'%')
          </if>
          <if test="companyName != null and  companyName != '' ">
              AND b.company_name like CONCAT(CONCAT('%',#{companyName}),'%')
          </if>
          <if test="provinceCode != null and  provinceCode != '' ">
              AND a.province_code = #{provinceCode}
          </if>
          <if test="cityCode != null and  cityCode != '' ">
              AND a.city_code = #{cityCode}
          </if>
          <if test="areaCode != null and  areaCode != '' ">
              AND a.area_code = #{areaCode}
          </if>
          <if test="streetCode != null and  streetCode != '' ">
              AND a.street_code = #{streetCode}
          </if>
          <if test="displayType != null and displayType != ''">
              AND a.logo_pic_id <![CDATA[ <> 0 ]]>
            </if>
          <if test="userType != null and  userType != '' ">
              AND su.user_type = #{userType}
          </if>
          <if test="decorationPriceStart != null">
              AND  <![CDATA[a.decoration_price_start >= #{decorationPriceStart} ]]>
            </if>
          <if test="decorationPriceEnd!= null">
              AND  <![CDATA[a.decoration_price_end <= #{decorationPriceEnd} ]]>
            </if>
          <if test="designFeeStarting != null">
              AND  <![CDATA[a.design_fee_starting >= #{designFeeStarting} ]]>
            </if>
          <if test="designFeeEnding != null">
              AND  <![CDATA[a.design_fee_ending <= #{designFeeEnding} ]]>
            </if>
          <if test="decorationType != null">
              AND a.decoration_type = #{decorationType}
          </if>
          <!--add by WangHaiLin-->
          <!--<if test="userTypeList != null and userTypeList.size()>0">-->
              <!--AND	su.user_type in-->
              <!--<foreach collection="userTypeList" index="index" item="item" open="(" separator="," close=")">-->
                  <!--#{item}-->
              <!--</foreach>-->
          <!--</if>-->
          <choose>
              <when test="orderBySql !=null and orderBySql != ''">
                  <choose>
                      <when test="latitude != null and latitude != '' and longitude != null and longitude != ''">
                          order by distance IS NULL, distance ASC, a.gmt_create desc, ${orderBySql}
                      </when>
                      <otherwise>
                          order by a.gmt_create desc, ${orderBySql}
                      </otherwise>
                  </choose>
              </when>
              <otherwise>
                  <choose>
                      <when test="latitude != null and latitude != '' and longitude != null and longitude != ''">
                          order by distance IS NULL, distance ASC, a.gmt_create desc
                      </when>
                      <otherwise>
                          order by a.gmt_create desc
                      </otherwise>
                  </choose>
                  <!--a.id desc-->
              </otherwise>
          </choose>
        limit #{start}, #{pageSize}
    </select>

    <select id="getOfflineDetail" resultType="com.sandu.company.model.vo.CompanyShopDetailVo">
        select
          cso.id,
          2 business_type,
          cso.company_id,
          cso.shop_name,
          cso.company_id company_pid,
          cso.long_area_code,
          cso.contact_phone,
          '' first_category_ids,
          '' category_ids,
          0 user_id,
          cso.shop_address,
          0 visit_count,
          0 praise_rate,
          cso.gmt_create,
          cso.cover_pic_id cover_res_ids,
          1 cover_res_type,
          NULL longitude,
          NULL latitude,
          NULL design_fee_starting,
          NULL design_fee_ending,
          NULL decoration_price_start,
          NULL decoration_price_end,
          NULL decoration_type,
          NULL working_years,
          0 introduced_file_id,
          '1' release_platform_values,
          1 display_status,
          cso.is_deleted,
          0 recommended_time,
          cso.logo_pic_id,
          cso.city_code,
          cso.province_code,
          cso.area_code,
          cso.street_code,
          d.area_name AS cityName,
		  d1.area_name as provinceName,
		  d2.area_name as areaName,
		  d3.area_name as streerName,
          1 shop_type
        from
          company_shop_offline cso
          inner join base_company b
            on cso.company_id = b.id
          left join res_pic rp
            on rp.id = cso.logo_pic_id
          left join base_area d
            on d.area_code = cso.city_code
          left join base_area d1
            on d1.area_code = cso.province_code
          left join base_area d2
            on d2.area_code = cso.area_code
          left join base_area d3
            on d3.area_code = cso.street_code
        where cso.id = #{id}
    </select>

    <sql id="listShopOfflineTable">
      (SELECT
        cs.id,
        cs.business_type,
        cs.company_id,
        cs.shop_name,
        cs.company_pid,
        cs.long_area_code,
        cs.contact_phone,
        cs.first_category_ids,
        cs.category_ids,
        cs.user_id,
        cs.shop_address,
        cs.visit_count,
        cs.praise_rate,
        cs.gmt_create,
        cs.cover_res_ids,
        cs.cover_res_type,
        cs.longitude,
        cs.latitude,
        cs.design_fee_starting,
        cs.design_fee_ending,
        cs.decoration_price_start,
        cs.decoration_price_end,
        cs.decoration_type,
        cs.working_years,
        cs.introduced_file_id,
        cs.release_platform_values,
        cs.display_status,
        cs.is_deleted,
        cs.recommended_time,
        cs.logo_pic_id,
        cs.city_code,
        cs.province_code,
        cs.area_code,
        cs.street_code,
        0 shop_type
      FROM
        company_shop cs
      UNION
      ALL
      SELECT
        cso.id,
        2 business_type,
        cso.company_id,
        cso.shop_name,
        cso.company_id company_pid,
        cso.long_area_code,
        cso.contact_phone,
        '' first_category_ids,
        '' category_ids,
        0 user_id,
        cso.shop_address,
        0 visit_count,
        0 praise_rate,
        cso.gmt_create,
        cso.cover_pic_id cover_res_ids,
        1 cover_res_type,
        NULL longitude,
        NULL latitude,
        NULL design_fee_starting,
        NULL design_fee_ending,
        NULL decoration_price_start,
        NULL decoration_price_end,
        NULL decoration_type,
        NULL working_years,
        0 introduced_file_id,
        '1' release_platform_values,
        1 display_status,
        cso.is_deleted,
        0 recommended_time,
        cso.logo_pic_id,
        cso.city_code,
        cso.province_code,
        cso.area_code,
        cso.street_code,
        1 shop_type
      FROM
        company_shop_offline cso
      WHERE cso.is_release = 1
        AND cso.claim_status = 0)
    </sql>

    <sql id="distance_column">
        ,ROUND(
          6378.138 * 2 * ASIN(
          SQRT(
            POW( SIN((${latitude} * PI() / 180 - a.latitude * PI() / 180) / 2), 2)
            + COS(${latitude} * PI() / 180) * COS(a.latitude * PI() / 180)
            * POW(SIN(( ${longitude} * PI() / 180 - a.longitude * PI() / 180) / 2), 2)
          )) * 1000) / 1000 AS distance
    </sql>
</mapper>