<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
    <dubbo:reference id="wxActBargainAwardMsgService" interface="com.sandu.api.act.service.WxActBargainAwardMsgService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    <dubbo:reference id="wxActBargainAwardService" interface="com.sandu.api.act.service.WxActBargainAwardService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>	
    <dubbo:reference id="wxActBargainDecorateRecordService" interface="com.sandu.api.act.service.WxActBargainDecorateRecordService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    <dubbo:reference id="wxActBargainInviteRecordService" interface="com.sandu.api.act.service.WxActBargainInviteRecordService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>	
    <dubbo:reference id="wxActBargainRegistrationService" interface="com.sandu.api.act.service.WxActBargainRegistrationService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    <dubbo:reference id="wxActBargainService" interface="com.sandu.api.act.service.WxActBargainService"
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    	
</beans>