<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
    <dubbo:reference id="redPacketService" interface="com.sandu.api.act2.service.RedPacketService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    	
    <dubbo:reference id="redPacketRegistrationService" interface="com.sandu.api.act2.service.RedPacketRegistrationService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>
    	
    <dubbo:reference id="lltRechargeLogService" interface="com.sandu.api.llt.trade.service.LltRechargeLogService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>	
    	
    <dubbo:reference id="lltTradeService" interface="com.sandu.api.llt.trade.service.LltTradeService"  
    	retries="${dubbo.retries}" version="${dubbo.version}"/>	 		
</beans>