<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!-- 系统字典服务 -->
    <dubbo:reference id="sysDictionaryService" interface="com.sandu.system.service.SysDictionaryService" check="false" version="${dubbo.version}" retries="${dubbo.retries}"/>

    <!--用户服务-->
    <dubbo:reference id="sysUserService" interface="com.sandu.user.service.SysUserService" version="${dubbo.version}" retries="${dubbo.retries}"/>

    <!--视频资源服务 -->
    <dubbo:reference id="resRenderVideoService" interface="com.sandu.system.service.ResRenderVideoService" version="${dubbo.version}" retries="${dubbo.retries}"/>

    <!--系统角色服务-->
    <dubbo:reference id="sysRoleService" interface="com.sandu.user.service.SysRoleService" version="${dubbo.version}" retries="${dubbo.retries}"/>

    <!--用户角色服务-->
    <dubbo:reference id="sysUserRoleService" interface="com.sandu.user.service.SysUserRoleService" version="${dubbo.version}" retries="${dubbo.retries}"/>

    <!--图片资源服务-->
    <dubbo:reference id="resRenderPicService" interface="com.sandu.system.service.ResRenderPicService" version="${dubbo.version}" retries="${dubbo.retries}"/>

    <!--文件资源服务-->
    <dubbo:reference id="resFileService" interface="com.sandu.system.service.ResFileService" version="${dubbo.version}" retries="${dubbo.retries}"/>
</beans>