<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.system.dao.DesignRenderRoamMapper">
	<!-- **插入定义** -->
	<insert id="insertSelective" parameterType="com.sandu.design.model.DesignRenderRoam"  useGeneratedKeys="true" keyProperty="id">
		insert into design_render_roam
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="screenShotId!= null">screen_shot_id, </if>
		<if test="uuid!= null">uuid, </if>
		<if test="roamConfig!= null">roam_config, </if>
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<if test="att1!= null">att1, </if>
		<if test="att2!= null">att2, </if>
		<if test="numa1!= null">numa1, </if>
		<if test="numa2!= null">numa2, </if>
		<if test="remark!= null">remark, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="screenShotId!= null">  #{screenShotId,jdbcType=INTEGER}, </if>
		<if test="uuid!= null">  #{uuid,jdbcType=VARCHAR}, </if>
		<if test="roamConfig!= null">  #{roamConfig,jdbcType=INTEGER}, </if>
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  #{numa2,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>	
		</trim>
	</insert>

	<!-- **更新定义** -->
	<update id="updateByPrimaryKeySelective" parameterType="com.sandu.design.model.DesignRenderRoam">
		update design_render_roam
		<set>
		<if test="screenShotId!= null">  screen_shot_id = #{screenShotId,jdbcType=INTEGER}, </if>
		<if test="uuid!= null">  uuid = #{uuid,jdbcType=VARCHAR}, </if>
		<if test="roamConfig!= null">  roam_config = #{roamConfig,jdbcType=INTEGER}, </if>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  att1 = #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  att2 = #{att2,jdbcType=VARCHAR}, </if>
		<if test="numa1!= null">  numa1 = #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  numa2 = #{numa2,jdbcType=INTEGER}, </if>
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- **删除定义** -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from design_render_roam
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- **常量定义** -->
	<sql id="All_Column_List">
		id,screen_shot_id,uuid,roam_config,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted,att1,att2,numa1,numa2,remark
	</sql>
	
	<!-- **结果定义** -->
	<resultMap id="AllResultMap" type="com.sandu.design.model.DesignRenderRoam">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="screen_shot_id" property="screenShotId" jdbcType="INTEGER" />
		<result  column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result  column="roam_config" property="roamConfig" jdbcType="INTEGER" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="att1" property="att1" jdbcType="VARCHAR" />
		<result  column="att2" property="att2" jdbcType="VARCHAR" />
		<result  column="numa1" property="numa1" jdbcType="INTEGER" />
		<result  column="numa2" property="numa2" jdbcType="INTEGER" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- **查询定义** -->
	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from design_render_roam
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 查询所有，可排序 -->
    <select id="selectList" resultMap="AllResultMap"
		parameterType="com.sandu.design.model.DesignRenderRoam">
		select
		<include refid="All_Column_List" />
		from design_render_roam
        where 1=1
		<if test="screenShotId!= null">  and screen_shot_id = #{screenShotId,jdbcType=INTEGER} </if>
		<if test="uuid!= null">  and uuid = #{uuid,jdbcType=VARCHAR} </if>
		<if test="roamConfig!= null">  and roam_config = #{roamConfig,jdbcType=INTEGER} </if>
		<if test="sysCode!= null">  and sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1!= null">  and att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="numa1!= null">  and numa1 = #{numa1,jdbcType=INTEGER} </if>
		<if test="numa2!= null">  and numa2 = #{numa2,jdbcType=INTEGER} </if>
		<if test="remark!= null">  and remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="order != null and  order !=''  ">
			order by ${order}
			<if test="orderNum != null and  orderNum !='' ">
				${orderNum}
			</if>
		</if>
		<if test="orders != null and  orders !=''  ">
		   order by ${orders}
		</if>
	</select>
	
	
	<select id="countByScreenShotId" parameterType="com.sandu.design.model.DesignRenderRoam" resultType="com.sandu.design.model.DesignRenderRoam">
		SELECT SUM(1) id FROM design_render_roam WHERE screen_shot_id=#{screenShotId} AND is_deleted=0
	
	</select>
	
	

    
     <!-- end-->

	<!-- 通过UUID查询一条数据 -->
	<select id="selectByUUID"  resultMap="AllResultMap"
		parameterType="java.lang.String">
		select
		<include refid="All_Column_List" />
		from design_render_roam
		where uuid = #{uuid,jdbcType=VARCHAR}
	</select>

	<!-- 通过screenId查询一条数据 -->
	<select id="selectByScreenId"  resultMap="AllResultMap"
			parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from design_render_roam
		where screen_shot_id = #{screenId,jdbcType=INTEGER}
	</select>
</mapper>
