@charset "UTF-8";
/* CSS Document*/
a,body {
	color:#333
}
a,a:hover {
	text-decoration:none
}
#content:after,#footer:after,#header:after,.clearfix:after,.layout:after {
	display:table;
	content:'';
	clear:both
}
#content,#footer,.icon-daren {
	position:relative
}
.col-extra,.col-main,.col-sub,.fl {
	float:left
}
.btn-green:hover,.btn-main:hover,.opacity:hover {
	filter:alpha(opacity=90)
}
.ell,.suggest-result-subitem li a {
	text-overflow:ellipsis;
	white-space:nowrap
}
#accountVali.sign p,.improInfo p {
	text-indent:100px
}
body,button,dd,dl,form,h1,h2,h3,h4,h5,h6,input,ol,p,select,ul {
	margin:0
}
ol,ul {
	padding-left:0;
	list-style:none
}
body {
	font:12px/1.5 Tahoma,Arial,"Lantinghei SC","Microsoft YaHei","微软雅黑",\5b8b\4f53,sans-serif;
	background:#f2f2f2
}
img {
	border:0
}
button,input,select,textarea {
	font-size:100%;
	font-family:Tahoma,Arial,'Hiragino Sans GB','Microsoft YaHei',\5b8b\4f53,sans-serif;
	outline:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption,em,i,th {
	font-style:normal;
	font-weight:400
}
caption,th {
	text-align:left
}
a:hover {
	color:#07b
}
.blue:hover,.cyan:hover,.lightblue:hover,.tdl,.white:hover {
	text-decoration:underline
}
#content,#footer,#header,.layout {
	margin-left:auto;
	margin-right:auto
}
.col-main {
	min-height:1px;
	width:100%
}

.no-scroll {
	overflow:hidden
}
.w1920{
	width: 1920px;
}
.w1180 {
	width: 1180px;
}
.w1400 {
	width: 1400px;
}
.w1000, .w1180, .w980,.w1400 {
	margin: 0 auto;
}
.fr {
	float: right;
}
.fl {
	float: left;
}

































