<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nork.payAccount.dao.PayOrderDao">

    <insert id="insertSelective" parameterType="com.nork.payAccount.model.PayOrder" useGeneratedKeys="true" keyProperty="id">
    insert into pay_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="userId!= null">user_id, </if>
        <if test="productType!= null">product_type, </if>
        <if test="productId!= null">product_id, </if>
        <if test="productName!= null">product_name, </if>
        <if test="productDesc!= null">product_desc, </if>
        <if test="orderNo!= null">order_no, </if>
        <if test="totalFee!= null">total_fee, </if>
        <if test="adjustFee!= null">adjust_fee, </if>
        <if test="payType!= null">pay_type, </if>
        <if test="tradeType!= null">trade_type, </if>
        <if test="bizType!= null">biz_type, </if>
        <if test="financeType!= null">finance_type, </if>
        <if test="payState!= null">pay_state, </if>
        <if test="prepayId!= null">prepay_id, </if>
        <if test="codeUrl!= null">code_url, </if>
        <if test="refId!= null">ref_id, </if>
        <if test="openId!= null">open_id, </if>
        <if test="orderDate!= null">order_date, </if>
        <if test="sysCode!= null">sys_code, </if>
        <if test="creator!= null">creator, </if>
        <if test="gmtCreate!= null">gmt_create, </if>
        <if test="modifier!= null">modifier, </if>
        <if test="gmtModified!= null">gmt_modified, </if>
        <if test="isDeleted!= null">is_deleted, </if>
        <if test="att1!= null">att1, </if>
        <if test="att2!= null">att2, </if>
        <if test="numa1!= null">numa1, </if>
        <if test="numa2!= null">numa2, </if>
        <if test="remark!= null">remark, </if>
        <if test="taskId!= null">task_id, </if>
        <if test="planId!= null">plan_id, </if>
        <if test="houseId!= null">house_id, </if>
        <if test="currentIntegral!= null">current_integral, </if>
        <if test="platformId!= null">platform_id, </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="userId!= null">  #{userId,jdbcType=INTEGER}, </if>
        <if test="productType!= null">  #{productType,jdbcType=VARCHAR}, </if>
        <if test="productId!= null">  #{productId,jdbcType=INTEGER}, </if>
        <if test="productName!= null">  #{productName,jdbcType=VARCHAR}, </if>
        <if test="productDesc!= null">  #{productDesc,jdbcType=VARCHAR}, </if>
        <if test="orderNo!= null">  #{orderNo,jdbcType=VARCHAR}, </if>
        <if test="totalFee!= null">  #{totalFee,jdbcType=INTEGER}, </if>
        <if test="adjustFee!= null">  #{adjustFee,jdbcType=INTEGER}, </if>
        <if test="payType!= null">  #{payType,jdbcType=VARCHAR}, </if>
        <if test="tradeType!= null">  #{tradeType,jdbcType=VARCHAR}, </if>
        <if test="bizType!= null">#{bizType,jdbcType=VARCHAR}, </if>
        <if test="financeType!= null">#{financeType,jdbcType=VARCHAR}, </if>
        <if test="payState!= null">  #{payState,jdbcType=VARCHAR}, </if>
        <if test="prepayId!= null">  #{prepayId,jdbcType=VARCHAR}, </if>
        <if test="codeUrl!= null">  #{codeUrl,jdbcType=VARCHAR}, </if>
        <if test="refId!= null">  #{refId,jdbcType=VARCHAR}, </if>
        <if test="openId!= null">  #{openId,jdbcType=VARCHAR}, </if>
        <if test="orderDate!= null">  #{orderDate,jdbcType=TIMESTAMP}, </if>
        <if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
        <if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
        <if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
        <if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
        <if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
        <if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
        <if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
        <if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
        <if test="numa1!= null">  #{numa1,jdbcType=INTEGER}, </if>
        <if test="numa2!= null">  #{numa2,jdbcType=INTEGER}, </if>
        <if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>
        <if test="taskId!= null"> #{taskId,jdbcType=INTEGER}, </if>
        <if test="planId!= null"> #{planId,jdbcType=INTEGER}, </if>
        <if test="houseId!= null"> #{houseId,jdbcType=INTEGER}, </if>
        <if test="currentIntegral!= null"> #{currentIntegral,jdbcType=INTEGER}, </if>
        <if test="platformId!= null"> #{platformId,jdbcType=INTEGER}, </if>
    </trim>
    </insert>

</mapper>
