<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.pay.system.dao.SysTaskMapper">
	<insert id="insertSelective" parameterType="com.sandu.system.model.task.SysTask"  useGeneratedKeys="true" keyProperty="id">
		insert into sys_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="businessId!= null">business_id, </if>
		<if test="businessCode!= null">business_code, </if>
		<if test="businessName!= null">business_name, </if>
		<if test="state!= null">state, </if>
		<if test="execCount!= null">exec_count, </if>
		<if test="params!= null">params, </if>
		<if test="sysCode!= null">sys_code, </if>
		<if test="creator!= null">creator, </if>
		<if test="gmtCreate!= null">gmt_create, </if>
		<if test="modifier!= null">modifier, </if>
		<if test="gmtModified!= null">gmt_modified, </if>
		<if test="isDeleted!= null">is_deleted, </if>
		<if test="att1!= null">att1, </if>
		<if test="att2!= null">att2, </if>
		<if test="attribute!= null">attribute, </if>
		<if test="planId!= null">plan_id, </if>
		<if test="numa1!= null">numa1, </if>
		<if test="numa2!= null">numa2, </if>
		<if test="remark!= null">remark, </if>
		<if test="taskServer!= null">task_server, </if>
		<if test="renderServer!= null">render_server, </if>
		<if test="renderWay!= null">render_way, </if>
		<if test="priority!= null">priority, </if>
		<if test="picId!= null">pic_id, </if>
		<if test="renderTaskId!= null">render_task_id, </if>
		<if test="picDownloadState!= null">pic_download_state, </if>
		<if test="instructionTime!= null">instruction_time,</if>
		<if test="suspendTime!= null">suspend_time,</if>
		<if test="renderType!= null  ">render_type,</if>
		<if test="picDownloadTime!= null  ">pic_download_time,</if>
		<if test="renderMoney!= null  ">render_money</if>
		<if test="taskConfig!= null  ">task_config</if>
		<if test="renderChannel!= null  ">render_channel</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="businessId!= null">  #{businessId,jdbcType=INTEGER}, </if>
		<if test="businessCode!= null">  #{businessCode,jdbcType=VARCHAR}, </if>
		<if test="businessName!= null">  #{businessName,jdbcType=VARCHAR}, </if>
		<if test="state!= null">  #{state,jdbcType=INTEGER}, </if>
		<if test="execCount!= null">  #{execCount,jdbcType=INTEGER}, </if>
		<if test="params!= null">  #{params,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  #{att2,jdbcType=VARCHAR}, </if>
		<if test="attribute!= null">  #{attribute,jdbcType=VARCHAR}, </if>
		<if test="planId!= null">  #{planId,jdbcType=INTEGER}, </if>
		<if test="numa1!= null">  #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  #{numa2,jdbcType=VARCHAR}, </if>
		<if test="remark!= null">  #{remark,jdbcType=VARCHAR}, </if>
		<if test="taskServer!= null">  #{taskServer,jdbcType=VARCHAR}, </if>
		<if test="renderServer!= null">  #{renderServer,jdbcType=VARCHAR}, </if>
		<if test="renderWay!= null">  #{renderWay,jdbcType=VARCHAR}, </if>
		<if test="priority!= null">  #{priority,jdbcType=INTEGER}, </if>
		<if test="picId!= null">  #{picId,jdbcType=INTEGER}, </if>
		<if test="renderTaskId!= null">  #{renderTaskId,jdbcType=INTEGER}, </if>
		<if test="picDownloadState!= null">  #{picDownloadState,jdbcType=INTEGER}, </if>
		<if test="instructionTime!= null">#{instructionTime,jdbcType=TIMESTAMP},</if>
		<if test="suspendTime!= null">#{suspendTime,jdbcType=TIMESTAMP},</if>
		<if test="renderType!= null  ">#{renderType,jdbcType=INTEGER}, </if>
		<if test="picDownloadTime!= null  ">#{picDownloadTime,jdbcType=INTEGER}, </if>
		<if test="renderMoney!= null  ">#{renderMoney,jdbcType=INTEGER}, </if>
		<if test="taskConfig!= null  ">#{taskConfig,jdbcType=VARCHAR}, </if>
		<if test="renderChannel!= null  ">#{renderChannel,jdbcType=INTEGER}, </if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sandu.system.model.task.SysTask">
		update sys_task
		<set>
		<if test="businessId!= null">  business_id = #{businessId,jdbcType=INTEGER}, </if>
		<if test="businessCode!= null">  business_code = #{businessCode,jdbcType=VARCHAR}, </if>
		<if test="businessName!= null">  business_name = #{businessName,jdbcType=VARCHAR}, </if>
		<if test="state!= null">  state = #{state,jdbcType=INTEGER}, </if>
		<if test="execCount!= null">  exec_count = #{execCount,jdbcType=INTEGER}, </if>
		<if test="params!= null">  params = #{params,jdbcType=VARCHAR}, </if>
		<if test="sysCode!= null">  sys_code = #{sysCode,jdbcType=VARCHAR}, </if>
		<if test="creator!= null">  creator = #{creator,jdbcType=VARCHAR}, </if>
		<if test="gmtCreate!= null">  gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, </if>
		<if test="modifier!= null">  modifier = #{modifier,jdbcType=VARCHAR}, </if>
		<if test="gmtModified!= null">  gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, </if>
		<if test="isDeleted!= null">  is_deleted = #{isDeleted,jdbcType=INTEGER}, </if>
		<if test="att1!= null">  att1 = #{att1,jdbcType=VARCHAR}, </if>
		<if test="att2!= null">  att2 = #{att2,jdbcType=VARCHAR}, </if>
		<if test="attribute!= null">  attribute = #{attribute,jdbcType=VARCHAR}, </if>
		<if test="planId!= null">  plan_id = #{planId,jdbcType=INTEGER}, </if>
		<if test="numa1!= null">  numa1 = #{numa1,jdbcType=INTEGER}, </if>
		<if test="numa2!= null">  numa2 = #{numa2,jdbcType=VARCHAR}, </if>
		<if test="remark!= null">  remark = #{remark,jdbcType=VARCHAR}, </if>
		<if test="taskServer!= null">  task_server = #{taskServer,jdbcType=VARCHAR}, </if>
		<if test="renderServer!= null">  render_server = #{renderServer,jdbcType=VARCHAR}, </if>
		<if test="renderWay!= null">  render_way = #{renderWay,jdbcType=VARCHAR}, </if>
		<if test="priority!= null">  priority = #{priority,jdbcType=INTEGER}, </if>
		<if test="picId!= null">  pic_id = #{picId,jdbcType=INTEGER}, </if>
		<if test="renderTaskId!= null">  render_task_id = #{renderTaskId,jdbcType=INTEGER}, </if>
		<if test="picDownloadState!= null">  pic_download_state = #{picDownloadState,jdbcType=INTEGER}, </if>
		<if test="instructionTime!= null"> instruction_time = #{instructionTime,jdbcType=TIMESTAMP},</if>
		<if test="suspendTime!= null"> suspend_time = #{suspendTime,jdbcType=TIMESTAMP},</if>
		<if test="renderType!= null  ">render_type = #{renderType,jdbcType=INTEGER}, </if>
		<if test="picDownloadTime!= null  ">pic_download_time = #{picDownloadTime,jdbcType=TIMESTAMP}, </if>
		<if test="renderMoney!= null  ">render_money = #{renderMoney,jdbcType=VARCHAR} </if>
		<if test="taskConfig!= null  ">task_config = #{taskConfig,jdbcType=VARCHAR} </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_task
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<sql id="All_Column_List">
		id,render_type,business_id,business_code,business_name,state,exec_count,params,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted,att1,att2,attribute,plan_id,numa1,numa2,remark,task_server,render_server,render_way,priority,pic_id,render_task_id,pic_download_state,instruction_time,suspend_time,pic_download_time,render_money,task_weight,task_config,render_channel
	</sql>
	
	<resultMap id="AllResultMap" type="com.sandu.system.model.task.SysTask">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="business_id" property="businessId" jdbcType="INTEGER" />
		<result  column="business_code" property="businessCode" jdbcType="VARCHAR" />
		<result  column="business_name" property="businessName" jdbcType="VARCHAR" />
		<result  column="state" property="state" jdbcType="INTEGER" />
		<result  column="exec_count" property="execCount" jdbcType="INTEGER" />
		<result  column="params" property="params" jdbcType="VARCHAR" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="att1" property="att1" jdbcType="VARCHAR" />
		<result  column="att2" property="att2" jdbcType="VARCHAR" />
		<result  column="attribute" property="attribute" jdbcType="VARCHAR" />
		<result  column="plan_id" property="planId" jdbcType="INTEGER" />
		<result  column="numa1" property="numa1" jdbcType="INTEGER" />
		<result  column="numa2" property="numa2" jdbcType="VARCHAR" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
		<result  column="task_server" property="taskServer" jdbcType="VARCHAR" />
		<result  column="render_server" property="renderServer" jdbcType="VARCHAR" />
		<result  column="render_way" property="renderWay" jdbcType="VARCHAR" />
		<result  column="priority" property="priority" jdbcType="INTEGER" />
		<result  column="pic_id" property="picId" jdbcType="INTEGER" />
		<result  column="render_task_id" property="renderTaskId" jdbcType="INTEGER" />
		<result  column="pic_download_state" property="picDownloadState" jdbcType="INTEGER" />
		<result  column="instruction_time" property="instructionTime" jdbcType="TIMESTAMP" />
		<result  column="suspend_time" property="suspendTime" jdbcType="TIMESTAMP" />
		<result  column="render_type" property="renderType" jdbcType="INTEGER" />
		<result  column="pic_download_time" property="picDownloadTime" jdbcType="TIMESTAMP" />
		<result  column="render_money" property="renderMoney" jdbcType="VARCHAR" />
		<result  column="task_weight" property="taskWeight" jdbcType="INTEGER" />
		<result  column="task_config" property="taskConfig" jdbcType="VARCHAR" />
		<result  column="render_channel" property="renderChannel" jdbcType="INTEGER" />
	</resultMap>
	
	
	
	
	<!-- **结果定义** -->
	<resultMap id="DesignPlanAllResultMap" type="com.sandu.web.task.model.DesignPlan">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result  column="plan_code" property="planCode" jdbcType="VARCHAR" />
		<result  column="plan_name" property="planName" jdbcType="VARCHAR" />
		<result column="plan_source" property="planSource" jdbcType="VARCHAR"/>
		<result column="house_id" property="houseId" jdbcType="INTEGER"/>
		<result column="living_id" property="livingId" jdbcType="INTEGER"/>
		<result column="residential_units_name" property="residentialUnitsName" jdbcType="VARCHAR"/>
		<result  column="user_id" property="userId" jdbcType="INTEGER" />
		<result  column="media_type" property="mediaType" jdbcType="INTEGER" />
		<result  column="design_source_type" property="designSourceType" jdbcType="INTEGER" />
		<result  column="design_id" property="designId" jdbcType="INTEGER" />
		<result  column="design_template_id" property="designTemplateId" jdbcType="INTEGER" />
		<result  column="design_style_id" property="designStyleId" jdbcType="INTEGER" />
		<result  column="pic_id" property="picId" jdbcType="INTEGER" />
		<result  column="model_id" property="modelId" jdbcType="INTEGER" />
		<result  column="model_3d_id" property="model3dId" jdbcType="INTEGER" />
		<result  column="model_u3d_id" property="modelU3dId" jdbcType="INTEGER" />
		<result  column="web_model_u3d_id" property="webModelU3dId" jdbcType="INTEGER" />
		<result  column="ios_model_u3d_id" property="iosModelU3dId" jdbcType="INTEGER" />
		<result  column="ipad_model_u3d_id" property="ipadModelU3dId" jdbcType="INTEGER" />
		<result  column="pc_model_u3d_id" property="pcModelU3dId" jdbcType="INTEGER" />
		<result  column="android_model_u3d_id" property="androidModelU3dId" jdbcType="INTEGER" />
		<result  column="macBookpc_model_u3d_id" property="macBookpcModelU3dId" jdbcType="INTEGER" />
		<result  column="config_file_id" property="configFileId" jdbcType="INTEGER" />
		<result  column="space_common_id" property="spaceCommonId" jdbcType="INTEGER" />
		<result  column="space_function_id" property="spaceFunctionId" jdbcType="INTEGER" />
		<result  column="space_areas" property="spaceAreas" jdbcType="VARCHAR" />
		<result  column="plan_desc" property="planDesc" jdbcType="VARCHAR" />
		<result  column="sys_code" property="sysCode" jdbcType="VARCHAR" />
		<result  column="creator" property="creator" jdbcType="VARCHAR" />
		<result  column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result  column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result  column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result  column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result  column="remark" property="remark" jdbcType="VARCHAR" />
		<!--<result  column="evening_file_id" property="eveningFileId" jdbcType="INTEGER" />
		<result  column="dawn_file_id" property="dawnFileId" jdbcType="INTEGER" />
		<result  column="night_file_id" property="nightFileId" jdbcType="INTEGER" />-->
		<result  column="share_total" property="shareTotal" jdbcType="INTEGER" />
		<result  column="is_open" property="isOpen" jdbcType="INTEGER" />
		<result  column="is_change" property="isChange" jdbcType="INTEGER" />
		<result  column="is_decorated" property="isDecorated" jdbcType="INTEGER" />
		<result  column="draft_state" property="draftState" jdbcType="INTEGER" />
		<result  column="baiMo_state" property="baiMoState" jdbcType="INTEGER" />
		<result  column="stuff_finish_state" property="stuffFinishState" jdbcType="INTEGER" />
		<result  column="decorate_finish_state" property="decorateFinishState" jdbcType="INTEGER" />
		
		<result  column="spelling_flower_file_id" property="spellingFlowerFileId" jdbcType="INTEGER" />
		<result  column="spelling_flower_product" property="spellingFlowerProduct" jdbcType="INTEGER" />
		
		<result  column="cover_pic_id" property="coverPicId" jdbcType="INTEGER" />
		<result  column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
		<result  column="design_recommended_style_id" property="designRecommendedStyleId" jdbcType="INTEGER" />
 		<result  column="effects_config" property="effectsConfig" jdbcType="VARCHAR" />
 		<result  column="is_recommended" property="isRecommended" jdbcType="INTEGER" />
 		<result  column="is_default_decorate" property="isDefaultDecorate" jdbcType="INTEGER" />
 		<result  column="plan_number" property="planNumber" jdbcType="VARCHAR" />

 		<result  column="design_scene_id" property="designSceneId" jdbcType="INTEGER" />
 		<result  column="visible" property="visible" jdbcType="INTEGER" />
 		<result  column="scene_modified" property="sceneModified" jdbcType="INTEGER" />
 		<result  column="recommended_plan_id" property="recommendedPlanId" jdbcType="INTEGER" />
 		<result  column="business_type" property="businessType" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="getSysTaskState" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM sys_task st WHERE st.`business_id` = #{businessId,jdbcType=VARCHAR} AND st.state IN(0,1,11,12);
	</select>
	
	<select id="selectByPrimaryKey" resultMap="AllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_List" />
		from sys_task
		where id = #{id,jdbcType=INTEGER}
	</select>
	
    <select id="selectList" resultMap="AllResultMap"
		parameterType="com.sandu.system.model.task.SysTask">
		select
		<include refid="All_Column_List" />
		from sys_task
        where 1=1
        <if test="renderType!= null  ">and render_type = #{renderType,jdbcType=INTEGER} </if>
		<if test="businessId!= null">  and business_id = #{businessId,jdbcType=INTEGER} </if>
		<if test="businessCode!= null">  and business_code = #{businessCode,jdbcType=VARCHAR} </if>
		<if test="businessName!= null">  and business_name = #{businessName,jdbcType=VARCHAR} </if>
		<if test="state!= null">  and state = #{state,jdbcType=INTEGER} </if>
		<if test="sysCode!= null">  and sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1!= null">  and att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="attribute!= null">  and attribute = #{attribute,jdbcType=VARCHAR} </if>
		<if test="planId!= null">  and plan_id = #{planId,jdbcType=INTEGER} </if>
		<if test="numa1!= null">  and numa1 = #{numa1,jdbcType=INTEGER} </if>
		<if test="remark!= null">  and remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="taskServer!= null">  and task_server = #{taskServer,jdbcType=VARCHAR} </if>
		<if test="renderServer!= null">  and render_server = #{renderServer,jdbcType=VARCHAR} </if>
		<if test="renderWay!= null">  and render_way = #{renderWay,jdbcType=VARCHAR} </if>
		<if test="priority!= null">  and priority = #{priority,jdbcType=INTEGER} </if>
		<if test="stateList != null and  stateList.size > 0  ">
			and	state in
			<foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="order != null and  order !=''  ">
			order by ${order}
			<if test="orderNum != null and  orderNum !='' ">
				${orderNum}
			</if>
		</if>
		<!--<if test="orders != null and  orders !=''  ">-->
 		   <!--order by priority,gmt_create ASC-->
		<!--</if>-->
	</select>
	
    <select id="findRenderPlanId" resultMap="AllResultMap"
		parameterType="com.sandu.system.model.task.SysTask">
		select
		<include refid="All_Column_List" />
		from sys_task
        where 1=1
         <if test="renderType!= null  ">and render_type = #{renderType,jdbcType=INTEGER} </if>
		<if test="businessId!= null">  and business_id = #{businessId,jdbcType=INTEGER} </if>
		<if test="picId!= null">  and pic_id = #{picId,jdbcType=INTEGER} </if>
		<if test="businessCode!= null">  and business_code = #{businessCode,jdbcType=VARCHAR} </if>
		<if test="businessName!= null">  and business_name = #{businessName,jdbcType=VARCHAR} </if>
		<if test="state!= null">  and state = #{state,jdbcType=INTEGER} </if>
		<if test="sysCode!= null">  and sys_code = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="creator!= null">  and creator = #{creator,jdbcType=VARCHAR} </if>
		<if test="gmtCreate!= null">  and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="modifier!= null">  and modifier = #{modifier,jdbcType=VARCHAR} </if>
		<if test="gmtModified!= null">  and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="isDeleted!= null">  and is_deleted = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1!= null">  and att1 = #{att1,jdbcType=VARCHAR} </if>
		<if test="att2!= null">  and att2 = #{att2,jdbcType=VARCHAR} </if>
		<if test="attribute!= null">  and attribute = #{attribute,jdbcType=VARCHAR} </if>
		<if test="planId!= null">  and plan_id = #{planId,jdbcType=INTEGER} </if>
		<if test="numa1!= null">  and numa1 = #{numa1,jdbcType=INTEGER} </if>
		<if test="remark!= null">  and remark = #{remark,jdbcType=VARCHAR} </if>
		<if test="taskServer!= null">  and task_server = #{taskServer,jdbcType=VARCHAR} </if>
		<if test="renderServer!= null">  and render_server = #{renderServer,jdbcType=VARCHAR} </if>
		<if test="renderWay!= null">  and render_way = #{renderWay,jdbcType=VARCHAR} </if>
		<if test="priority!= null">  and priority = #{priority,jdbcType=INTEGER} </if>
		<if test="stateList !=  null and  stateList.size > 0  ">
			and	state in
			<foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="orders != null and  orders !=''  ">  order by #{orders}</if>
	</select>
	
	<select id="selectCount" resultType="int"
		parameterType="com.sandu.web.task.model.search.SysTaskSearch">
		select count(*)
		from sys_task
		where 1=1
		<if test="id !=  null  "> and id &lt;= #{id,jdbcType=INTEGER} </if>
		 <if test="renderType != null ">and render_type = #{renderType,jdbcType=INTEGER} </if>
		<if test="businessId !=  null  ">			and business_id  = #{businessId,jdbcType=INTEGER} </if>
		<if test="businessCode !=  null and businessCode !=  ''   "> and business_code  = #{businessCode,jdbcType=VARCHAR} </if>
		<if test="sch_BusinessCode_ !=  null and sch_BusinessCode_ !=  ''   ">
			and business_code  like CONCAT(CONCAT('%',#{sch_BusinessCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_BusinessCode !=  null and sch_BusinessCode !=  ''   ">
			and business_code  like CONCAT('%',#{sch_BusinessCode,jdbcType=VARCHAR})
		 </if>
		<if test="schBusinessCode_ !=  null and schBusinessCode_ !=  ''   ">
			and business_code  like CONCAT(#{schBusinessCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="businessCodeStart !=  null and businessCodeEnd!= null  ">
			and business_code between #{businessCodeStart,jdbcType=VARCHAR} and #{businessCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="businessName !=  null and businessName !=  ''   "> and business_name  = #{businessName,jdbcType=VARCHAR} </if>
		<if test="sch_BusinessName_ !=  null and sch_BusinessName_ !=  ''   ">
			and business_name  like CONCAT(CONCAT('%',#{sch_BusinessName_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_BusinessName !=  null and sch_BusinessName !=  ''   ">
			and business_name  like CONCAT('%',#{sch_BusinessName,jdbcType=VARCHAR})
		 </if>
		<if test="schBusinessName_ !=  null and schBusinessName_ !=  ''   ">
			and business_name  like CONCAT(#{schBusinessName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="businessNameStart !=  null and businessNameEnd!= null  ">
			and business_name between #{businessNameStart,jdbcType=VARCHAR} and #{businessNameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="state !=  null  ">			and state  = #{state,jdbcType=INTEGER} </if>
		<if test="sysCode !=  null and sysCode !=  ''   "> and sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1 !=  null and att1 !=  ''   "> and att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		 <if test="attribute !=  null and attribute !=  ''   "> and attribute  = #{attribute,jdbcType=VARCHAR} </if>
		<if test="planId !=  null  ">			and plan_id  = #{planId,jdbcType=INTEGER} </if>
		<if test="numa1 !=  null  ">			and numa1  = #{numa1,jdbcType=INTEGER} </if>
		<if test="remark !=  null and remark !=  ''   "> and remark  = #{remark,jdbcType=VARCHAR} </if>		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
		 <if test="stateList !=  null and  stateList.size > 0  ">
			and	state in
			<foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="taskServer!= null">  and task_server = #{taskServer,jdbcType=VARCHAR} </if>
		<if test="renderServer!= null">  and render_server = #{renderServer,jdbcType=VARCHAR} </if>
		<if test="renderWay!= null">  and render_way = #{renderWay,jdbcType=VARCHAR} </if>
		<if test="priority!= null">  and priority = #{priority,jdbcType=INTEGER} </if>
		<if test="instructionTimeStart!= null and instructionTimeEnd != null">
			and instruction_time between #{instructionTimeStart,jdbcType=TIMESTAMP} and #{instructionTimeEnd,jdbcType=TIMESTAMP}
		</if>
		<if test="maxAllowLiveTime != null">
			and TIMESTAMPDIFF(DAY ,suspend_time,NOW()) > #{maxAllowLiveTime,jdbcType=INTEGER}
		</if>
	</select>
	
	<select id="selectPaginatedList" resultMap="AllResultMap"
		parameterType="com.sandu.web.task.model.search.SysTaskSearch">
		select
		<include refid="All_Column_List" />
	    from sys_task
		where 1=1	
		<if test="renderType!= null  ">and render_type = #{renderType,jdbcType=INTEGER} </if>
		<if test="businessId !=  null  ">			and business_id  = #{businessId,jdbcType=INTEGER} </if>
		<if test="renderTaskId !=  null  ">			and render_task_id  = #{renderTaskId,jdbcType=INTEGER} </if>
		<if test="picDownloadState !=  null  ">			and pic_download_state  = #{picDownloadState,jdbcType=INTEGER} </if>
		<if test="businessCode !=  null and businessCode !=  ''   "> and business_code  = #{businessCode,jdbcType=VARCHAR} </if>
		<if test="sch_BusinessCode_ !=  null and sch_BusinessCode_ !=  ''   ">
			and business_code  like CONCAT(CONCAT('%',#{sch_BusinessCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_BusinessCode !=  null and sch_BusinessCode !=  ''   ">
			and business_code  like CONCAT('%',#{sch_BusinessCode,jdbcType=VARCHAR})
		 </if>
		<if test="schBusinessCode_ !=  null and schBusinessCode_ !=  ''   ">
			and business_code  like CONCAT(#{schBusinessCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="businessCodeStart !=  null and businessCodeEnd!= null  ">
			and business_code between #{businessCodeStart,jdbcType=VARCHAR} and #{businessCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="businessName !=  null and businessName !=  ''   "> and business_name  = #{businessName,jdbcType=VARCHAR} </if>
		<if test="sch_BusinessName_ !=  null and sch_BusinessName_ !=  ''   ">
			and business_name  like CONCAT(CONCAT('%',#{sch_BusinessName_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_BusinessName !=  null and sch_BusinessName !=  ''   ">
			and business_name  like CONCAT('%',#{sch_BusinessName,jdbcType=VARCHAR})
		 </if>
		<if test="schBusinessName_ !=  null and schBusinessName_ !=  ''   ">
			and business_name  like CONCAT(#{schBusinessName_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="businessNameStart !=  null and businessNameEnd!= null  ">
			and business_name between #{businessNameStart,jdbcType=VARCHAR} and #{businessNameEnd,jdbcType=VARCHAR}
		 </if>
		<if test="state !=  null  ">			and state  = #{state,jdbcType=INTEGER} </if>
		<if test="moreThanExecCount !=  null  ">			and exec_count  >= #{moreThanExecCount,jdbcType=INTEGER} </if>
		<if test="sysCode !=  null and sysCode !=  ''   "> and sys_code  = #{sysCode,jdbcType=VARCHAR} </if>
		<if test="sch_SysCode_ !=  null and sch_SysCode_ !=  ''   ">
			and sys_code  like CONCAT(CONCAT('%',#{sch_SysCode_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_SysCode !=  null and sch_SysCode !=  ''   ">
			and sys_code  like CONCAT('%',#{sch_SysCode,jdbcType=VARCHAR})
		 </if>
		<if test="schSysCode_ !=  null and schSysCode_ !=  ''   ">
			and sys_code  like CONCAT(#{schSysCode_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="sysCodeStart !=  null and sysCodeEnd!= null  ">
			and sys_code between #{sysCodeStart,jdbcType=VARCHAR} and #{sysCodeEnd,jdbcType=VARCHAR}
		 </if>
		<if test="creator !=  null and creator !=  ''   "> and creator  = #{creator,jdbcType=VARCHAR} </if>
		<if test="sch_Creator_ !=  null and sch_Creator_ !=  ''   ">
			and creator  like CONCAT(CONCAT('%',#{sch_Creator_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Creator !=  null and sch_Creator !=  ''   ">
			and creator  like CONCAT('%',#{sch_Creator,jdbcType=VARCHAR})
		 </if>
		<if test="schCreator_ !=  null and schCreator_ !=  ''   ">
			and creator  like CONCAT(#{schCreator_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="creatorStart !=  null and creatorEnd!= null  ">
			and creator between #{creatorStart,jdbcType=VARCHAR} and #{creatorEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtCreate !=  null  ">
			and gmt_create  = #{gmtCreate,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtCreateStart !=  null and gmtCreateEnd!= null  ">
			and gmt_create between #{gmtCreateStart,jdbcType=TIMESTAMP} and #{gmtCreateEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="modifier !=  null and modifier !=  ''   "> and modifier  = #{modifier,jdbcType=VARCHAR} </if>
		<if test="sch_Modifier_ !=  null and sch_Modifier_ !=  ''   ">
			and modifier  like CONCAT(CONCAT('%',#{sch_Modifier_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Modifier !=  null and sch_Modifier !=  ''   ">
			and modifier  like CONCAT('%',#{sch_Modifier,jdbcType=VARCHAR})
		 </if>
		<if test="schModifier_ !=  null and schModifier_ !=  ''   ">
			and modifier  like CONCAT(#{schModifier_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="modifierStart !=  null and modifierEnd!= null  ">
			and modifier between #{modifierStart,jdbcType=VARCHAR} and #{modifierEnd,jdbcType=VARCHAR}
		 </if>
		<if test="gmtModified !=  null  ">
			and gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP}
		 </if>
		<if test="gmtModifiedEnd !=  null  ">
			and gmt_modified  &lt; #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		</if>
		<if test="gmtModifiedStart !=  null and gmtModifiedEnd!= null  ">
			and gmt_modified between #{gmtModifiedStart,jdbcType=TIMESTAMP} and #{gmtModifiedEnd,jdbcType=TIMESTAMP}
		 </if>
		<if test="isDeleted !=  null  ">			and is_deleted  = #{isDeleted,jdbcType=INTEGER} </if>
		<if test="att1 !=  null and att1 !=  ''   "> and att1  = #{att1,jdbcType=VARCHAR} </if>
		<if test="sch_Att1_ !=  null and sch_Att1_ !=  ''   ">
			and att1  like CONCAT(CONCAT('%',#{sch_Att1_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att1 !=  null and sch_Att1 !=  ''   ">
			and att1  like CONCAT('%',#{sch_Att1,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt1_ !=  null and schAtt1_ !=  ''   ">
			and att1  like CONCAT(#{schAtt1_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att1Start !=  null and att1End!= null  ">
			and att1 between #{att1Start,jdbcType=VARCHAR} and #{att1End,jdbcType=VARCHAR}
		 </if>
		<if test="att2 !=  null and att2 !=  ''   "> and att2  = #{att2,jdbcType=VARCHAR} </if>
		<if test="sch_Att2_ !=  null and sch_Att2_ !=  ''   ">
			and att2  like CONCAT(CONCAT('%',#{sch_Att2_,jdbcType=VARCHAR}),'%')
		 </if>
		<if test="sch_Att2 !=  null and sch_Att2 !=  ''   ">
			and att2  like CONCAT('%',#{sch_Att2,jdbcType=VARCHAR})
		 </if>
		<if test="schAtt2_ !=  null and schAtt2_ !=  ''   ">
			and att2  like CONCAT(#{schAtt2_,jdbcType=VARCHAR},'%')
		 </if>
		<if test="att2Start !=  null and att2End!= null  ">
			and att2 between #{att2Start,jdbcType=VARCHAR} and #{att2End,jdbcType=VARCHAR}
		 </if>
		 <if test="attribute !=  null and attribute !=  ''   "> and attribute  = #{attribute,jdbcType=VARCHAR} </if>
		<if test="planId !=  null  ">			and plan_id  = #{planId,jdbcType=INTEGER} </if>
		<if test="numa1 !=  null  ">			and numa1  = #{numa1,jdbcType=INTEGER} </if>
		<if test="remark !=  null and remark !=  ''   "> and remark  = #{remark,jdbcType=VARCHAR} </if>		<if test="sch_Remark_ !=  null and sch_Remark_ !=  ''   ">
			and remark  like CONCAT(CONCAT('%',#{sch_Remark_,jdbcType=VARCHAR}),'%')
		 </if>		<if test="sch_Remark !=  null and sch_Remark !=  ''   ">
			and remark  like CONCAT('%',#{sch_Remark,jdbcType=VARCHAR})
		 </if>		<if test="schRemark_ !=  null and schRemark_ !=  ''   ">
			and remark  like CONCAT(#{schRemark_,jdbcType=VARCHAR},'%')
		 </if>		<if test="remarkStart !=  null and remarkEnd!= null  ">
			and remark between #{remarkStart,jdbcType=VARCHAR} and #{remarkEnd,jdbcType=VARCHAR}
		 </if>
		<if test="taskServer!= null">  and task_server = #{taskServer,jdbcType=VARCHAR} </if>
		<if test="renderServer!= null">  and render_server = #{renderServer,jdbcType=VARCHAR} </if>
		<if test="renderWay!= null">  and render_way = #{renderWay,jdbcType=VARCHAR} </if>
		<if test="priority!= null">  and priority = #{priority,jdbcType=INTEGER} </if>
		<if test="instructionTimeStart!= null and instructionTimeEnd != null">
			and instruction_time between #{instructionTimeStart,jdbcType=TIMESTAMP} and #{instructionTimeEnd,jdbcType=TIMESTAMP}
		</if>
		<if test="maxAllowLiveTime != null">
			and TIMESTAMPDIFF(DAY ,suspend_time,NOW()) > #{maxAllowLiveTime,jdbcType=INTEGER}
		</if>
		<if test="stateList !=  null and  stateList.size > 0  ">
			and	state in
			<foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="order != null and  order !=''  ">
			order by ${order} <if test="orderNum != null and  orderNum !='' ">${orderNum}</if>
		</if>
		<if test="orders != null and  orders !=''  ">  order by #{orders}</if>
		<if test="order == null and  orders == null ">  order by id desc</if>
		<if test="start !=-1 and limit !=-1"> LIMIT #{start}, #{limit}</if>
	</select>
	
	
	<!-- **常量定义** -->
	<sql id="All_Column_DesignPlanList">
		id,spelling_flower_product,spelling_flower_file_id,is_recommended,is_default_decorate,plan_number,design_recommended_style_id,release_time,cover_pic_id,plan_code,plan_name,plan_source,house_id,living_id,residential_units_name,user_id,media_type,design_source_type,design_id,share_total,is_open,is_change,
		is_decorated,draft_state,baiMo_state,stuff_finish_state,decorate_finish_state,design_template_id,design_style_id,pic_id,model_id,model_3d_id,model_u3d_id,web_model_u3d_id,ios_model_u3d_id,ipad_model_u3d_id,pc_model_u3d_id,
		android_model_u3d_id,macBookpc_model_u3d_id,config_file_id,space_common_id,plan_desc,sys_code,creator,gmt_create,modifier,gmt_modified,is_deleted,remark,evening_file_id,dawn_file_id,night_file_id,effects_config,
		design_scene_id,visible,scene_modified,recommended_plan_id,business_type
 
	</sql>
	
	<!-- 按主键查询 -->
	<select id="selectByPrimaryDesignPlan" resultMap="DesignPlanAllResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="All_Column_DesignPlanList" />
		from design_plan
		where id = #{id,jdbcType=INTEGER}
	</select>

</mapper>
