<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.company.dao.ProprietorInfoDao">

    <insert id="add" parameterType="com.sandu.company.model.ProprietorInfo" useGeneratedKeys="true" keyProperty="id">
        insert into proprietor_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type!= null">type, </if>
            <if test="userName!= null">user_name, </if>
            <if test="mobile!= null">mobile, </if>
            <if test="businessType!= null">business_type, </if>
            <if test="companyType!= null">company_type, </if>
            <if test="companyName!= null">business_Name, </if>
            <if test="shopId!= null">shop_id, </if>
            <if test="servicesType!= null">services_type, </if>
            <if test="provinceCode!= null">province_code, </if>
            <if test="cityCode!= null">city_code, </if>
            <if test="areaName!= null">area_name, </if>
            <if test="houseAcreage!= null">house_acreage, </if>
            <if test="sourceType!= null">source_type, </if>
            <if test="houseType!= null">house_type, </if>
            <if test="process!= null">process, </if>
            <if test="creator!= null">creator, </if>
            <if test="gmtCreated!= null">gmt_created, </if>
            <if test="modifier!= null">modifier, </if>
            <if test="gmtModified!= null">gmt_modified, </if>
            <if test="isDeleted!= null">is_deleted, </if>
            <if test="isInit!= null">is_init, </if>
            <if test="designplanId != null">designplan_id,</if>
             <if test="appointUserId != null">appoint_user_id </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type!= null"> #{type,jdbcType=INTEGER}, </if>
            <if test="userName!= null"> #{userName,jdbcType=VARCHAR}, </if>
            <if test="mobile!= null"> #{mobile,jdbcType=VARCHAR}, </if>
            <if test="businessType!= null"> #{businessType,jdbcType=INTEGER}, </if>
            <if test="companyType!= null"> #{companyType,jdbcType=INTEGER}, </if>
            <if test="companyName!= null"> #{companyName,jdbcType=VARCHAR}, </if>
            <if test="shopId!= null"> #{shopId,jdbcType=INTEGER}, </if>
            <if test="servicesType!= null"> #{servicesType,jdbcType=INTEGER}, </if>
            <if test="provinceCode!= null"> #{provinceCode,jdbcType=VARCHAR}, </if>
            <if test="cityCode!= null"> #{cityCode,jdbcType=VARCHAR}, </if>
            <if test="areaName!= null"> #{areaName,jdbcType=VARCHAR},</if>
            <if test="houseAcreage!= null"> #{houseAcreage,jdbcType=VARCHAR}, </if>
            <if test="sourceType!= null"> #{sourceType,jdbcType=INTEGER}, </if>
            <if test="houseType!= null"> #{houseType,jdbcType=VARCHAR}, </if>
            <if test="process!= null"> #{process,jdbcType=INTEGER}, </if>
            <if test="creator!= null">  #{creator,jdbcType=VARCHAR}, </if>
            <if test="gmtCreated!= null">  #{gmtCreated,jdbcType=TIMESTAMP}, </if>
            <if test="modifier!= null">  #{modifier,jdbcType=VARCHAR}, </if>
            <if test="gmtModified!= null">  #{gmtModified,jdbcType=TIMESTAMP}, </if>
            <if test="isDeleted!= null">  #{isDeleted,jdbcType=INTEGER}, </if>
            <if test="isInit!= null"> #{isInit,jdbcType=INTEGER}, </if>
            <if test="designplanId!= null"> #{designplanId,jdbcType=INTEGER},</if>
            <if test="appointUserId != null">#{appointUserId,jdbcType=INTEGER} </if>
        </trim>
    </insert>

</mapper>