<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.sandu.system.service.SysDictionaryService"
                   ref="sysDictionaryService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
       <!-- 访问资源权限服务 -->
    <dubbo:service interface="com.sandu.system.service.ResRenderPicService"
                   ref="resRenderPicService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>

    <dubbo:service interface="com.sandu.system.service.ResourceCacherService"
                   ref="resourceCacherService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
                   
                   
     <dubbo:service interface="com.sandu.system.service.ResTextureService"
                   ref="resTextureService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>


    <!-- 系统模块-户型、空间图片资源表服务接口-->
    <dubbo:service interface="com.sandu.system.service.ResHousePicService"
                   ref="resHousePicService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>

    <!-- 自动渲染生成视频接口 -->
    <dubbo:service interface="com.sandu.system.service.ResRenderVideoService"
                   ref="resRenderVideoService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
                   
    <!-- 基本平台服务接口 -->
    <dubbo:service interface="com.sandu.system.service.BasePlatformService"
                   ref="basePlatformService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>

    <!-- 基础-广告服务接口-->
    <dubbo:service interface="com.sandu.system.service.BaseBannerAdService"
                   ref="baseBannerAdService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
    <!-- 基础-广告-位置服务接口-->
    <dubbo:service interface="com.sandu.system.service.BaseBannerPositionService"
                   ref="baseBannerPositionService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
    <!-- 广告-图片-资源服务接口-->
    <dubbo:service interface="com.sandu.system.service.ResBannerPicService"
                   ref="resBannerPicService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>
    <!--基础-广告-对外服务接口-->
    <dubbo:service interface="com.sandu.system.service.BaseBannerBizService"
                   ref="baseBannerBizService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>

	<dubbo:service interface="com.sandu.system.service.BaseHouseGuidePicInfoService"
                   ref="baseHouseGuidePicInfoService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>

	<dubbo:service interface="com.sandu.system.service.BaseHousePicFullHousePlanRelService"
                   ref="baseHousePicFullHousePlanRelService" protocol="dubbo" timeout="${dubbo.timeout}"
                   version="${dubbo.version}"/>

</beans>