<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    
    <!-- 用户服务 
    <dubbo:service interface="com.nork.system.service.SysUserService" ref="sysUserService" protocol="dubbo" timeout="10000" version="0.0.1"/> -->
    <!-- 授权配置服务 -->
<!--     <dubbo:service interface="com.nork.product.service.AuthorizedConfigService" ref="authorizedConfigService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->    <!-- 推荐方案服务 -->
<!--     <dubbo:service interface="com.nork.design.service.DesignPlanRecommendedServiceV2" ref="designPlanRecommendedServiceV2" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->    <!-- 企业服务 -->
<!--     <dubbo:service interface="com.nork.product.service.BaseCompanyService" ref="baseCompanyService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 一键自动装修服务 -->
<!-- 	<dubbo:service interface="com.nork.design.service.OptimizePlanService" ref="optimizePlanService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 图片资源服务 -->
<!-- 	<dubbo:service interface="com.nork.system.service.ResPicService" ref="resPicService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 设计方案服务 -->
<!-- 	<dubbo:service interface="com.nork.design.service.DesignPlanService" ref="designPlanService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 户型空间服务 -->
<!-- 	<dubbo:service interface="com.nork.home.service.SpaceCommonService" ref="spaceCommonService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 数据字典服务 -->
<!-- 	<dubbo:service interface="com.nork.system.service.SysDictionaryService" ref="sysDictionaryService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 渲染图片资源库服务 -->
<!-- 	<dubbo:service interface="com.nork.system.service.ResRenderPicService" ref="resRenderPicService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 方案产品服务 -->
<!-- 	<dubbo:service interface="com.nork.design.service.DesignPlanProductService" ref="designPlanProductService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 产品风格服务 -->
<!-- 	<dubbo:service interface="com.nork.product.service.BaseProductStyleService" ref="baseProductStyleService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 副本方案产品服务 -->
<!-- 	<dubbo:service interface="com.nork.design.service.DesignPlanProductRenderSceneService" ref="designPlanProductRenderSceneService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 方案资源服务 -->
<!-- 	<dubbo:service interface="com.nork.system.service.ResDesignService" ref="resDesignService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 用户组合服务 -->
<!-- 	<dubbo:service interface="com.nork.system.service.SysUserGroupService" ref="sysUserGroupService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 -->	<!-- 副本方案服务 -->
<!-- 	<dubbo:service interface="com.nork.design.service.DesignPlanRenderSceneService" ref="designPlanRenderSceneService" protocol="dubbo" timeout="10000" version="0.0.1"/>
 --><!-- 运营网站720资源服务 -->
	<dubbo:service interface="com.nork.pano.service.PanoramaService" ref="panoramaService" protocol="dubbo" timeout="10000" version="0.0.1"/>
	<!-- 移动端720服务 -->
	<dubbo:service interface="com.nork.mobile.service.MobileDesignPlanService" ref="mobileDesignPlanService" protocol="dubbo" timeout="10000" version="0.0.1"/>
	<!-- PC端720服务 -->
	<dubbo:service interface="com.nork.design.service.DesignPlanRecommendedServiceV2" ref="designPlanRecommendedServiceV2" protocol="dubbo" timeout="10000" version="0.0.1"/>
    
    <!-- 720°渲染接口 -->
    <dubbo:service interface="com.nork.render.service.IAutoRenderTaskApi" ref="autoRenderTaskApi" protocol="dubbo" timeout="10000" version="0.0.1"/>
    <!-- 图片资源服务 -->
    <dubbo:service interface="com.nork.system.service.ResRenderPicService" ref="resRenderPicService" protocol="dubbo" timeout="10000" version="0.0.1"/>
    <!-- 视频资源服务 -->
    <dubbo:service interface="com.nork.system.service.ResRenderVideoService" ref="resRenderVideoService" protocol="dubbo" timeout="10000" version="0.0.1"/>
</beans>
 
