<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.collect.dao.RecordMachineInfoOperationDao" >

    <insert id="insertRecordMachineInfoOperation" parameterType="com.sandu.api.collect.model.RecordMachineInfoOperation" keyProperty="id" useGeneratedKeys="true" >
        insert into record_machine_info_operation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="userAgent != null" >
                user_agent,
            </if>
            <if test="appName != null" >
                app_name,
            </if>
            <if test="appVersion != null" >
                app_version,
            </if>
            <if test="appIp != null" >
                app_ip,
            </if>
            <if test="os != null" >
                os,
            </if>
            <if test="osVersion != null" >
                os_version,
            </if>
            <if test="phoneBrand != null" >
                phone_brand,
            </if>
            <if test="phoneModel != null" >
                phone_model,
            </if>
            <if test="mac != null" >
                mac,
            </if>
            <if test="idfa != null" >
                idfa,
            </if>
            <if test="androidId != null" >
                android_id,
            </if>
            <if test="imei != null" >
                imei,
            </if>
            <if test="uuid != null" >
                uuid,
            </if>
            <if test="openId != null" >
                open_id,
            </if>
            <if test="udid != null" >
                udid,
            </if>
            <if test="screenWidth != null" >
                screen_width,
            </if>
            <if test="screenHeight != null" >
                screen_height,
            </if>
            <if test="recordType != null" >
                record_type,
            </if>
            <if test="sysCode != null" >
                sys_code,
            </if>
            <if test="creator != null" >
                creator,
            </if>
            <if test="gmtCreate != null" >
                gmt_create,
            </if>
            <if test="modifier != null" >
                modifier,
            </if>
            <if test="gmtModified != null" >
                gmt_modified,
            </if>
            <if test="isDeleted != null" >
                is_deleted,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="userAgent != null" >
                #{userAgent,jdbcType=VARCHAR},
            </if>
            <if test="appName != null" >
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null" >
                #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="appIp != null" >
                #{appIp,jdbcType=VARCHAR},
            </if>
            <if test="os != null" >
                #{os,jdbcType=VARCHAR},
            </if>
            <if test="osVersion != null" >
                #{osVersion,jdbcType=VARCHAR},
            </if>
            <if test="phoneBrand != null" >
                #{phoneBrand,jdbcType=VARCHAR},
            </if>
            <if test="phoneModel != null" >
                #{phoneModel,jdbcType=VARCHAR},
            </if>
            <if test="mac != null" >
                #{mac,jdbcType=VARCHAR},
            </if>
            <if test="idfa != null" >
                #{idfa,jdbcType=VARCHAR},
            </if>
            <if test="androidId != null" >
                #{androidId,jdbcType=VARCHAR},
            </if>
            <if test="imei != null" >
                #{imei,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null" >
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="openId != null" >
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="udid != null" >
                #{udid,jdbcType=VARCHAR},
            </if>
            <if test="screenWidth != null" >
                #{screenWidth,jdbcType=VARCHAR},
            </if>
            <if test="screenHeight != null" >
                #{screenHeight,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null" >
                #{recordType,jdbcType=INTEGER},
            </if>
            <if test="sysCode != null" >
                #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="creator != null" >
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null" >
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null" >
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null" >
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


</mapper>