<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- ResDesignService -->
	<dubbo:service interface="com.sandu.system.service.ResDesignService"
                   ref="resDesignService" protocol="dubbo" version="${dubbo.version}" timeout="${dubbo.timeout}"/>
                   
	<!-- ResFileService -->
	<dubbo:service interface="com.sandu.system.service.ResFileService"
                   ref="resFileService" protocol="dubbo" version="${dubbo.version}" timeout="${dubbo.timeout}"/>
	
	<!-- ResModelService -->
	<dubbo:service interface="com.sandu.system.service.ResModelService"
                   ref="resModelService" protocol="dubbo" version="${dubbo.version}" timeout="${dubbo.timeout}"/>
	
	<!-- ResPicService -->
	<dubbo:service interface="com.sandu.system.service.ResPicService"
                   ref="resPicService" protocol="dubbo" version="${dubbo.version}" timeout="${dubbo.timeout}"/>
	
	<!-- ResTextureService -->
	<dubbo:service interface="com.sandu.system.service.ResTextureService"
                   ref="resTextureService" protocol="dubbo" version="${dubbo.version}" timeout="${dubbo.timeout}"/>
	
	<!-- SysDictionaryService -->
	<!--<dubbo:service interface="com.sandu.system.service.SysDictionaryService"
                   ref="sysDictionaryService" protocol="dubbo" version="${dubbo.version}" timeout="${dubbo.timeout}"/>-->
</beans>