<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.node.dao.UserNodeInfoRelMapper" >
  <resultMap id="BaseResultMap" type="com.sandu.node.model.UserNodeInfoRel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="INTEGER" />
    <result column="detail_type" property="detailType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, user_id, node_id, detail_type, status, creator, gmt_create, modifier, gmt_modified, 
    is_deleted, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_node_info_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_node_info_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sandu.node.model.UserNodeInfoRel" >
    insert into user_node_info_rel (id, uuid, user_id, 
      node_id, detail_type, status, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, remark
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{nodeId,jdbcType=INTEGER}, #{detailType,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.node.model.UserNodeInfoRel" >
    insert into user_node_info_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="detailType != null" >
        detail_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="detailType != null" >
        #{detailType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.node.model.UserNodeInfoRel" >
    update user_node_info_rel
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="detailType != null" >
        detail_type = #{detailType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.node.model.UserNodeInfoRel" >
    update user_node_info_rel
    set uuid = #{uuid,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      node_id = #{nodeId,jdbcType=INTEGER},
      detail_type = #{detailType,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getUserNodeInfoRel" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from
      user_node_info_rel
    where
      is_deleted = 0
    <if test="start != null and size != null">
      limit #{start},#{size}
    </if>
  </select>
  <update id="updateUserNodeInfoRelByUnique" parameterType="com.sandu.node.model.UserNodeInfoRel">
    update
        user_node_info_rel
    <set>
        <if test="status != null" >
          status = #{status,jdbcType=TINYINT},
        </if>
        <if test="modifier != null" >
          modifier = #{modifier,jdbcType=VARCHAR},
        </if>
        <if test="gmtModified != null" >
          gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="isDeleted != null" >
          is_deleted = #{isDeleted,jdbcType=TINYINT},
        </if>
        <if test="remark != null" >
          remark = #{remark,jdbcType=VARCHAR},
        </if>
    </set>
    where
        user_id = #{userId}
        and node_id = #{nodeId}
        and detail_type = #{detailType}
  </update>
  <select id="getUserContent" resultType="java.util.Map">
    select
        t1.user_id,
        group_concat(t2.content_id) content_ids
    from
        (select user_id,node_id from user_node_info_rel where is_deleted = 0 and status = 1 and detail_type = #{detailType} order by gmt_modified) t1
        inner join node_info t2 on t2.id = t1.node_id and t2.is_deleted = 0 and t2.node_type = #{nodeType}
    group by
        t1.user_id
    <if test="start != null and size != null">
      limit #{start},#{size}
    </if>
  </select>
  <select id="getUserNodeInfoRelSelective" parameterType="com.sandu.node.model.UserNodeInfoRel" resultType="com.sandu.node.model.UserNodeInfoRel">
    select
        <include refid="Base_Column_List" />
    from
        user_node_info_rel
    <where>
        <if test="uuid != null" >
            and uuid = #{uuid,jdbcType=VARCHAR}
        </if>
        <if test="userId != null" >
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="nodeId != null" >
            and node_id = #{nodeId,jdbcType=INTEGER}
        </if>
        <if test="detailType != null" >
            and detail_type = #{detailType,jdbcType=TINYINT}
        </if>
        <if test="status != null" >
            and status = #{status,jdbcType=TINYINT}
        </if>
        <if test="creator != null" >
            and creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="gmtCreate != null" >
            and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
        </if>
        <if test="modifier != null" >
            and modifier = #{modifier,jdbcType=VARCHAR}
        </if>
        <if test="gmtModified != null" >
            and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        </if>
        <if test="isDeleted != null" >
            and is_deleted = #{isDeleted,jdbcType=TINYINT}
        </if>
        <if test="remark != null" >
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
    </where>
  </select>
</mapper>