<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--扫描服务/配置文件-->
    <import resource="classpath:spring/spring-common.xml"/>
    <!--加载缓存数据源-->
	  <!--
    <import resource="classpath:spring/spring-context-jedis.xml"/>
  -->
	<import resource="classpath:spring/spring-jedis.xml"/>
	
    <!-- Dubbo配置 -->
    <import resource="classpath:dubbo/spring-dubbo.xml"/>
    <!-- Dubbo服务提供者配置 -->
    <import resource="classpath:dubbo/consumer/spring-dubbo-consumer.xml"/>
    <!-- sso -->
    <import resource="classpath:spring-sso-config.xml"/>

</beans>