<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
    <dubbo:reference id="baseBannerPositionService"
                     interface="com.sandu.api.banner.service.BaseBannerPositionService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <dubbo:reference id="resBannerPicService"
                     interface="com.sandu.api.banner.service.ResBannerPicService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <dubbo:reference id="baseBannerAdService"
                     interface="com.sandu.api.banner.service.BaseBannerAdService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <dubbo:reference id="baseBannerBizService"
                     interface="com.sandu.api.banner.service.biz.BaseBannerBizService" retries="${dubbo.retries}" version="${dubbo.version}"/>

    <dubbo:reference id="baseBannerManageService"
                     interface="com.sandu.api.banner.service.manage.BaseBannerManageService" retries="${dubbo.retries}" version="${dubbo.version}"/>

</beans>