<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.decoratecustomer.dao.DecorateSeckillMapper">
    <resultMap id="BaseResultMap" type="com.sandu.api.decoratecustomer.model.DecorateSeckill">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="first_seckill_company" property="firstSeckillCompany" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="proprietor_info_id" property="proprietorInfoId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_id, first_seckill_company, user_id, proprietor_info_id, status, price, 
    creator, gmt_create, modifier, gmt_modified, is_deleted
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from decorate_seckill
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from decorate_seckill
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.sandu.api.decoratecustomer.model.DecorateSeckill">
    insert into decorate_seckill (id, customer_id, first_seckill_company, 
      user_id, proprietor_info_id, status, 
      price, creator, gmt_create, 
      modifier, gmt_modified, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{firstSeckillCompany,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{proprietorInfoId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{price,jdbcType=DECIMAL}, #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sandu.api.decoratecustomer.model.DecorateSeckill">
        insert into decorate_seckill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="firstSeckillCompany != null">
                first_seckill_company,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="proprietorInfoId != null">
                proprietor_info_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="firstSeckillCompany != null">
                #{firstSeckillCompany,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="proprietorInfoId != null">
                #{proprietorInfoId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sandu.api.decoratecustomer.model.DecorateSeckill">
        update decorate_seckill
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="firstSeckillCompany != null">
                first_seckill_company = #{firstSeckillCompany,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="proprietorInfoId != null">
                proprietor_info_id = #{proprietorInfoId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sandu.api.decoratecustomer.model.DecorateSeckill">
    update decorate_seckill
    set customer_id = #{customerId,jdbcType=BIGINT},
      first_seckill_company = #{firstSeckillCompany,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      proprietor_info_id = #{proprietorInfoId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      price = #{price,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}

  </update>

    <select id="findSedKillCustomerIds" resultType="java.lang.Integer">
        select distinct customer_id from decorate_seckill
        where is_deleted = 0 and
        customer_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="findSedKillByCustomerIds" resultType="com.sandu.api.decoratecustomer.model.DecorateSeckill">
        select * from decorate_seckill
        where is_deleted = 0
        and customer_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>