<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.act.dao.WxActBargainRegistrationMapper">
  

    <sql id="Base_Column_List">
        id,act_id,open_id,nickname,head_pic,product_name,product_price,product_min_price,product_remain_price,cut_method_price_min,cut_method_price_max,invite_status,decorate_status,awards_status,exception_status,complete_status,shipment_status,invite_cut_price_sum,invite_cut_record_count,carrier,shipment_no,app_id,creator,gmt_create,modifier,gmt_modified,is_deleted
    </sql>

    <insert id="insertWxActBargainRegistration"  parameterType="com.sandu.api.act.model.WxActBargainRegistration">
        insert into wx_act_bargain_registration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="actId != null">
                act_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="headPic != null">
                head_pic,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="productMinPrice != null">
                product_min_price,
            </if>
            <if test="productRemainPrice != null">
                product_remain_price,
            </if>
            <if test="cutMethodPriceMin != null">
                cut_method_price_min,
            </if>
            <if test="cutMethodPriceMax != null">
                cut_method_price_max,
            </if>

            <if test="inviteStatus != null">
                invite_status,
            </if>
            <if test="decorateStatus != null">
                decorate_status,
            </if>
            <if test="awardsStatus != null">
                awards_status,
            </if>
            <if test="exceptionStatus != null">
                exception_status,
            </if>
            <if test="completeStatus != null">
                complete_status,
            </if>
            <if test="shipmentStatus != null">
                shipment_status,
            </if>
            <if test="inviteCutPriceSum != null">
                invite_cut_price_sum,
            </if>
            <if test="inviteCutRecordCount != null">
                invite_cut_record_count,
            </if>
            <if test="carrier != null">
                carrier,
            </if>
            
            <if test="shipmentNo != null">
                shipment_no,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="actId != null">
                #{actId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headPic != null">
                #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                #{productPrice,jdbcType=VARCHAR},
            </if>
            <if test="productMinPrice != null">
                #{productMinPrice,jdbcType=VARCHAR},
            </if>
            <if test="productRemainPrice != null">
                #{productRemainPrice,jdbcType=VARCHAR},
            </if>
            <if test="cutMethodPriceMin != null">
                #{cutMethodPriceMin,jdbcType=VARCHAR},
            </if>
            <if test="cutMethodPriceMax != null">
                #{cutMethodPriceMax,jdbcType=VARCHAR},
            </if>
            <if test="cutMethodInviteNum != null">
                #{cutMethodInviteNum,jdbcType=INTEGER},
            </if>
            <if test="inviteStatus != null">
                #{inviteStatus,jdbcType=TINYINT},
            </if>
            <if test="decorateStatus != null">
                #{decorateStatus,jdbcType=TINYINT},
            </if>
            <if test="awardsStatus != null">
                #{awardsStatus,jdbcType=TINYINT},
            </if>
            <if test="exceptionStatus != null">
                #{exceptionStatus,jdbcType=TINYINT},
            </if>
            <if test="completeStatus != null">
                #{completeStatus,jdbcType=TINYINT},
            </if>
            <if test="shipmentStatus != null">
                #{shipmentStatus,jdbcType=TINYINT},
            </if>
            <if test="inviteCutPriceSum != null">
                #{inviteCutPriceSum,jdbcType=INTEGER},
            </if>
            <if test="inviteCutRecordCount != null">
                #{inviteCutRecordCount,jdbcType=INTEGER},
            </if>
            <if test="carrier != null">
                #{carrier,jdbcType=VARCHAR},
            </if>
            <if test="shipmentNo != null">
                #{shipmentNo,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateWxActBargainRegistrationById" parameterType="com.sandu.api.act.model.WxActBargainRegistration">
        update wx_act_bargain_registration
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="actId != null">
                act_id = #{actId,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headPic != null">
                head_pic = #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice,jdbcType=VARCHAR},
            </if>
             <if test="productMinPrice != null">
                product_min_price = #{productMinPrice,jdbcType=VARCHAR},
            </if>
            <if test="productRemainPrice != null">
                product_remain_price = #{productRemainPrice,jdbcType=VARCHAR},
            </if>
            <if test="cutMethodPriceMin != null">
                cut_method_price_min = #{cutMethodPriceMin,jdbcType=VARCHAR},
            </if>
            <if test="cutMethodPriceMax != null">
                cut_method_price_max = #{cutMethodPriceMax,jdbcType=VARCHAR},
            </if>

            <if test="inviteStatus != null">
                invite_status = #{inviteStatus,jdbcType=TINYINT},
            </if>
            <if test="decorateStatus != null">
                decorate_status = #{decorateStatus,jdbcType=TINYINT},
            </if>
            <if test="awardsStatus != null">
                awards_status = #{awardsStatus,jdbcType=TINYINT},
            </if>
            <if test="exceptionStatus != null">
                exception_status = #{exceptionStatus,jdbcType=TINYINT},
            </if>
            <if test="completeStatus != null">
                complete_status = #{completeStatus,jdbcType=TINYINT},
            </if>
            <if test="shipmentStatus != null">
                shipment_status = #{shipmentStatus,jdbcType=TINYINT},
            </if>
            <if test="inviteCutPriceSum != null">
                invite_cut_price_sum = #{inviteCutPriceSum,jdbcType=INTEGER},
            </if>
            <if test="inviteCutRecordCount != null">
                invite_cut_record_count = #{inviteCutRecordCount,jdbcType=INTEGER},
            </if>
             <if test="carrier != null">
                carrier = #{carrier,jdbcType=VARCHAR},
            </if>
            <if test="shipmentNo != null">
                shipment_no = #{shipmentNo,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteWxActBargainRegistrationById">
        update wx_act_bargain_registration 
        set 
        	is_deleted = 1,
       		gmt_modified = now()
        where id = #{regId}
    </update>
    
    <update id="updateToReduceRegProductRemainPriceById">
        update wx_act_bargain_registration 
        	set 
        		product_remain_price = product_remain_price - #{cutPrice},
        		invite_cut_price_sum = invite_cut_price_sum + #{cutPrice},
        		invite_cut_record_count = invite_cut_record_count + 1,
        		gmt_modified = now()
        where id = #{regId}
    </update>
    
    <update id="updateRegCompleteStatusToFinish">
        update wx_act_bargain_registration 
        	set 
        		complete_status = 10,
        		gmt_modified = now()
        where id = #{regId} and complete_status=0 and is_deleted=0
    </update>
    
     <update id="updateRegAwardStatusToWait">
        update wx_act_bargain_registration 
        	set 
        		awards_status = 10,
        		gmt_modified = now()
        where id = #{regId} and awards_status=0 and is_deleted=0
     </update>


    <select id="selectWxActBargainRegistrationById" resultType="com.sandu.api.act.model.WxActBargainRegistration">
        select
        <include refid="Base_Column_List"/>
        from wx_act_bargain_registration
        where id = #{regId} and is_deleted=0
    </select>
    
    <select id="selectWxActBargainRegistrationByActIdAndOpenId" resultType="com.sandu.api.act.model.WxActBargainRegistration">
        select
        <include refid="Base_Column_List"/>
        from wx_act_bargain_registration
        where act_id = #{actId} and open_id=#{openId} and is_deleted=0
    </select>
    
    <select id="selectWxActBargainRegAnalyseResult" resultType="com.sandu.api.act.output.WxActBargainRegistrationAnalyseResultVO">
		select 
			reg.id regId,
			reg.head_pic headPic,
			reg.open_id openId,
			reg.nickname,
			reg.gmt_create gmtCreate,
			reg.invite_cut_record_count inviteCutCount,
			reg.invite_cut_price_sum inviteCutPriceSum,
			reg.decorate_status decorateStatus, 
			case 
				when (reg.exception_status=0 and reg.complete_status=10 and reg.shipment_status=0)
				then 10
				when (reg.exception_status=0 and reg.complete_status=10 and reg.shipment_status=10)
				then 20
				else null
				end status,
			reg.shipment_status shipmentStatus,
			award.receiver,
			award.mobile,
			award.address
		from wx_act_bargain_registration reg
		left join wx_act_bargain_award award
		on reg.id = award.registration_id
		where reg.is_deleted=0
		<if test="actId != null and actId!=''">  and reg.act_id = #{actId} </if>
		<if test="openId!= null and openId!=''">  and reg.open_id = #{openId} </if>
		<if test="nickname != null and nickname!=''">  and reg.nickname = #{nickname} </if>
		<if test="status != null and status == 10">
			and reg.exception_status=0 and reg.complete_status=10 and reg.shipment_status=0
		</if>
		<if test="status != null and status == 20">
			and reg.shipment_status=10
		</if>
		<if test="decorateStatus != null">  and reg.decorate_status = #{decorateStatus} </if>
		order by reg.gmt_create desc
	</select>
	
	<select id="selectRegCount" resultType="com.sandu.api.act.output.WxActBargainRegCountResultVO">
		select 
       		DATE_FORMAT(gmt_create,'%Y-%m-%d %H') time,
       		count(*) num
		from wx_act_bargain_registration
		where is_deleted=0
		and act_id = #{actId}
		and gmt_create<![CDATA[ >= ]]>#{beginTime}
		and gmt_create<![CDATA[ <= ]]>#{endTime}
		group by DATE_FORMAT(gmt_create,'%Y-%m-%d %H')
		order by gmt_create
    </select>
    
    <select id="selectRegSuccessCount" resultType="com.sandu.api.act.output.WxActBargainRegCountResultVO">
		select 
			DATE_FORMAT(gmt_create,'%Y-%m-%d %H') time,
			count(*) num
		from wx_act_bargain_registration
		where complete_status=10 and exception_status=0 and is_deleted=0
		and act_id = #{actId}
		and gmt_create<![CDATA[ >= ]]>#{beginTime}
		and gmt_create<![CDATA[ <= ]]>#{endTime}
		group by DATE_FORMAT(gmt_create,'%Y-%m-%d %H');
    </select>
    
    <select id="selectCutCount" resultType="com.sandu.api.act.output.WxActBargainRegCountResultVO">
		select 
			DATE_FORMAT(gmt_create,'%Y-%m-%d %H') time,
			sum(invite_cut_record_count) num
		from wx_act_bargain_registration
		where is_deleted=0
		and act_id = #{actId}
		and gmt_create<![CDATA[ >= ]]>#{beginTime}
		and gmt_create<![CDATA[ <= ]]>#{endTime}
		group by DATE_FORMAT(gmt_create,'%Y-%m-%d %H');
    </select>
    
    <select id="getBargainRegistrationsByActIds" resultType="com.sandu.api.act.model.WxActBargainRegistration">
        select
          <include refid="Base_Column_List"/>
        from
           wx_act_bargain_registration
        where
          is_deleted=0 and
          act_id IN
          <foreach collection="ids" open="(" separator="," close=")" item="id">
              #{id}
          </foreach>
    </select>
    
    <select id="selectWxActBargainRegistrationByIdList" resultType="com.sandu.api.act.model.WxActBargainRegistration">
        select
          <include refid="Base_Column_List"/>
        from
           wx_act_bargain_registration
        where
          is_deleted=0 and
          id IN
          <foreach collection="regIdList" open="(" separator="," close=")" item="id">
              #{id}
          </foreach>
    </select>
    

</mapper>