<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
					http://cxf.apache.org/jaxws   
					http://cxf.apache.org/schemas/jaxws.xsd">


	<!--
	<jaxws:client id="demoClient" serviceClass="app.test.webservice.CXFDemo"
		address="${app.server.url}${app.server.siteName}/webservice/demo" />

	<jaxws:client id="uploadFileClient" serviceClass="app.test.webservice.UploadFileService"
		address="http://localhost:8080/trunk/webservice/uploadFile" />
	-->
	<jaxws:client id="syncFileClient" serviceClass="com.nork.common.webservice.SyncFileService"
		address="${app.server.url}${app.server.siteName}/webservice/syncFile" />

	<jaxws:client id="serverDataServiceClient" serviceClass="com.nork.sync.service.ServerDataService"
		address="${app.server.url}${app.server.siteName}/webservice/serverDataService"/>

</beans>