<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://code.alibabatech.com/schema/dubbo
                    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->

    <!--数据字典-->
    <dubbo:reference interface="com.sandu.system.service.SysDictionaryService"
                     id="sysDictionaryService" version="2.0.1"/>

    <!--用户-->
    <dubbo:reference interface="com.sandu.user.service.SysUserService"
                     id="sysUserService" version="2.0.1"/>
    <!-- 用户会话服务 -->                 
     <dubbo:reference id="userFinanceService"
                     interface="com.sandu.user.service.UserFinanceService" version="2.0.1"/>

    <!--企业经销商账号组表-->
    <dubbo:reference id="companyFranchiserGroupService"
                     interface="com.sandu.user.service.CompanyFranchiserGroupService" version="1.0.1"/>

    <!--用户权限详情表-->
    <dubbo:reference id="userJurisdictionService"
                     interface="com.sandu.user.service.UserJurisdictionService" version="1.0.1"/>
</beans>