<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- PC端搜索服务 -->
    <dubbo:reference interface="com.nork.product.service.CommonAppSearchService" id="commonAppSearchService"  version="1.0"/>
    <!-- 移动端、运营网站搜索服务 -->
    <dubbo:reference interface="com.nork.product.service.MobileWebSearchService" id="mobileWebSearchService"  version="1.0"/>


</beans>