<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandu.service.companyshop.dao.BaseCompanyMapper">
  <resultMap id="BaseResultMap" type="com.sandu.api.companyshop.model.BaseCompany">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_url" jdbcType="VARCHAR" property="companyUrl" />
    <result column="company_desc" jdbcType="VARCHAR" property="companyDesc" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="street_code" jdbcType="VARCHAR" property="streetCode" />
    <result column="long_area_code" jdbcType="VARCHAR" property="longAreaCode" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="att1" jdbcType="VARCHAR" property="att1" />
    <result column="att2" jdbcType="VARCHAR" property="att2" />
    <result column="att3" jdbcType="VARCHAR" property="att3" />
    <result column="att4" jdbcType="VARCHAR" property="att4" />
    <result column="att5" jdbcType="VARCHAR" property="att5" />
    <result column="att6" jdbcType="VARCHAR" property="att6" />
    <result column="date_att1" jdbcType="TIMESTAMP" property="dateAtt1" />
    <result column="date_att2" jdbcType="TIMESTAMP" property="dateAtt2" />
    <result column="company_logo" jdbcType="INTEGER" property="companyLogo" />
    <result column="num_att2" jdbcType="INTEGER" property="numAtt2" />
    <result column="num_att3" jdbcType="DECIMAL" property="numAtt3" />
    <result column="num_att4" jdbcType="DECIMAL" property="numAtt4" />
    <result column="company_identify" jdbcType="VARCHAR" property="companyIdentify" />
    <result column="industry" jdbcType="INTEGER" property="industry" />
    <result column="small_type" jdbcType="VARCHAR" property="smallType" />
    <result column="num_att1" jdbcType="INTEGER" property="numAtt1" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="company_domain_name" jdbcType="VARCHAR" property="companyDomainName" />
    <result column="company_customer_qq" jdbcType="VARCHAR" property="companyCustomerQq" />
    <result column="category_ids" jdbcType="VARCHAR" property="categoryIds" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="product_visibility_range" jdbcType="VARCHAR" property="productVisibilityRange" />
    <result column="pc_count" jdbcType="INTEGER" property="pcCount" />
    <result column="mobile_count" jdbcType="INTEGER" property="mobileCount" />
    <result column="internal_user_count" jdbcType="INTEGER" property="internalUserCount" />
    <result column="contract_effective_time" jdbcType="TIMESTAMP" property="contractEffectiveTime" />
    <result column="contract_failure_time" jdbcType="TIMESTAMP" property="contractFailureTime" />
    <result column="admin_user_id" jdbcType="INTEGER" property="adminUserId" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="mch_key" jdbcType="VARCHAR" property="mchKey" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="company_main_category" jdbcType="VARCHAR" property="companyMainCategory" />
    <result column="auth_grade" jdbcType="INTEGER" property="authGrade" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
    <result column="member_year" jdbcType="INTEGER" property="memberYear" />
    <result column="visit_count" jdbcType="INTEGER" property="visitCount" />
    <result column="praise_rate" jdbcType="DECIMAL" property="praiseRate" />
    <result column="company_pic_id" jdbcType="INTEGER" property="companyPicId" />
    <result column="company_introduce" jdbcType="VARCHAR" property="companyIntroduce" />
    <result column="company_industrys" jdbcType="VARCHAR" property="companyIndustrys" />
    <result column="is_virtual" jdbcType="INTEGER" property="isVirtual" />
    <result column="is_manage" jdbcType="INTEGER" property="isManage" />
    <result column="is_examine" jdbcType="INTEGER" property="isExamine" />
    <result column="withdraw_rate" jdbcType="REAL" property="withdrawRate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sandu.api.companyshop.model.BaseCompany">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_code, company_code, company_name, company_url, company_desc, province_code, 
    city_code, area_code, street_code, long_area_code, company_address, creator, gmt_create, 
    modifier, gmt_modified, is_deleted, att1, att2, att3, att4, att5, att6, date_att1, 
    date_att2, company_logo, num_att2, num_att3, num_att4, company_identify, industry, 
    small_type, num_att1, business_type, company_domain_name, company_customer_qq, category_ids, 
    business_scope, product_visibility_range, pc_count, mobile_count, internal_user_count, 
    contract_effective_time, contract_failure_time, admin_user_id, pid, brand_id, phone, 
    contact_name, email, contract_number, mch_key, mch_id, app_secret, app_id, company_main_category, 
    auth_grade, deposit, member_year, visit_count, praise_rate, company_pic_id, company_introduce, 
    company_industrys, is_virtual, is_manage, is_examine, withdraw_rate
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from base_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryCompany" resultMap="BaseResultMap">
    select id,company_name from base_company where is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sandu.api.companyshop.model.BaseCompany">
    insert into base_company (id, sys_code, company_code, 
      company_name, company_url, company_desc, 
      province_code, city_code, area_code, 
      street_code, long_area_code, company_address, 
      creator, gmt_create, modifier, 
      gmt_modified, is_deleted, att1, 
      att2, att3, att4, att5, 
      att6, date_att1, date_att2, 
      company_logo, num_att2, num_att3, 
      num_att4, company_identify, industry, 
      small_type, num_att1, business_type, 
      company_domain_name, company_customer_qq, category_ids, 
      business_scope, product_visibility_range, 
      pc_count, mobile_count, internal_user_count, 
      contract_effective_time, contract_failure_time, 
      admin_user_id, pid, brand_id, 
      phone, contact_name, email, 
      contract_number, mch_key, mch_id, 
      app_secret, app_id, company_main_category, 
      auth_grade, deposit, member_year, 
      visit_count, praise_rate, company_pic_id, 
      company_introduce, company_industrys, is_virtual, 
      is_manage, is_examine, withdraw_rate, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{sysCode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{companyUrl,jdbcType=VARCHAR}, #{companyDesc,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{streetCode,jdbcType=VARCHAR}, #{longAreaCode,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{att1,jdbcType=VARCHAR}, 
      #{att2,jdbcType=VARCHAR}, #{att3,jdbcType=VARCHAR}, #{att4,jdbcType=VARCHAR}, #{att5,jdbcType=VARCHAR}, 
      #{att6,jdbcType=VARCHAR}, #{dateAtt1,jdbcType=TIMESTAMP}, #{dateAtt2,jdbcType=TIMESTAMP}, 
      #{companyLogo,jdbcType=INTEGER}, #{numAtt2,jdbcType=INTEGER}, #{numAtt3,jdbcType=DECIMAL}, 
      #{numAtt4,jdbcType=DECIMAL}, #{companyIdentify,jdbcType=VARCHAR}, #{industry,jdbcType=INTEGER}, 
      #{smallType,jdbcType=VARCHAR}, #{numAtt1,jdbcType=INTEGER}, #{businessType,jdbcType=INTEGER}, 
      #{companyDomainName,jdbcType=VARCHAR}, #{companyCustomerQq,jdbcType=VARCHAR}, #{categoryIds,jdbcType=VARCHAR}, 
      #{businessScope,jdbcType=VARCHAR}, #{productVisibilityRange,jdbcType=VARCHAR}, 
      #{pcCount,jdbcType=INTEGER}, #{mobileCount,jdbcType=INTEGER}, #{internalUserCount,jdbcType=INTEGER}, 
      #{contractEffectiveTime,jdbcType=TIMESTAMP}, #{contractFailureTime,jdbcType=TIMESTAMP}, 
      #{adminUserId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{brandId,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{contractNumber,jdbcType=VARCHAR}, #{mchKey,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{companyMainCategory,jdbcType=VARCHAR}, 
      #{authGrade,jdbcType=INTEGER}, #{deposit,jdbcType=DECIMAL}, #{memberYear,jdbcType=INTEGER}, 
      #{visitCount,jdbcType=INTEGER}, #{praiseRate,jdbcType=DECIMAL}, #{companyPicId,jdbcType=INTEGER}, 
      #{companyIntroduce,jdbcType=VARCHAR}, #{companyIndustrys,jdbcType=VARCHAR}, #{isVirtual,jdbcType=INTEGER}, 
      #{isManage,jdbcType=INTEGER}, #{isExamine,jdbcType=INTEGER}, #{withdrawRate,jdbcType=REAL}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sandu.api.companyshop.model.BaseCompany">
    insert into base_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysCode != null">
        sys_code,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyUrl != null">
        company_url,
      </if>
      <if test="companyDesc != null">
        company_desc,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="streetCode != null">
        street_code,
      </if>
      <if test="longAreaCode != null">
        long_area_code,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="att1 != null">
        att1,
      </if>
      <if test="att2 != null">
        att2,
      </if>
      <if test="att3 != null">
        att3,
      </if>
      <if test="att4 != null">
        att4,
      </if>
      <if test="att5 != null">
        att5,
      </if>
      <if test="att6 != null">
        att6,
      </if>
      <if test="dateAtt1 != null">
        date_att1,
      </if>
      <if test="dateAtt2 != null">
        date_att2,
      </if>
      <if test="companyLogo != null">
        company_logo,
      </if>
      <if test="numAtt2 != null">
        num_att2,
      </if>
      <if test="numAtt3 != null">
        num_att3,
      </if>
      <if test="numAtt4 != null">
        num_att4,
      </if>
      <if test="companyIdentify != null">
        company_identify,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="smallType != null">
        small_type,
      </if>
      <if test="numAtt1 != null">
        num_att1,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="companyDomainName != null">
        company_domain_name,
      </if>
      <if test="companyCustomerQq != null">
        company_customer_qq,
      </if>
      <if test="categoryIds != null">
        category_ids,
      </if>
      <if test="businessScope != null">
        business_scope,
      </if>
      <if test="productVisibilityRange != null">
        product_visibility_range,
      </if>
      <if test="pcCount != null">
        pc_count,
      </if>
      <if test="mobileCount != null">
        mobile_count,
      </if>
      <if test="internalUserCount != null">
        internal_user_count,
      </if>
      <if test="contractEffectiveTime != null">
        contract_effective_time,
      </if>
      <if test="contractFailureTime != null">
        contract_failure_time,
      </if>
      <if test="adminUserId != null">
        admin_user_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="mchKey != null">
        mch_key,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="appSecret != null">
        app_secret,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="companyMainCategory != null">
        company_main_category,
      </if>
      <if test="authGrade != null">
        auth_grade,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="memberYear != null">
        member_year,
      </if>
      <if test="visitCount != null">
        visit_count,
      </if>
      <if test="praiseRate != null">
        praise_rate,
      </if>
      <if test="companyPicId != null">
        company_pic_id,
      </if>
      <if test="companyIntroduce != null">
        company_introduce,
      </if>
      <if test="companyIndustrys != null">
        company_industrys,
      </if>
      <if test="isVirtual != null">
        is_virtual,
      </if>
      <if test="isManage != null">
        is_manage,
      </if>
      <if test="isExamine != null">
        is_examine,
      </if>
      <if test="withdrawRate != null">
        withdraw_rate,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null">
        #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyDesc != null">
        #{companyDesc,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="streetCode != null">
        #{streetCode,jdbcType=VARCHAR},
      </if>
      <if test="longAreaCode != null">
        #{longAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        #{att2,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null">
        #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="companyLogo != null">
        #{companyLogo,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="companyIdentify != null">
        #{companyIdentify,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=INTEGER},
      </if>
      <if test="smallType != null">
        #{smallType,jdbcType=VARCHAR},
      </if>
      <if test="numAtt1 != null">
        #{numAtt1,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="companyDomainName != null">
        #{companyDomainName,jdbcType=VARCHAR},
      </if>
      <if test="companyCustomerQq != null">
        #{companyCustomerQq,jdbcType=VARCHAR},
      </if>
      <if test="categoryIds != null">
        #{categoryIds,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null">
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="productVisibilityRange != null">
        #{productVisibilityRange,jdbcType=VARCHAR},
      </if>
      <if test="pcCount != null">
        #{pcCount,jdbcType=INTEGER},
      </if>
      <if test="mobileCount != null">
        #{mobileCount,jdbcType=INTEGER},
      </if>
      <if test="internalUserCount != null">
        #{internalUserCount,jdbcType=INTEGER},
      </if>
      <if test="contractEffectiveTime != null">
        #{contractEffectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractFailureTime != null">
        #{contractFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminUserId != null">
        #{adminUserId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="mchKey != null">
        #{mchKey,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="companyMainCategory != null">
        #{companyMainCategory,jdbcType=VARCHAR},
      </if>
      <if test="authGrade != null">
        #{authGrade,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="memberYear != null">
        #{memberYear,jdbcType=INTEGER},
      </if>
      <if test="visitCount != null">
        #{visitCount,jdbcType=INTEGER},
      </if>
      <if test="praiseRate != null">
        #{praiseRate,jdbcType=DECIMAL},
      </if>
      <if test="companyPicId != null">
        #{companyPicId,jdbcType=INTEGER},
      </if>
      <if test="companyIntroduce != null">
        #{companyIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="companyIndustrys != null">
        #{companyIndustrys,jdbcType=VARCHAR},
      </if>
      <if test="isVirtual != null">
        #{isVirtual,jdbcType=INTEGER},
      </if>
      <if test="isManage != null">
        #{isManage,jdbcType=INTEGER},
      </if>
      <if test="isExamine != null">
        #{isExamine,jdbcType=INTEGER},
      </if>
      <if test="withdrawRate != null">
        #{withdrawRate,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandu.api.companyshop.model.BaseCompany">
    update base_company
    <set>
      <if test="sysCode != null">
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null">
        company_url = #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyDesc != null">
        company_desc = #{companyDesc,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="streetCode != null">
        street_code = #{streetCode,jdbcType=VARCHAR},
      </if>
      <if test="longAreaCode != null">
        long_area_code = #{longAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="att1 != null">
        att1 = #{att1,jdbcType=VARCHAR},
      </if>
      <if test="att2 != null">
        att2 = #{att2,jdbcType=VARCHAR},
      </if>
      <if test="att3 != null">
        att3 = #{att3,jdbcType=VARCHAR},
      </if>
      <if test="att4 != null">
        att4 = #{att4,jdbcType=VARCHAR},
      </if>
      <if test="att5 != null">
        att5 = #{att5,jdbcType=VARCHAR},
      </if>
      <if test="att6 != null">
        att6 = #{att6,jdbcType=VARCHAR},
      </if>
      <if test="dateAtt1 != null">
        date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      </if>
      <if test="dateAtt2 != null">
        date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      </if>
      <if test="companyLogo != null">
        company_logo = #{companyLogo,jdbcType=INTEGER},
      </if>
      <if test="numAtt2 != null">
        num_att2 = #{numAtt2,jdbcType=INTEGER},
      </if>
      <if test="numAtt3 != null">
        num_att3 = #{numAtt3,jdbcType=DECIMAL},
      </if>
      <if test="numAtt4 != null">
        num_att4 = #{numAtt4,jdbcType=DECIMAL},
      </if>
      <if test="companyIdentify != null">
        company_identify = #{companyIdentify,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=INTEGER},
      </if>
      <if test="smallType != null">
        small_type = #{smallType,jdbcType=VARCHAR},
      </if>
      <if test="numAtt1 != null">
        num_att1 = #{numAtt1,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="companyDomainName != null">
        company_domain_name = #{companyDomainName,jdbcType=VARCHAR},
      </if>
      <if test="companyCustomerQq != null">
        company_customer_qq = #{companyCustomerQq,jdbcType=VARCHAR},
      </if>
      <if test="categoryIds != null">
        category_ids = #{categoryIds,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null">
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="productVisibilityRange != null">
        product_visibility_range = #{productVisibilityRange,jdbcType=VARCHAR},
      </if>
      <if test="pcCount != null">
        pc_count = #{pcCount,jdbcType=INTEGER},
      </if>
      <if test="mobileCount != null">
        mobile_count = #{mobileCount,jdbcType=INTEGER},
      </if>
      <if test="internalUserCount != null">
        internal_user_count = #{internalUserCount,jdbcType=INTEGER},
      </if>
      <if test="contractEffectiveTime != null">
        contract_effective_time = #{contractEffectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractFailureTime != null">
        contract_failure_time = #{contractFailureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminUserId != null">
        admin_user_id = #{adminUserId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="mchKey != null">
        mch_key = #{mchKey,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="companyMainCategory != null">
        company_main_category = #{companyMainCategory,jdbcType=VARCHAR},
      </if>
      <if test="authGrade != null">
        auth_grade = #{authGrade,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="memberYear != null">
        member_year = #{memberYear,jdbcType=INTEGER},
      </if>
      <if test="visitCount != null">
        visit_count = #{visitCount,jdbcType=INTEGER},
      </if>
      <if test="praiseRate != null">
        praise_rate = #{praiseRate,jdbcType=DECIMAL},
      </if>
      <if test="companyPicId != null">
        company_pic_id = #{companyPicId,jdbcType=INTEGER},
      </if>
      <if test="companyIntroduce != null">
        company_introduce = #{companyIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="companyIndustrys != null">
        company_industrys = #{companyIndustrys,jdbcType=VARCHAR},
      </if>
      <if test="isVirtual != null">
        is_virtual = #{isVirtual,jdbcType=INTEGER},
      </if>
      <if test="isManage != null">
        is_manage = #{isManage,jdbcType=INTEGER},
      </if>
      <if test="isExamine != null">
        is_examine = #{isExamine,jdbcType=INTEGER},
      </if>
      <if test="withdrawRate != null">
        withdraw_rate = #{withdrawRate,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sandu.api.companyshop.model.BaseCompany">
    update base_company
    set sys_code = #{sysCode,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_url = #{companyUrl,jdbcType=VARCHAR},
      company_desc = #{companyDesc,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      street_code = #{streetCode,jdbcType=VARCHAR},
      long_area_code = #{longAreaCode,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      att3 = #{att3,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      company_logo = #{companyLogo,jdbcType=INTEGER},
      num_att2 = #{numAtt2,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      company_identify = #{companyIdentify,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=INTEGER},
      small_type = #{smallType,jdbcType=VARCHAR},
      num_att1 = #{numAtt1,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=INTEGER},
      company_domain_name = #{companyDomainName,jdbcType=VARCHAR},
      company_customer_qq = #{companyCustomerQq,jdbcType=VARCHAR},
      category_ids = #{categoryIds,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      product_visibility_range = #{productVisibilityRange,jdbcType=VARCHAR},
      pc_count = #{pcCount,jdbcType=INTEGER},
      mobile_count = #{mobileCount,jdbcType=INTEGER},
      internal_user_count = #{internalUserCount,jdbcType=INTEGER},
      contract_effective_time = #{contractEffectiveTime,jdbcType=TIMESTAMP},
      contract_failure_time = #{contractFailureTime,jdbcType=TIMESTAMP},
      admin_user_id = #{adminUserId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      mch_key = #{mchKey,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      company_main_category = #{companyMainCategory,jdbcType=VARCHAR},
      auth_grade = #{authGrade,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DECIMAL},
      member_year = #{memberYear,jdbcType=INTEGER},
      visit_count = #{visitCount,jdbcType=INTEGER},
      praise_rate = #{praiseRate,jdbcType=DECIMAL},
      company_pic_id = #{companyPicId,jdbcType=INTEGER},
      company_introduce = #{companyIntroduce,jdbcType=VARCHAR},
      company_industrys = #{companyIndustrys,jdbcType=VARCHAR},
      is_virtual = #{isVirtual,jdbcType=INTEGER},
      is_manage = #{isManage,jdbcType=INTEGER},
      is_examine = #{isExamine,jdbcType=INTEGER},
      withdraw_rate = #{withdrawRate,jdbcType=REAL},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandu.api.companyshop.model.BaseCompany">
    update base_company
    set sys_code = #{sysCode,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_url = #{companyUrl,jdbcType=VARCHAR},
      company_desc = #{companyDesc,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      street_code = #{streetCode,jdbcType=VARCHAR},
      long_area_code = #{longAreaCode,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      att1 = #{att1,jdbcType=VARCHAR},
      att2 = #{att2,jdbcType=VARCHAR},
      att3 = #{att3,jdbcType=VARCHAR},
      att4 = #{att4,jdbcType=VARCHAR},
      att5 = #{att5,jdbcType=VARCHAR},
      att6 = #{att6,jdbcType=VARCHAR},
      date_att1 = #{dateAtt1,jdbcType=TIMESTAMP},
      date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
      company_logo = #{companyLogo,jdbcType=INTEGER},
      num_att2 = #{numAtt2,jdbcType=INTEGER},
      num_att3 = #{numAtt3,jdbcType=DECIMAL},
      num_att4 = #{numAtt4,jdbcType=DECIMAL},
      company_identify = #{companyIdentify,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=INTEGER},
      small_type = #{smallType,jdbcType=VARCHAR},
      num_att1 = #{numAtt1,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=INTEGER},
      company_domain_name = #{companyDomainName,jdbcType=VARCHAR},
      company_customer_qq = #{companyCustomerQq,jdbcType=VARCHAR},
      category_ids = #{categoryIds,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      product_visibility_range = #{productVisibilityRange,jdbcType=VARCHAR},
      pc_count = #{pcCount,jdbcType=INTEGER},
      mobile_count = #{mobileCount,jdbcType=INTEGER},
      internal_user_count = #{internalUserCount,jdbcType=INTEGER},
      contract_effective_time = #{contractEffectiveTime,jdbcType=TIMESTAMP},
      contract_failure_time = #{contractFailureTime,jdbcType=TIMESTAMP},
      admin_user_id = #{adminUserId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      mch_key = #{mchKey,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      company_main_category = #{companyMainCategory,jdbcType=VARCHAR},
      auth_grade = #{authGrade,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DECIMAL},
      member_year = #{memberYear,jdbcType=INTEGER},
      visit_count = #{visitCount,jdbcType=INTEGER},
      praise_rate = #{praiseRate,jdbcType=DECIMAL},
      company_pic_id = #{companyPicId,jdbcType=INTEGER},
      company_introduce = #{companyIntroduce,jdbcType=VARCHAR},
      company_industrys = #{companyIndustrys,jdbcType=VARCHAR},
      is_virtual = #{isVirtual,jdbcType=INTEGER},
      is_manage = #{isManage,jdbcType=INTEGER},
      is_examine = #{isExamine,jdbcType=INTEGER},
      withdraw_rate = #{withdrawRate,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>