<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.companyshop.dao.ShopidentificationMapper">
    <resultMap id="BaseResultMap" type="com.sandu.api.companyshop.model.Shopidentification">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="identify_type" jdbcType="TINYINT" property="identifyType"/>
        <result column="identify_name" jdbcType="VARCHAR" property="identifyName"/>
        <result column="company_legal_person" jdbcType="VARCHAR" property="companyLegalPerson"/>
        <result column="identify_card" jdbcType="VARCHAR" property="identifyCard"/>
        <result column="front_pic_id" jdbcType="INTEGER" property="frontPicId"/>
        <result column="backend_pic_id" jdbcType="INTEGER" property="backendPicId"/>
        <result column="hand_pic_id" jdbcType="INTEGER" property="handPicId"/>
        <result column="category_ids" jdbcType="VARCHAR" property="categoryIds"/>
        <result column="business_license" jdbcType="VARCHAR" property="businessLicense"/>
        <result column="approve_status" jdbcType="TINYINT" property="approveStatus"/>
        <result column="approve_remark" jdbcType="VARCHAR" property="approveRemark"/>
        <result column="approve_user_id" jdbcType="VARCHAR" property="approveUserId"/>
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,identify_type,identify_name,company_legal_person,identify_card,front_pic_id,backend_pic_id,hand_pic_id,category_ids,business_license,approve_status,approve_remark,approve_user_id,approve_time,is_deleted,creator,gmt_create,modifier,gmt_modified
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.sandu.api.companyshop.model.Shopidentification">
        insert into company_shop_identification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="identifyType != null">
                identify_type,
            </if>
            <if test="identifyName != null">
                identify_name,
            </if>
            <if test="companyLegalPerson != null">
                company_legal_person,
            </if>
            <if test="identifyCard != null">
                identify_card,
            </if>
            <if test="frontPicId != null">
                front_pic_id,
            </if>
            <if test="backendPicId != null">
                backend_pic_id,
            </if>
            <if test="handPicId != null">
                hand_pic_id,
            </if>
            <if test="categoryIds != null">
                category_ids,
            </if>
            <if test="businessLicense != null">
                business_license,
            </if>
            <if test="approveStatus != null">
                approve_status,
            </if>
            <if test="approveRemark != null">
                approve_remark,
            </if>
            <if test="approveUserId != null">
                approve_user_id,
            </if>
            <if test="approveTime != null">
                approve_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="identifyType != null">
                #{identifyType,jdbcType=TINYINT},
            </if>
            <if test="identifyName != null">
                #{identifyName,jdbcType=VARCHAR},
            </if>
            <if test="companyLegalPerson != null">
                #{companyLegalPerson,jdbcType=VARCHAR},
            </if>
            <if test="identifyCard != null">
                #{identifyCard,jdbcType=VARCHAR},
            </if>
            <if test="frontPicId != null">
                #{frontPicId,jdbcType=INTEGER},
            </if>
            <if test="backendPicId != null">
                #{backendPicId,jdbcType=INTEGER},
            </if>
            <if test="handPicId != null">
                #{handPicId,jdbcType=INTEGER},
            </if>
            <if test="categoryIds != null">
                #{categoryIds,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="approveStatus != null">
                #{approveStatus,jdbcType=TINYINT},
            </if>
            <if test="approveRemark != null">
                #{approveRemark,jdbcType=VARCHAR},
            </if>
            <if test="approveUserId != null">
                #{approveUserId,jdbcType=VARCHAR},
            </if>
            <if test="approveTime != null">
                #{approveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.sandu.api.companyshop.model.Shopidentification">
        update company_shop_identification
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="identifyType != null">
                identify_type = #{identifyType,jdbcType=TINYINT},
            </if>
            <if test="identifyName != null">
                identify_name = #{identifyName,jdbcType=VARCHAR},
            </if>
            <if test="companyLegalPerson != null">
                company_legal_person = #{companyLegalPerson,jdbcType=VARCHAR},
            </if>
            <if test="identifyCard != null">
                identify_card = #{identifyCard,jdbcType=VARCHAR},
            </if>
            <if test="frontPicId != null">
                front_pic_id = #{frontPicId,jdbcType=INTEGER},
            </if>
            <if test="backendPicId != null">
                backend_pic_id = #{backendPicId,jdbcType=INTEGER},
            </if>
            <if test="handPicId != null">
                hand_pic_id = #{handPicId,jdbcType=INTEGER},
            </if>
            <if test="categoryIds != null">
                category_ids = #{categoryIds,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                business_license = #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="approveStatus != null">
                approve_status = #{approveStatus,jdbcType=TINYINT},
            </if>
            <if test="approveRemark != null">
                approve_remark = #{approveRemark,jdbcType=VARCHAR},
            </if>
            <if test="approveUserId != null">
                approve_user_id = #{approveUserId,jdbcType=VARCHAR},
            </if>
            <if test="approveTime != null">
                approve_time = #{approveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update company_shop_identification set is_deleted = 1
        where id IN
        <foreach separator="," open="(" close=")" collection="shopidentificationIds" item="shopidentificationId">
            #{shopidentificationId}
        </foreach>
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from company_shop_identification
        where id = #{shopidentificationId,jdbcType=INTEGER}
    </select>

    <select id="findAll" resultMap="BaseResultMap" parameterType="com.sandu.api.companyshop.input.ShopidentificationQuery">
        select
        <include refid="Base_Column_List"/>
        from company_shop_identification
        where is_deleted=0
    </select>
    <select id="getByShopId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from company_shop_identification
        where shop_id = #{shopId,jdbcType=INTEGER}
    </select>
</mapper>