<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd


	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描Controller-->
    <context:component-scan base-package="com.nork.*.controller,com.nork.threadpool"/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

	<bean id="customObjectMapper2" class="com.fasterxml.jackson.databind.ObjectMapper">
              <!-- 处理responseBody 里面日期类型 -->  
		     <property name="dateFormat">  
		         <bean class="java.text.SimpleDateFormat">  
		             <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />  
		         </bean>  
		     </property>  
		     <!-- 时区指定 -->  
		     <property name="timeZone" value="GMT+8" />
    </bean> 
    <!--返回信息格式-->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
        <property name="objectMapper" ref="customObjectMapper2"></property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

	<!-- 定义视图文件解析 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="5"/>
		<property name="prefix" value="/pages/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView">
		</property>
	</bean>
	<!-- <bean id="jasperReportsViewResolver" class="org.springframework.web.servlet.view.jasperreports.JasperReportsViewResolver">
	    <property name="order" value="0"/>    视图渲染优先级，此处为0，优先于渲染JSP
 	    <property name="viewClass" value="com.nork.common.resolver.MyReportsView"/> 自定义视图渲染类，继承于JasperReportsMultiFormatView
 	    <property name="prefix" value="/pages/report/jasper/"/>    报表模板路径
	    <property name="suffix" value=".jasper"/> 模板后缀
 	    <property name="viewNames" value="*Report"/> 试图渲染所有以"Report"结尾的视图名(viewName)
	    <property name="cache" value="false"/> 缓存模板(false时，每次请求都会重新加载模板，建议debug模板时设置为false)
 	    <property name="jdbcDataSource" ref="dataSource"/>    指定数据源
 	    <property name="exporterParameters">  渲染时的相关参数
 	        <map>
	            <entry key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.IMAGES_URI" value="images/"/>  HTML时的白色背景图片(px)路径
 	            <entry key="net.sf.jasperreports.engine.export.JRHtmlExporterParameter.CHARACTER_ENCODING" value="UTF-8"/>
 	        </map>
 	    </property>
 	</bean> -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="10485760"/>
        <property name="resolveLazily" value="true"/>
    </bean>
</beans>