<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.search.dao.UserDesignPlanPurchaseRecordDao" >

  <!-- 查询方案列表中用户购买的推荐方案 -->
    <select id="selectPlanZFPayList" resultType="java.lang.Integer">
        SELECT
            design_plan_id
        FROM
            user_design_plan_purchase_record u
        WHERE   u.user_id = #{userId}
            AND u.design_plan_id  IN
            <foreach collection="idList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND u.trade_status = 2
            AND u.is_deleted = 0
    </select>

    <select id="selectUserCompanyId" resultType="java.lang.Integer">
        SELECT
            company_id
        FROM
            sys_user
        WHERE	id = #{userId}
            AND is_deleted = 0
    </select>

    <select id="getPlanBuyInfo" resultType="com.sandu.search.entity.designplan.po.PlanTypeInfoPo">
        SELECT
            plan_id    as planId,
            case plan_type
            when 0 THEN 2
            ELSE plan_type END planType
        FROM
          company_design_plan_income
        WHERE
            buyer_id = #{userId}
            and is_deleted = 0
            <choose>
                <when test="idList != null and idList.size() > 0">
                    and (
                    <foreach collection="idList" item="item" index="index" separator="or" open="(" close=")">
                        (
                         plan_id = #{item.planId}
                        <if test="item.planType != null and item.planType == 1">
                            and plan_type = 1
                        </if>
                        <if test="item.planType != null and item.planType == 2">
                            and plan_type = 0
                        </if>
                        )
                    </foreach>
                    )
                </when>
                <otherwise>
                    and id = -1
                </otherwise>
            </choose>
    </select>
</mapper>