<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--扫描服务/配置文件-->
    <import resource="classpath:spring/spring-common.xml"/>
    <!--加载DUBBO配置-->
    <import resource="classpath:dubbo/spring-dubbo.xml"/>
    <!--加载数据库数据源-->
    <!--<import resource="classpath:spring/spring-mybatis.xml"/>-->
    <!--加载服务消费-->
    <import resource="classpath:dubbo/consumer/spring-dubbo-consumer-***.xml"/>
    <!--加载服务提供-->
    <import resource="classpath:dubbo/provider/spring-dubbo-provider-***.xml"/>
    <!--加载redis配置文件-->
    <import resource="spring-redis.xml"></import>
</beans>